@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Press Start 2P', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    background: #112;
}

.main {
    flex: 1;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 767.98px) {
    .main .top-row {
        display: none;
    }

    app {
        width: fit-content;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: calc(100vw);
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }
}

/* Bootstrap */
.container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}

/* FFR */

body {
    font-size: 14px;
    background-color: #3cbcfc;
    background-image: url("/images/bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

#welcome {
    margin-top: 100px;
    text-align: center;
}

h4 {
    font-size: 18px;
}

.nes-nav {
    display: block;
    margin-top: 14px;
}

.nes-container {
    margin-top: -6px;
    margin-left: -2px;
}

    .nes-container::after {
        border-radius: 0px;
    }

.checkbox-cell {
    min-height: 20px;
    margin: 0;
    padding: 0;
}

.slider-cell {
    height: 35px;
    margin: 0;
    padding: 0;
}

.indent {
    margin-left: 20px;
}

.disabled {
    color: grey;
}

td {
    padding: 12px;
    text-align: center;
    min-width: 96px;
}

input[type=checkbox] {
    transform: scale(1.3);
}

select {
    margin-bottom: 6px;
}

tr.odd {
    background: rgba(0, 0, 0, 0.05);
}

.ffr-nav {
    font-size: 18px;
    padding: 6px;
    margin-right: 20px;
}

    .ffr-nav:hover {
        text-decoration: none
    }

    .ffr-nav.active {
        border-bottom: 4px solid #444;
    }

.tinted {
    background: rgba(0, 0, 0, 0.5);
}

.main-menu {
    margin: 50px auto;
}

.main-menu-row {
    margin: 10px;
    min-height: 60px;
}

    .main-menu-row:hover {
        background-color: rgba(0, 0, 0, 0.2)
    }

.main-menu a {
    display: flex;
    align-content: center;
}

.discord-logo {
    display: block;
    background-image: url("/images/discord.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}
