@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

/* import the relevent site css file, this line replaced when building by the circle config */
@import url('main.css');



html, body {
    font-family: monospace;
    user-select: none;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    z-index: 100;
    background: var(--DARK_BACKGROUND_COLOR);
}

.spaced-row {
    margin-bottom: 4px;
}

.main {
    flex: 1;
}

.update-notification {
    background-color:darkcyan;
    border-radius: 15px;
}

.nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

        .nav-item a.active {
            background-color: rgba(255,255,255,0.25);
            color: white;
        }

        .nav-item a:hover {
            background-color: rgba(255,255,255,0.1);
            color: white;
        }

.nes-btn {
    font-family: 'Press Start 2P';
    font-size: 14px;
}

    .nes-btn:active {
        transform: translateY(2px);
    }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

@media (max-width: 849.98px) {
    .main .top-row {
        display: none;
    }

    app {
        width: fit-content;
    }

    .table-wrapper {
        overflow-x: auto;
        max-width: calc(100vw);
        margin: 0 auto;
    }
}

@media (min-width: 850px) {
    app {
        flex-direction: row;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }
}

/* Bootstrap */
.container {
    margin-left: 0;
    margin-right: 0;
    margin-top: 15px;
}

/* FFR */

body {
    background-color: #3cbcfc;
    background-image: url("/images/bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    line-height: initial;
    font-size: 18px;
}

#welcome {
    margin-top: 100px;
    text-align: center;
}

h1, h2, h4 {
    font-family: 'Press Start 2P';
}

.nes-nav {
    display: block;
    margin-top: 14px;
}

.nes-container {
    margin-top: -6px;
    margin-left: -2px;
}

    .nes-container::after {
        border-radius: 0px;
    }

.checkbox-cell {
    font-family: monospace;
    white-space: nowrap;
    overflow: hidden;
    min-height: 20px;
    margin: 0;
    padding: 0;
}

    .checkbox-cell label {
        max-width: calc(100% - 64px);
        text-overflow: ellipsis;
        overflow-x: hidden;
        vertical-align: top;
    }

.dropdown-cell {
    white-space: normal;
}


.slider-cell {
    height: 35px;
    margin: 0;
    padding: 0;
}

.indent {
    margin-left: 20px;
}

.disabled {
    filter: grayscale(85%);
    color: grey;
}

td {
    padding: 12px;
    text-align: center;
    min-width: 96px;
}

input[type=checkbox] {
    transform: scale(1.3);
    margin-left: 2px;
    cursor: pointer;
}

select {
    margin-bottom: 6px;
}

tr.odd {
    background: rgba(0, 0, 0, 0.05);
}

.ffr-nav {
    font-size: 18px;
    font-family: 'Press Start 2P';
    padding: 6px;
    margin-right: 20px;
    color: var(--TOPBAR_FONT_COLOR)
}

    .ffr-nav:hover {
        text-decoration: none;
        color: #ffffff;
    }

    .ffr-nav.active {
        border-bottom: 4px solid #444;
    }

.tinted {
    background: rgba(0, 0, 0, 0.5);
}

.main-menu {
    margin: 50px auto;
}

.main-menu-row {
    margin: 10px;
    min-height: 60px;
    font-family: 'Press Start 2P';
    color: var(--TOPBAR_FONT_COLOR);
}

    .main-menu-row:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffffff;
    }

.main-menu a {
    display: flex;
    align-content: center;
}

.discord-logo {
    display: block;
    background-image: url("/images/discord.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.pokerchip-icon {
    display: block;
    background-image: url("/images/chip.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
}

.tri-state {
    font-size: 9px;
    padding: 0px;
    height: 15px;
    width: 15px;
    cursor: default;
    border-radius: 2px;
}

.tri-yes {
    color: #54bc52;
}

.tri-maybe {
    color: #c8916e;
}

.ffr-tooltip {
    position: fixed;
    z-index: 1000;
}

.ffr-tooltip-screenshot {
    width: 256px;
    height: 224px;
    float: right;
    background-size: 100% 100%;
    margin: 0 0 20px 20px;
    border: 2px solid white;
}

.ffr-tooltip-close {
    position: absolute;
    right: 2px;
}

.btn-group-help {
    opacity: 0.25;
}

    .btn-group-help:hover {
        opacity: 0.75;
    }

p {
    font-family: monospace;
}
