root = true

[*]
insert_final_newline = true

[*.{cs,xaml}]
indent_size = 4
indent_style = tab
end_of_line = crlf

[*.{config,csproj}]
indent_size = 2
indent_style = space

[*.js]
indent_size = 4
indent_style = tab
end_of_line = lf
