@using FF1Lib;
@inject NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage


<div id="Beta" class="tabcontent framed-content clearfix @(noTabLayout ? "no-tab" : "")">
	<h3>Hidden Flags</h3>
	<p>This is a mystery seed; flags have been hidden.</p>
	<a class="styled-button" @onclick="@(() => LoadStandardPreset("default"))">Reset</a>
	<input hidden type="text" id="presetNameInput" />
	<div class="clear-it"></div>
</div>


@code {
	[Parameter] public FF1Lib.Flags Flags { get; set; }
	[Parameter]	public Action<string, string> UpdateAction { get; set; }
	[Parameter] public bool noTabLayout { get; set; }
	[Parameter] public Action<string> SetStatusMessage { get; set; }
	[Parameter] public string StatusMessage { get; set; }

	async Task LoadStandardPreset(string name)
	{
		var json = await JSRuntime.InvokeAsync<string>("computePreset", name);
		Flags.BlindSeed = false;
		LoadFromJson(json);
		Flags.ResourcePack = null;
		await JSRuntime.InvokeAsync<Task>("clearTextInput","setResourcePackUrlInput");
		UpdateAction?.Invoke("UpdateResourcePackUrl", "");
		UpdateAction?.Invoke("UpdateFlagstring", "");	
	}

	public void LoadFromJson(string json)
	{
		var preset = Flags.FromJson(json);

		Flags.ReadFromFlags(preset.flags);

		if (preset.log.Any())
		{
			SetStatusMessage.Invoke("<p>" + preset.name + " was loaded with errors:</p>" + "<p>" + string.Join("</p><p>", preset.log) + "</p>");
		}
		else
		{
			SetStatusMessage.Invoke(preset.name + " preset successfully loaded.");
		}

		StateHasChanged();
	}
}
