@using FF1Lib;

<button type="button" class="@(IsOpen ? "nes-btn nes-nav is-success" : "nes-btn nes-nav is-warning")" @onclick="@(() => IsOpen = !IsOpen)">Hints</button>
<BSCollapse IsOpen="@IsOpen">
	<div class="is-dark nes-container">
		<div class="row">
			<div class="col-md-12">
				<CheckBox @bind-Value="Flags.ExtensiveHints_Enable">Enable Hints</CheckBox>
				<br />
				<div class="table-wrapper">
					<table>
						<tr>
							<td style="text-align:left">Category</td>
							<td>Coverage</td>
							<td>Placement</td>
						</tr>
						<tr>
							<td style="text-align:left">Loose on Floor</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_LooseItemFloorCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_LooseItemFloorPlacement" /></td>
						</tr>
						<tr>
							<td style="text-align:left">Loose Name in Location</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_LooseItemNameCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_LooseItemNamePlacement" /></td>
						</tr>

						<tr>
							<td style="text-align:left">Incentivized Name in Location</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_IncentiveItemNameCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_IncentiveItemNamePlacement" /></td>
						</tr>

						<tr>
							<td style="text-align:left">Floor Hints</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_FloorHintCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_FloorHintPlacement" /></td>
						</tr>

						<tr>
							<td style="text-align:left">Equipment on Floor</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_EquipmentFloorCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_EquipmentFloorPlacement" /></td>
						</tr>

						<tr>
							<td style="text-align:left">Equipment Name in Location</td>
							<td><EnumDropDown TItem="HintCategoryCoverage" @bind-Value="Flags.ExtensiveHints_EquipmentNameCoverage" /></td>
							<td><EnumDropDown TItem="HintPlacementStrategy" @bind-Value="Flags.ExtensiveHints_EquipmentNamePlacement" /></td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</BSCollapse>

	@code { [Parameter] public FF1Lib.FlagsViewModel Flags { get; set; }
				[Parameter] public Action<string, MouseEventArgs> UpdateToolTipID { get; set; }
				[Parameter] public bool IsOpen { get; set; } = true; }
