@using System.ComponentModel;
@using System.IO;
@using RomUtilities;
@using FF1Lib;
@using System.Text.Json;
@using BlazorStrap
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div id="announcement" class="framed-content ffr-tooltip-content">
	<a class="styled-button ffr-tooltip-close-announcement" @onclick="@onclick"> X </a>
	<h3 class="centered">Spring Tournament 2021</h3>
	<p>
		The FFR Spring Tournament 2021 "Chaos Comedy Tour" has now begun and will run until June. Come join the discord and cheer for our runners!
	</p>
	<div class="row">&nbsp;</div>
	<div class="centered" style="margin: auto; max-width: 80%">
		<a class="styled-button announcement" href="https://challonge.com/2021_FFR_ST">TOURNAMENT PAGE</a>
		<a class="styled-button announcement" href="https://discord.gg/95gbpFd">COMMUNITY DISCORD</a>
	</div>
</div>



@code {
	[Parameter] public Action<bool> SetHideAnnouncement { get; set; }

	async Task onclick()
	{
		// Announcement ID needs to be changed for each new events, also need to be changed in Randomizer.razor
		//  both need to match
		await LocalStorage.SetItemAsync("announcement_st2021f", true);
		SetHideAnnouncement(true);
	}






	}
