@using System.ComponentModel;
@using System.IO;
@using RomUtilities;
@using FF1Lib;
@using System.Text.Json;
@using BlazorStrap
@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService LocalStorage

<div id="announcement" class="framed-content ffr-tooltip-content">
	<a class="styled-button ffr-tooltip-close-announcement" @onclick="@onclick"> X </a>
	<h3 class="centered">Spring Tournament 2021</h3>
	<p>
		Registrations are now open for the FFR Spring Tournament 2021, "Chaos Comedy Tour". Come join the discord and get in on the antics in this year's big event.
	</p>
	<p>
		Tournament starts April 5, 2021. We hope to see you there!
	</p>
	<div class="row">&nbsp;</div>
	<div class="centered" style="margin: auto; max-width: 80%">
		<a class="styled-button announcement" href="https://docs.google.com/forms/d/e/1FAIpQLSc-AYoULR6ynhA3QmmRG85MftxEeSMicsVkbj_3Mz3YjJPKJQ/viewform">REGISTRATION FORM</a>
		<a class="styled-button announcement" href="https://discord.gg/95gbpFd">COMMUNITY DISCORD</a>
	</div>
</div>



@code {
	[Parameter] public Action<bool> SetHideAnnouncement { get; set; }

	async Task onclick()
	{
		// Announcement ID needs to be changed for each new events, also need to be changed in Randomizer.razor
		//  both need to match
		await LocalStorage.SetItemAsync("announcement_st2021", true);
		SetHideAnnouncement(true);
	}






	}
