<div>
	<NavLink class="ffr-nav" href="" Match=NavLinkMatch.All>
		Final Fantasy Randomizer @FF1Lib.FF1Rom.Version
	</NavLink>
	<NavLink class="ffr-nav" href="Randomize">
		<span class="oi oi-random" aria-hidden="true"></span> Randomize
	</NavLink>
	<NavLink class="ffr-nav" href="WhatsNew">
		<span class="oi oi-question-mark" aria-hidden="true"></span> What's New
	</NavLink>
	<NavLink class="ffr-nav" href="https://github.com/FiendsOfTheElements/FF1Randomizer/releases">
		<span class="oi oi-data-transfer-download" aria-hidden="true"></span> Download
	</NavLink>
	<NavLink class="ffr-nav" href="https://github.com/FiendsOfTheElements/FF1Randomizer/issues">
		<span class="oi oi-bug" aria-hidden="true"></span> Report a Bug
	</NavLink>
</div>
