@using System.Net.Http.Json
@inject HttpClient  Http
	<div id="top-nav">
		<div id="orbs">
			<span class="orb-image"></span>
			<span class="orb-image"></span>
			<span class="orb-image"></span>
			<span class="orb-image"></span>
		</div>

		<nav id="site-nav">
			<span class="nav-item-main" id="randomize"><a href="Randomize">Randomize</a></span>
			<span class="nav-item-main" id="about"><a href="About">About</a></span>
			<span class="nav-item-main" id="help"><a href="WhatsNew">Help</a></span>
			<span class="nav-item-main" id="issues"><a href="https://github.com/FiendsOfTheElements/FF1Randomizer/issues">Issues</a></span>
			<span class="nav-item-main" id="install"><a href="javascript:showPWAInstall()">Install</a></span>
		</nav>
	</div>
