<div>
	<NavLink class="ffr-nav" href="" Match=NavLinkMatch.All>
		<span class="oi oi-home" aria-hidden="true"></span> Home
	</NavLink>
	<NavLink class="ffr-nav" href="Randomize">
		<span class="oi oi-random" aria-hidden="true"></span> Randomize
	</NavLink>
</div>
