@inject HttpClient  Http

<div class="ffr-tooltip" style="@css">
	<button type="button" class="nes-btn">@Title</button>
	<div class="is-dark nes-container">
		<div class="ffr-tooltip-screenshot" style="@(ScreenshotStyle())"></div>
		<p class="ffr-tooltip-text">@Description</p>
	</div>
</div>

@functions
{
	class ToolTipObj
	{
		public string Id { get; set; }
		public string title { get; set; }
		public string description { get; set; }
		public string screenshot { get; set; }
	}

	[CascadingParameter]
	protected string ToolTipId { get; set; }

	private List<ToolTipObj> Tooltips { get; set; }
	protected override async Task OnInitAsync()
	{
		Tooltips = await Http.GetJsonAsync<List<ToolTipObj>>("/tooltips/tooltips.json");
	}

	private ToolTipObj TTip => Enabled ? Tooltips.FirstOrDefault(x => x.Id == ToolTipId) : null;
	private string Title => Enabled ? (TTip != null ? TTip.title : "no title") : "";
	private string Description => Enabled ? (TTip != null ? TTip.description : "no description") : "";
	private int Width = 800;
	private bool Enabled { get; set; } = false;
	private string Visible => (Enabled ? "visibility:visible;" : "visibility:hidden;");
	private long PosTop { get; set; } = 0;
	private long PosLeft { get; set; } = 0;
	private string css => "left:" + PosLeft + "px;top:" + PosTop + "px;" + Visible + "width: " + Width + "px;";



	private string ScreenshotStyle()
	{
		if (!Enabled || TTip == null || TTip.screenshot == null)
			return "display: none;";

		return $"background-image: url(/images/tooltips/{TTip.screenshot})";
	}

	private void ShowToolTip()
	{
		Enabled = true;
	}

	private void HideToolTip()
	{
		Enabled = false;
	}

	public async Task UpdatePos(string Id, UIMouseEventArgs e)
	{
		if (Id == "")
		{
			HideToolTip();
			StateHasChanged();
			return;
		}
		ShowToolTip();
		PosTop = (e.ClientY - 128);
		long left = (e.ClientX + 50);
		int ScreenRightEdge = await JSRuntime.Current.InvokeAsync<int>("getScreenRightEdge");
		if (left + Width >= ScreenRightEdge - 30) // distance from the right edge before we draw the tooltip div on the left side of the cursor
		{
			PosLeft = (e.ClientX - 50 - Width);
		}
		else
		{
			PosLeft = (e.ClientX + 50); // add offset from the cursor (so it appears to the side instead of ontop of it)
		}
		StateHasChanged();

		return;
	}
}
