@inject IJSRuntime JSRuntime;
<a class="update-notification" style=@css href="@newlink">New Version Available, Click Here</a>

@code {
    private static Action<string> action;
    private string css = "visibility: hidden";
    private string newlink = "";

    private void showNotification(string url)
    {
        css = "visibility: visible";
	newlink = url;
        StateHasChanged();
    }

    protected override void OnInitialized()
    {
        action = showNotification;
    }

    [JSInvokable]
    public static void ShowUpdateNotification(string url)
    {
        action.Invoke(url);
    }

}
