@inject IJSRuntime JSRuntime;
<a class="update-notification" style=@css href="@newlink" @onclick=@UpdateServiceWorkerNow>New Version Available, Click Here</a>

@code {
    private static Action<string> action;
    private string css = "visibility: hidden";
    private string newlink = "";

    private void showNotification(string url)
    {
        css = "visibility: visible";
	if (url != "reload") {
	  newlink = url;
	}
        StateHasChanged();
    }

    private async Task UpdateServiceWorkerNow()
    {
        if (newlink == "") {
          await JSRuntime.InvokeVoidAsync("updateServiceWorkerNow");
	}
    }

    protected override void OnInitialized()
    {
        action = showNotification;
    }

    [JSInvokable]
    public static void ShowUpdateNotification(string url)
    {
        action.Invoke(url);
    }

}
