body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 340px;
}

.section {
	margin-top: 15px;
}

input[type=checkbox].indent {
	margin-left: 20px;
}

.tab-content {
	background-color: #ddd;
	padding-bottom: 10px;
}

.nav-pills > li.active > a {
	background-color: #ddd;
	color: #000;
	border-radius: 4px 4px 0 0;
}

.nav-pills > li.active > a:focus, .nav-pills > li.active > a:hover {
	background-color: #ddd;
	color: #000;
	border-radius: 4px 4px 0 0;
}

.nav-pills > li > a:hover {
	border-radius: 4px 4px 0 0;
}

.nav-pills > li > a {
	color: #000;
}

.checkbox-cell {
	height: 30px;
	margin: 0;
	padding: 0;
}

.slider-cell {
	height: 35px;
	margin: 0;
	padding: 0;
}

input[type=range] {
	-webkit-appearance: none;
	background-color: #ddd;
	cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
	-webkit-appearance: none;
	background-color: #fff;
	border-radius: 3px;
	height: 6px;
	border: 1px solid #777;
	margin-top: 5px;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 12px;
	width: 12px;
	border-radius: 6px;
	border: 1px solid #000;
	background-color: #fff;
	margin-top: -3px;
}

input[type=range]::-ms-track {
	background-color: #fff;
	border-radius: 3px;
	height: 6px;
	border: 1px solid #777;
}

input[type=range]::-ms-thumb {
	background-color: #fff;
	margin-top: 3px;
}

input[type=range]::-moz-range-track {
	background-color: #fff;
	border: 1px solid #777;
}

input[type=range]::-moz-range-thumb {
	background-color: #fff;
	border: 1px solid #777;
}

a:hover {
	cursor: pointer;
}

img {
    margin: 2px;
    padding: 6px;
    background: rgb(200, 200, 200);
    border-radius: 4px;
}
