@{
    ViewData["Title"] = "FF1 Randomizer Online " + FF1Lib.FF1Rom.Version;
}

<h1>Welcome!</h1>
Join the <a href="https://discord.gg/pERvC56">Discord!</a><br />
<a href="http://challonge.com/ffronetourney">Inaugural FF1 Randomizer Tournament</a> -- In Progress!<br />
Tournament <a href="https://docs.google.com/spreadsheets/d/16pe56OhxstrG6oUucXP7vGcHhnNsdXcHJ9-hjE6S1ms/">Schedule</a><br />
<a href="https://docs.google.com/document/d/1Jx0Ucc3Z4lUXd4uYFU4c3UJvn7QGU56harcrKp-N5Jk/edit">New Player's Guide</a><br />
<a href="http://ffr.philes.net/">Advanced Player's Guide</a><br />
