<h1>Welcome!</h1>
<p>&nbsp;</p>
Join the <a href="https://discord.gg/pERvC56">Final Fantasy 1 Randomizer &amp; Tournament Discord!</a><br />
Join the <a href="https://discord.gg/p5MdYue">FF1 Randomizer Community Center Discord</a><br />
Join the <a href="https://discord.gg/s7CRejk">FFR Developer's Discord</a><br />
<p>&nbsp;</p>
See <a href="/Home/WhatsNew">What's New!</a><br />
Or <a href="/Home/Randomize">Generate</a> a randomized ROM!<br />
