@{
    ViewData["Title"] = "FF1 Randomizer Online " + FF1Lib.FF1Rom.Version;
}

<div class="container">
	<h1>Welcome!</h1>
	<a href="http://challonge.com/ffronetourney">Inaugural FF1 Randomizer Tournament</a> -- In Progress!<br/>
	<a href="https://docs.google.com/spreadsheets/d/16pe56OhxstrG6oUucXP7vGcHhnNsdXcHJ9-hjE6S1ms/edit#gid=1057427397">Tournament Schedule</a><br />
	<a href="https://docs.google.com/document/d/1Jx0Ucc3Z4lUXd4uYFU4c3UJvn7QGU56harcrKp-N5Jk/edit">New Player's Guide</a><br />
</div>
