@model FF1RandomizerOnline.Models.RandomizeModel

@{
	ViewData["Title"] = "FF1 Randomizer Online " + FF1Lib.FF1Rom.Version;
}

<h1>Coming Soon!</h1>
<form enctype="multipart/form-data" asp-action="Randomize">
	<label>Upload ROM</label><br />
	<label class="btn btn-default"><input type="file" asp-for="File" style="display: none"/>Browse</label>
	@Html.ValidationSummary()
	<div class="row">
		<div class="col-xs-3"><label asp-for="Seed" />Seed</div>
		<div class="col-xs-3"><label for="flags">Flags</label></div>
	</div>
	<div class="row">
		<div class="col-xs-3"><input class="form-control" asp-for="Seed" type="text" /></div>
		<div class="col-xs-3"><input class="form-control" id="flags" type="text" /></div>
		<div class="col-xs-6">
			<input class="btn btn-default" type="button" value="Copy" />
			<input class="btn btn-default" type="button" value="Paste" />
			<input class="btn btn-default" type="button" value="New Seed" />
		</div>
	</div>
	<ul class="section nav nav-pills">
		<li class="active"><a href="#shuffle" data-toggle="tab">Shuffle</a></li>
		<li><a href="#scale" data-toggle="tab">Scale</a></li>
		<li><a href="#conveniences" data-toggle="tab">Conveniences</a></li>
		<li><a href="#bug-fixes" data-toggle="tab">Bug Fixes</a></li>
	</ul>
	<div class="container tab-content clearfix">
		<div class="container section tab-pane active" id="shuffle">
			<div class="row">
				<input type="checkbox" asp-for="Flags.Treasures"/> <label asp-for="Flags.Treasures"></label>
			</div>
			<div class="row">
				<input class="indent" type="checkbox" asp-for="Flags.IncentivizeIceCave" /> <label asp-for="Flags.IncentivizeIceCave">Incentivize Ice Cave</label>
			</div>
			<div class="row">
				<input class="indent" type="checkbox" asp-for="Flags.IncentivizeOrdeals" /> <label asp-for="Flags.IncentivizeOrdeals">Incentivize Ordeals</label>
			</div>
		</div>
		<div class="section tab-pane" id="scale">
			Scale Tab
		</div>
		<div class="section tab-pane" id="conveniences">
			Conveniences Tab
		</div>
		<div class="section tab-pane" id="bug-fixes">
			Bug Fixes Tab
		</div>
	</div>
	<input class="section btn btn-primary" type="submit" value="Randomize" />
</form>
