@{
	ViewData["Title"] = "FF1 Randomizer Online " + FF1Lib.FF1Rom.Version;
}

<div class="container">
	<h1>Coming Soon!</h1>
	<!--	
	<div class="container"><h2>Upload Here</h2></div>
	<div class="container">
		<div class="row">
			<div class="col-xs-3">Seed</div>
			<div class="col-xs-3">Flags</div>
			<div class="col-xs-6"></div>
		</div>
		<div class="row">
			<div class="col-xs-3"><input name="seed" type="text" /></div>
			<div class="col-xs-3"><input name="flags" type="text"/></div>
			<div class="col-xs-2"><input type="button" value="Copy" /></div>
			<div class="col-xs-2"><input type="button" value="Paste"/></div>
			<div class="col-xs-2"><input type="button" value="New Seed" /></div>
		</div>
	</div>
	<div class="container">
		<ul class="nav nav-pills">
			<li class="active"><a href="#shuffle" data-toggle="tab">Shuffle</a></li>
			<li><a href="#scale" data-toggle="tab">Scale</a></li>
			<li><a href="#conveniences" data-toggle="tab">Conveniences</a></li>
			<li><a href="#bug-fixes" data-toggle="tab">Bug Fixes</a></li>
		</ul>
		<div class="tab-content clearfix">
			<div class="tab-pane active" id="shuffle">
				Shuffle Tab
			</div>
			<div class="tab-pane" id="scale">
				Scale Tab
			</div>
			<div class="tab-pane" id="conveniences">
				Conveniences Tab
			</div>
			<div class="tab-pane" id="bug-fixes">
				Bug Fixes Tab
			</div>
		</div>
	</div>
	-->
</div>
