@model FF1RandomizerOnline.Models.RandomizeViewModel

@{
	ViewData["Title"] = "FF1 Randomizer Online " + FF1Lib.FF1Rom.Version;
}

<form id="RandomizeForm" method="post" enctype="multipart/form-data" asp-controller="Home" asp-action="Randomize">
	<label class="section">Upload ROM</label><br />
	<label class="btn btn-default"><input type="file" accept=".nes" asp-for="File" style="display: none"/>Browse</label> <label for="File" id="file-label"></label>
	@Html.ValidationSummary()
	<div class="row">
		<div class="col-xs-3"><label asp-for="Seed" />Seed</div>
		<div class="col-xs-3"><label for="Flags">Flags</label></div>
	</div>
	<div class="row">
		<div class="col-xs-3"><input class="form-control" asp-for="Seed" type="text" /></div>
		<div class="col-xs-3"><input class="form-control" id="Flags" type="text" /></div>
		<div class="col-xs-6"><input class="btn btn-default" type="button" value="New Seed" onclick="newSeed();" /></div>
	</div>
	<ul class="section nav nav-pills">
		<li class="active"><a href="#shuffle" data-toggle="tab">Shuffle</a></li>
		<li><a href="#scale" data-toggle="tab">Scale</a></li>
		<li><a href="#conveniences" data-toggle="tab">Conveniences</a></li>
		<li><a href="#bug-fixes" data-toggle="tab">Bug Fixes</a></li>
		<li><a href="#fun" data-toggle="tab">Fun %</a></li>
	</ul>
	<div class="tab-content clearfix" style="height: 350px">
		<div class="section tab-pane active" id="shuffle">
			<div class="col-xs-4">
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.Treasures" /> <label asp-for="Flags.Treasures"></label></div>
				<div class="checkbox-cell"><input class="indent" type="checkbox" asp-for="Flags.IncentivizeIceCave" /> <label asp-for="Flags.IncentivizeIceCave">Incentivize Ice Cave</label></div>
				<div class="checkbox-cell"><input class="indent" type="checkbox" asp-for="Flags.IncentivizeOrdeals" /> <label asp-for="Flags.IncentivizeOrdeals">Incentivize Ordeals</label></div>
				<div class="checkbox-cell"></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.Shops" /> <label asp-for="Flags.Shops"></label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.MagicShops" /> <label asp-for="Flags.MagicShops">Magic Shops</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.MagicLevels" /> <label asp-for="Flags.MagicLevels">Magic Levels</label></div>
				<div class="checkbox-cell"><input class="indent" type="checkbox" asp-for="Flags.MagicPermissions" /> <label asp-for="Flags.MagicPermissions">Keep Permissions</label></div>
				<div class="checkbox-cell"></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.Rng" /> <label asp-for="Flags.Rng">RNG Table</label><br /></div>
			</div>
			<div class="col-xs-4">
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EnemyScripts" /> <label asp-for="Flags.EnemyScripts">Enemy Scripts</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EnemySkillsSpells" /> <label asp-for="Flags.EnemySkillsSpells">Enemy Skills/Spells</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EnemyStatusAttacks" /> <label asp-for="Flags.EnemyStatusAttacks">Enemy Status Attacks</label></div>
				<div class="checkbox-cell"></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.Ordeals" /> <label asp-for="Flags.Ordeals">Castle Ordeals</label></div>
			</div>
		</div>
		<div class="section tab-pane" id="scale">
			<div class="slider-cell">
				<div class="col-xs-2"><label>Prices:</label></div>
				<div class="col-xs-2"><label id="prices-display"></label></div>
				<div class="col-xs-2"><input type="range" asp-for="Flags.PriceScaleFactor" min="1.0" max="5.0" step="0.1" /></div>
			</div>
			<div class="slider-cell">
				<div class="col-xs-2"><label>Enemy Stats:</label></div>
				<div class="col-xs-2"><label id="enemy-stats-display"></label></div>
				<div class="col-xs-2"><input type="range" asp-for="Flags.EnemyScaleFactor" min="1.0" max="5.0" step="0.1" /></div>
			</div>
			<div class="slider-cell"></div>
			<div class="slider-cell">
				<div class="col-xs-4"><label>Exp/Gold Boost:</label></div>
				<div class="col-xs-2"><input type="range" asp-for="Flags.ExpMultiplier" min="1.0" max="5.0" step="0.1" /></div>
			</div>
			<div class="slider-cell">
				<div class="col-xs-4"><label id="exp-gold-display"></label></div>
				<div class="col-xs-2"><input type="range" asp-for="Flags.ExpBonus" min="0" max="500" step="10" /></div>
			</div>
		</div>
		<div class="section tab-pane" id="conveniences">
			<div class="col-xs-4">
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EarlyRod" /> <label asp-for="Flags.EarlyRod">Early Rod</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EarlyCanoe" /> <label asp-for="Flags.EarlyCanoe">Early Canoe</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EarlyOrdeals" /> <label asp-for="Flags.EarlyRod">Early Ordeals</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EarlyBridge" /> <label asp-for="Flags.EarlyBridge">Early Bridge</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.NoPartyShuffle" /> <label asp-for="Flags.NoPartyShuffle">No Party Shuffle</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.SpeedHacks" /> <label asp-for="Flags.SpeedHacks">Speed Hacks</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.IdentifyTreasures" /> <label asp-for="Flags.IdentifyTreasures">Identify Treasures</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.Dash" /> <label asp-for="Flags.Dash">Enable Dash</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.BuyTen" /> <label asp-for="Flags.BuyTen">Buy 10 Items</label></div>
			</div>
		</div>
		<div class="section tab-pane" id="bug-fixes">
			<div class="col-xs-4">
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.HouseMPRestoration" /> <label asp-for="Flags.HouseMPRestoration">House MP Restoration</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.WeaponStats" /> <label asp-for="Flags.WeaponStats">Weapon Stats</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.ChanceToRun" /> <label asp-for="Flags.ChanceToRun">Chance to Run</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.SpellBugs" /> <label asp-for="Flags.SpellBugs">LOCK, LOK2, HEL2, TMPR, SABR</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.EnemyStatusAttackBug" /> <label asp-for="Flags.EnemyStatusAttackBug">Enemy Status Attacks</label></div>
			</div>
		</div>
		<div class="section tab-pane" id="fun">
			<div class="col-xs-4">
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.FunEnemyNames" /> <label asp-for="Flags.FunEnemyNames">Fun Enemy Names</label></div>
				<div class="checkbox-cell"><input type="checkbox" asp-for="Flags.PaletteSwap" /> <label asp-for="Flags.PaletteSwap">Palette Swap</label></div>
                <div class="checkbox-cell"><input type="checkbox" asp-for="Flags.ShuffleLeader" /> <label asp-for="Flags.ShuffleLeader">Map Leader Shuffle</label></div>
			</div>
			<div class="col-xs-4">
				<div class="checkbox-cell">
					<select asp-for="Flags.TeamSteak">
						<option value="False">Team TYRO</option>
						<option value="True">Team STEAK</option>
					</select>
				</div>
				<div class="checkbox-cell">
					<select asp-for="Flags.Music">
						<option value="None">No Music Shuffle</option>
						<option value="Standard">Standard Music Shuffle</option>
						<option value="Nonsensical">Nonsensical Music Shuffle</option>
					</select>
				</div>
			</div>
		</div>
	</div>
	<input class="section btn btn-primary" type="submit" value="Randomize" />
</form>
