<div class="col-xs-12">
	<h1>Version 2.2.0</h1>
	<h2>Major Features</h2>
	<ul>
		<li>
			<b>Shard Hunt:</b> This new game mode replaces the original goal of beating Chaos
			with something else entirely. The four orbs are gone; replaced by dozens of smaller
			SHARDs. Collect enough shards to activate the BLACK ORB and reach the final battle.
			<ul>
				<li>Current SHARD count graphical display replaces original ORB display in main menu.</li>
				<li>32 chests containing HEALs, PUREs, and other trash items are replaced by SHARDS.</li>
				<li>Defeating LICH or KARY to activate the original EARTH and FIRE orbs will earn you 2 SHARDs each.</li>
				<li>Defeating KRAKEN or TIAMAT to activate the original WATER and AIR orbs will earn you 3 SHARDs each.</li>
				<li>Approach the BLACK ORB with enough SHARDs to teleport to the final floor of the Temple of Fiends Revisited to face your final challenge.</li>
			</ul>
		</li>
		<li>
			<b>Surprise Final Boss:</b> Replace Chaos with one of four new final challenges composed of new formations of familiar enemies.
			This option pairs well with Shard Hunt but can be used in a standard race as well. Be warned though - these new formations can be pretty unforgiving.
		</li>
		<li>
			<b>Sensible Item Sorting:</b>This radical new convenience sorts the HEAL potions and other consumables to the top of your inventory.
		</li>
		<li>
			<b>Item Magic:</b> Items casting spells, such as the White Shirt and the Defense have their
			spell shuffled among all possible spells except for spells only usable out of battle.
			In order to make it clear what each item casts, the item's name has been replaced with the
			spell name while keeping the gear icon at the end that was originally there.
			For example, you can get super lucky and have a NUKE Helm or you could be unlucky and only
			find items such as a LOCK Staff or DARK Sword.
		</li>
	</ul>
	<hr />
	<h1>Version 2.1.0</h1>
	<h2>Major Features</h2>
	<ul>
		<li>
			<b>Unrunnable Formations Shuffle:</b> The non-boss formations that are unrunnable can now be
			shuffled. The IronGOL and WzSahag/R.Sahag fights share their formations with bosses
			and will remain unrunnable. The IMPs around Coneria are kept out of shuffle as
			well to avoid a super early game unrunnable and impossible IMP situation.
		</li>
		<li>
			<b>Change Unrunnable RUN -> WAIT:</b> complements the above by replacing the RUN
			command with WAIT when the battle is unrunnable. It is automatically enabled when
			Unrunnable Formations Shuffle is on, but it can also be turned on to learn the
			standard unrunnable formations for a beginner.
		</li>
		<li>
			<b>Surprise Bonus Shuffle:</b>The bonus that some enemy formations like Phantoms and
			WarMECH have to their surprise chance can be shuffled to other enemy formations.
		</li>
		<li>
			<b>Enemy Formation Frequency Shuffle:</b> The frequency of encounter groups
			can now be shuffled. First for each table the enemies in slots 1-4 are shuffled; then
			the resulting 3-8 slots are shuffled. The end result is that his means former slot 7 and
			8 encounters now all have a one in three chance of becoming one of the common groups.
			WarMECH is excluded from this and remains locked to slot 7.
		</li>
		<li>
			<b>Random Weapon and Armor:</b> When shuffling weapons and armor shops,
			there is now an option to randomize those items instead of shuffle the existing
			vanilla pool of shop items. This wacky setting enables the possibility of Masmunes or
			Ribbons for sale. Each Weapon or Armor will appear in no more than one location, so
			remember where the good stuff is if you have to come back!
		</li>
		<li>
			<b>Allow Unsafe Pirates:</b> When shuffling enemy scripts this is now distinct
			and when not enabled will force the Pirates to their default Attack only script.
		</li>
		<li>
			<b>Force Default Starting GP:</b> Start the game with 400 GP regardless of scaling.
		</li>
	</ul>
	<h2>Minor Features &amp; Other Changes</h2>
	<ul>
		<li>
			Speed Hacks are now even faster than before in battles.	Respond Rate has been adapted so numbers less than
			8 can be used to help learn the game without being painfully slow. 8 remains the default and fastest setting.
		</li>
		<li>
			The SHIP will now appear in the nearest <b>Inner Sea</b> dock (but never a river) to where it is found:
			<ul>
				<li>Northwest Castle, Marsh Cave, Elfland, Crescent Lake, and Volcano all spawn the SHIP north of Elfland.</li>
				<li>Ice Cave and Pravoka SHIPs spawn near Pravoka.</li>
				<li>Matoya's Cave spawns nearby.</li>
				<li>Dwarf Cave spawns nearby.</li>
				<li>Coneria, Temple of Fiends, and all locations outside of the inner sea (which would have required the airship to retrieve) will spawn the SHIP in Coneria.</li>
			</ul>
		</li>
		<li>Chaos Rush now unlocks all doors in ToFR and provides the LUTE immediately as well.</li>
		<li>Black Belt Absorb Bug Fixed. Black Belt and Master absorb will now always be equal to level if no armor is equipped.</li>
		<li>Enemy AoE Spells on all enemies now also hit the caster.</li>
		<li>Enemy Elemental Resistences Bug Fixed. XFER will now work, and AFIR when cast by enemies will work.</li>
		<li>Ribbon Text Fixed to play nicely with modders editing the ribbon text. Though it may seem strange, ensure when modding the ribbon text to keep its length to 8 characters.</li>
		<li>Start screen displays full flags and seed info (was briefly broken by 2.0 changes to flags)</li>
		<li>Credits Updates</li>
	</ul>
	<hr />
	<h1>Version 2.0.0</h1>
	<h2>Major Features</h2>
	<ul>
		<li>
			<h3>NPC Shuffle!</h3>
			There is a new tab 'Treasures' available with the option to shuffle Treasures and
			NPCs. Any NPC that gives an item in the vanilla game can now be shuffled in with the
			treasure shuffle. There are 2 main options, each with additional related options
			the 'Treasures' tab:
			<ul>
				<li>
					<b>Main NPC Items:</b> This adds Bridge, Lute, Ship, Rod, Canoe, Cube, Bottle
					to the pool of items to be shuffled. The NPCs giving those items could have any
					other shuffled treasure instead. (Excluding Caravan which is limited to items that
					show up on the Inventory screen)
				</li>
				<li>
					<b>Fetch Quest Rewards:</b> This adds Crystal, Herb, Key, Canal, Xcalber, Oxyale,
					and Chime to the pool of items to be shuffled. The NPCs giving those items could have
					any other shuffled treasure instead.
				</li>
			</ul>
		</li>
		<li>
			<h3>Incentives</h3>
			Of the many new incentives options on the 'Treasures' tab, the 3 most important
			ones are related to NPCs and quest items.
			<ul>
				<li>
					<b>Incentivized Locations:</b> These options incentivize locations in the game
					or groups of NPCs.
					<ul>
						<li>
							<b>Main NPCs:</b>
							This incentivizes King, Princess, Bikke, Sarda, Sage, Robot, and Carvan Item Shop Slot.
							Those NPCs will be treated the same as incentivized teasure chests and will prefer
							to draw an item from the incentivized item pool if possible. Note that the Caravan
							item will still be shuffled by the Shop shuffle too.
						</li>
						<li>
							<b>Fetch Quest NPCs:</b>
							This incentivizes Astos, Matoya, Prince, Nerrick, Smith, Fairy, and Lefein. Those
							NPCs will be treated the same as incentivized teasure chests and will prefer
							to draw an item from the incentivized item pool if possible. If you have both this
							and the 'Other Quest Items' incentivized (see below) it tends to result in a long
							fetch quest kind of like the Crown -> Canal chain in the vanilla early game --
							except it's random and can be late in the game -- so it's a lot of back and forth
							to get just 1 item in the end.
						</li>
					</ul>
				</li>
				<li>
					<b>Incentivized Items:</b> In earlier randomizer versions the incentive item
					pool included all required items (Crown, TNT, Slab and sometimes Ruby), Adamant,
					Tail, Masamune, and Ribbon. However, most of the actual required items could not
					be shuffled. With NPC shuffle, any shuffled item that is required will continue to
					be included in the incentive pool by default. This can include Bridge, Lute, Ship,
					Key, Canal, Rod, Canoe, Floater, Cube, Oxyale, Chime but may also include any item
					leading to those items when a partial NPC shuffle is done.
				<li>
					<b>Other Quest Items:</b>
					This includes any other quest item even if they are not required. These are sometimes
					referred to as 'Fetch Quest Items' and would include Crown, Crystal, Herb, TNT,
					Ruby, Bottle, Slab, Adamant when all NPC items are shuffled.
				</li>
				<li>
					Keep in mind that each incentive option with a group of items or locations
					will only be able to incentivize those items or locations if they are
					<i>shuffled</i>.
				</li>
			</ul>
		</li>
		<li>
			<h3>Map Edits</h3>
			There is a new tab 'Maps' with 2 new options, plus the Ordeals Pillars shuffle
			relocated from the Shuffle tab:
			<ul>
				<li>
					<b>Keyless ToFR:</b>
					Updated in 2.1.0 so all Mystic KEY locked doors in Temple of Fiends Revisted have been unlocked.
					You will begin the game with the LUTE ready to challenge Chaos as soon as you like.
				</li>
				<li>
					<b>Titans Trove:</b>
					The Titan moved a few squares to the West and now blocks access to the
					4 treasure chests in this cave even if you come from the backside via the Airship.
					This more than triples the chance that RUBY is required (but it's still pretty rare).
					<br /><img src="~/images/TitansTrove.png" style="display:block; margin: 0 auto; max-width:80%;" /><br />
				</li>
				<li>
					<b>Open Progression:</b>
					This is a collection of small map tweaks that open up the possibilities for item
					placement and progression through the game. A total of about 30 map tiles are edited.
					In order:
					<ul>
						<li>
							A land path from the starting area to Dwarf Cave. If you get an early CANOE
							you can also walk south across the Canal Bridge to Elfland, Marsh, Cresent Lake,
							and Volcano.
							<br /><img src="~/images/WalkToDwarfCave.png" style="display:block; margin: 0 auto; max-width:80%;" /><br />
						</li>
						<li>
							A small river extension to join the Volcano and Ice Cave river systems near
							the tiny forest in the middle. If you get an early CANOE you can travel from
							Pravoka to Volcano, etc.
							<br /><img src="~/images/IceVolcanoRiver.png" style="display:block; margin: 0 auto; max-width:80%;" /><br />
						</li>
						<li>
							A dock near Onrac and a dock near Mirage Tower. This increases the value of
							the Canal which would otherwise be very unlikely to be required with NPC shuffle.
							With both Main NPC Items and Fetch Quest Rewards shuffle options turned on, this
							means FLOATER is not 100% required to kill Chaos (but you should still always be
							able to find it).
							<br /><img src="~/images/OnracDock.png" style="display:block; margin: 0 auto; max-width:80%;" /><br />
							<br /><img src="~/images/MirageDock.png" style="display:block; margin: 0 auto; max-width:80%;" /><br />
						</li>
					</ul>
				</li>
			</ul>
		</li>
	</ul>
	<h2>Minor Features &amp; Other Changes</h2>
	<ul>
		<li>
			<b>Free Airship:</b>
			The Airship spawns on the starting tile of the game. FLOATER is replaced with a
			cozy CABIN.
		</li>
		<li>
			<b>Free Orbs:</b>
			Begin the game with all four orbs lit. That was easy!
		</li>
		<li>
			<b>Easy Mode:</b>
			Chance of random encounters are heavily reduced and all enemys have 10% of their
			HP after the random scaling has been applied. Effectively this turns a 20-500%
			slider into 2-50%, but for HP only.
		</li>
		<li>'Castle Ordeals' has moved to the Maps tab and renamed to Castle Ordeals Pillars</li>
		<li>
			Early Bridge was renamed Free Bridge. The Bridge item is also replaced with a CABIN
			if NPC shuffle is turned on.
		</li>
		<li>Early Rod and Early Canoe have been renamed to Early Sarda Item and Early Sage Item</li>
	</ul>
	<h2>Known Issues</h2>
	<ul>
		<li>
			<b>A0 HEALs??:</b>
			This can happen with any consumable item but most commonly comes up with HEAL. If
			you have 99 HEALs from shopping and you open a chest with one inside it will
			increment it to 100 but the inventory can't display it so it shows A0, A1, A2, etc.
			This generally doesn't hurt anything and the HEAL works as expected. In the original
			game this was also bugged but instead of giving you A0 items it just threw the item
			away.
		</li>
		<li>
			<b>Astos text is strange:</b>
			Overall the NPC item text is less than ideal. It was a quick generic text that
			could be used everywhere and we expect to improve upon it in later versions. Astos
			is commonly mentioned as the most strange, and it's worth remembering that in the
			vanilla game he also tells you what your reward is for turning in the CROWN before
			he attacks you.
		</li>
		<li>
			<b>Free Item From the King:</b>
			The King is far more trusting of random adventurers in NPC shuffle and he will
			give you the reward item *before* you rescue the Princess. This might be fixed
			later on, but usually doesn't make much difference.
		</li>
		<li>
			<b>Bridge Scene on the Canal:</b>
			This is not an error in the randomizer but actually the original game behavior if
			you walk over the Canal before walking over the Bridge. That just wasn't possible
			without the map tweaks and you had no reason to try it unless you had the Canoe.
		</li>
		<li>
			<b>Duplicate Item in Shop:</b>
			In some flagsets the Caravan Item Slot isn't incentivized or the randomizer runs
			out of incentive items to put there and it picks a random HEAL or HOUSE instead.
			Since the Shop shuffle also mixes things up before the item placement, a duplicate
			item can remain after everything is placed.
		</li>
		<li>
			<b>Flag String is no longer shown on the main menu:</b>
			Sadly all the new flags couldn't fit in the default text space on the start screen.
			The developers have a fix in progress that should be ready for 2.1 or sooner.
		</li>
	</ul>
	<h2>FAQ</h2>
	<ul>
		<li>
			<b>
				I think I'm softlocked in the early game. I can't find either the BRIDGE or
				the SHIP, help!
			</b>
			<br />Try walking from the starting area to the Dwarf Cave. This usually happens
			the first time players try the 'Open Progression' map tweaks with Main NPC Items
			Shuffle on.
		</li>
		<br />
		<li>
			<b>Why isn't Dr. Unne shuffled?</b>
			<br />In short, it's because he doesn't actually give you an <i>item</i>. He's a
			lot closer to the Elf Doctor that wakes up the Prince. By having an item he sets
			an internal flag for the game to let the other NPC give you something. That being
			said, keep an eye on future versions and maybe Dr. Unne or even the Dragon's Class
			Change events will get shuffled someday too!
		</li>
		<br />
		<li>
			<b>A second Bridge over the Canal?!?</b>
			<br />If NPC Shuffle options are turned on, a Bridge will be left behind after the
			Canal is blown up. This is done to prevent soft locks when you get a very early
			Canoe and could potentially end up stranded on the wrong side of the Canal and unable
			to get back to your Ship.
		</li>
		<br />
		<li>
			<b>
				I've played a few NPC shuffle seeds and it feels like I have to check every
				treasure chest in the game. Is my luck terrible?
			</b>
			<br />Make sure that you don't have a lot more Items incentivized than there are
			Item Locations to put them. Any incentivized item that doens't make it into an
			incentivized location ends up in a random chest somewhere. If 4 or more required
			items are in random chests you're going to need to check a lot of chests!
		</li>
		<br />
		<li>
			<b>How many items do I have incentivized?</b>
			<br />It will depend on the flagsets, but in general here are the approximate counts:
			<ul>
				<li>
					If you shuffled Treasures only (not shuffle Main NPC Items or Fetch Quest Rewards):
					You have 4 items in the base pool, plus one for each checkbox in the Items column.
				</li>
				<li>
					If you shuffled Treasures and Main NPC Items but not Fetch Quest Rewards:
					You have 10 items in the base pool, plus one for each checkbox in the Items column,
					plus 2 additional if you have 'Other Quest Items' checked.
				</li>
				<li>
					If you shuffled Treasures and Main NPC Items and Fetch Quest Rewards:
					You have 10 items in the base pool, plus one for each checkbox in the Items column,
					plus 8 additional if you have 'Other Quest Items' checked.
				</li>
				<li>
					If you shuffled Treasures and Fetch Quest Rewards but not Main NPC Items:
					You have 4 items in the base pool, plus one for each checkbox in the Items column,
					plus 2 additional if you have 'Other Quest Items' checked.
				</li>
				<li>
					Other flags may alter this slightly, including the Early Sage convenience flag
					or Open Progression map flag.
				</li>
			</ul>
		</li>
		<br />
		<li>
			<b>
				I played the beta version and really liked having *all* of the incentive options.
				Where'd they go?
			</b>
			<br />Awesome, we love beta testers! A lot of options tested in the beta didn't
			all make the cut for 2.0.0, sorry if your favorite flagset is gone. There's still a
			ton of new options and we can always expand to add those options later on. Stop by
			the discord and let us know what you'd like to see in upcoming versions.
		</li>
		<br />
	</ul>
</div>
