.main-menu {
    margin: 50px auto;
}

.main-menu-row {
    margin: 10px;
    min-height: 60px;
    font-family: 'Press Start 2P';
    color: var(--TOPBAR_FONT_COLOR);
}

    .main-menu-row:hover {
        background-color: rgba(0, 0, 0, 0.2);
        color: #ffffff;
    }

    .main-menu-row > div {
        margin: auto;
    }

.main-menu a {
    display: flex;
    align-content: center;
}

.main-menu a:hover {
    text-decoration: none;
}

.discord-logo {
    display: block;
    background-image: url("/images/discord.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 38px;
    height: 38px;
    margin-left: -5px;
    margin-top: -2px;
}
