@page "/"

<div id="welcome" class="content px-4">
<h1>Final Fantasy Randomizer v3</h1>
<p>We've found the TAIL and we're promoting the Website!</p>

<p style="margin: 0 auto"><br />Click <a href="/Randomize"><i class="nes-logo"></i></a> To Begin!</p>
</div>
