@page "/"

<div id="welcome" class="content px-4">
	<h1>Final Fantasy Randomizer @FF1Lib.FF1Rom.Version</h1>
	<p>We've found the TAIL and we're promoting the Website!</p>

	<p>Click <a href="/Randomize"><i class="nes-logo"></i></a> To Begin!</p>

	<div class="is-dark nes-container">
		We have THREE Discord communities for FFR.<br />
		The original <a href="https://discord.gg/pERvC56">Final Fantasy 1 Randomizer/Tournament</a> Discord<br />
		The new <a href="https://discord.gg/p5MdYue">FF1 Randomizer Community Center</a><br />
		Or join the new <a href="https://discord.gg/s7CRejk">Developer's Discord</a> to chat about new features, bugs, and playtesting.
	</div>
</div>
