@page "/ResMisc"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>Alternate Fiends</h2>
		<p>The "Alternate Fiends" flag adds in a pool of new bosses that will be pulled from to replace the original four fiends of Lich, Kary, Kraken, and Tiamat. These fiends will be a one-to-one replacement for the original fiends, meaning that:</p>
		<ol>
			<li>Each fiend replaces the original fiend at their "Fiend 1" and "Fiend 2" spots. For example, if Odin replaces Lich, Odin will be the guardian of the Orb in Earth Cave (assuming "Shuffle Original Fiend Locations" isn't also turned on) and will be the first fiend you fight in the (long version of) Temple of Fiends Revisited.</li>
			<li>The bosses will be scaled to the stats of the original location they've taken over. For example, Gilgamesh at Kraken 2 spot will hit like Kraken 2 hits, although the spells available to Gilgamesh will be based on his own scripts.</li>
		</ol>
		<p>The key thing about the new fiends is that their spells, skills, and weaknesses have been changed, leading to an entirely new pool of monsters you might have to learn. When using Alternate Fiends, then, some adjustments to your strategies might be necessary (Echidna at Tiamat, for example, will not be weak to BRAK like Tiamat is).</p>

		<h3>List of Alternate Fiends:</h3>
		<h5>Astaroth</h5>
		<ul>
			<li>Sprite Used: Astos</li>
			<li>Weakness: Fire</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/FIRE/BRAK/FIRE</li>
					<li>Skills: HEAT/HEAT/HEAT/POISON (Stone)</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FIR3/FIR2/BRAK/FIR2/FIR3/FIR2/BANE</li>
					<li>Skills: SCORCH/POISON (Damage)/BLAZE/POISON (Stone)</li>
				</ul>
			</li>
		</ul>

		<h5>Asura</h5>
		<ul>
			<li>Sprite Used: Ogre</li>
			<li>Weakness: None</li>
			<li>Fiend 1
				<ul>
					<li>Spells: CUR2/CUR3/CUR3/FAST</li>
					<li>Skills: None</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: CUR2/CUR3/CUR2/FAST/CUR3/CUR2/CUR3/CUR4</li>
					<li>Skills: None</li>
				</ul>
			</li>
		</ul>

		<h5>Barbariccia</h5>
		<ul>
			<li>Sprite Used: Air Elemental</li>
			<li>Weakness: Quake</li>
			<li>Fiend 1
				<ul>
					<li>Spells: LIT/DARK/SLOW/LIT2</li>
					<li>Skills: HEAT/FLASH/GAZE/HEAT</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: LIT3/LIT2/SLOW/LIT3/LIT2/SLO2/DARK/DARK</li>
					<li>Skills: FLASH/THUNDER/GLARE/THUNDER</li>
				</ul>
			</li>
		</ul>

		<h5>Beelzebub</h5>
		<ul>
			<li>Sprite Used: Spider</li>
			<li>Weakness: Lightning</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/FAST/FIRE/FOG/FIRE/SLOW/FIRE/RUB</li>
					<li>Skills: FLASH/STINGER/FLASH/DAZZLE</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FAST/FIR3/FOG/FIR2/SLO2/FIRE3/BANE</li>
					<li>Skills: NUCLEAR/FLASH/DAZZLE/INFERNO</li>
				</ul>
			</li>
		</ul>

		<h5>Behemoth</h5>
		<ul>
			<li>Sprite Used: Cerebus</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIR2/STUN/FIR2/FAST</li>
					<li>Skills: SNORTING/SNORTING/SNORTING/SNORTING</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR3/STOP/FIR3/FAST/FIR3/SLO2/FIR3/NUKE</li>
					<li>Skills: SNORTING/SNORTING/SNORTING/BLAZE</li>
				</ul>
			</li>
		</ul>

		<h5>Black Knight</h5>
		<ul>
			<li>Sprite Used: Fighter</li>
			<li>Weakness: Poison</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FAST/SLOW/STUN/STOP</li>
					<li>Skills: FLASH/FLASH/FLASH/DAZZLE</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: MUTE/SLO2/FAST/SABR/STUN/STOP/SABR/BRAK</li>
					<li>Skills: TRANCE/FLASH/INK/GLARE</li>
				</ul>
			</li>
		</ul>

		<h5>Cagnazzo</h5>
		<ul>
			<li>Sprite Used: Ankylo</li>
			<li>Weakness: Lightning</li>
			<li>Fiend 1
				<ul>
					<li>Spells: ICE/STUN/ICE/ICE2</li>
					<li>Skills: FROST/FLASH/FROST/FLASH</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: ICE2/ICE2/ICE3/CUR3/ICE2/ICE3/ICE3/CUR4</li>
					<li>Skills: FROST/DAZZLE/FROST/BLIZZARD</li>
				</ul>
			</li>
		</ul>

		<h5>Carbuncle</h5>
		<ul>
			<li>Sprite Used: Chimera</li>
			<li>Weakness: None</li>
			<li>Fiend 1
				<ul>
					<li>Spells: CURE/FAST/CURE/SLOW</li>
					<li>Skills: STINGER/DAZZLE/GAZE/DAZZLE</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FAST/CUR2/SLO2/WALL/CUR2/XFER/SABR/CUR3</li>
					<li>Skills: STINGER/GAZE/GLARE/DAZZLE</li>
				</ul>
			</li>
		</ul>

		<h5>Djinn</h5>
		<ul>
			<li>Sprite Used: Naga</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/FIRE/FIRE/FAST</li>
					<li>Skills: SCORCH/HEAT/SCORCH/STUN</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FIR2/FAST/FIR3/FIR2/SLO2/FIR2/NUKE</li>
					<li>Skills: BLAZE/SCORCH/SCORCH/INFERNO</li>
				</ul>
			</li>
		</ul>

		<h5>Echidna</h5>
		<ul>
			<li>Sprite Used: Kary</li>
			<li>Weakness: Fire</li>
			<li>Fiend 1
				<ul>
					<li>Spells: STUN/STOP/STUN/SLOW</li>
					<li>Skills: DAZZLE/INK/INK/CRACK</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: STUN/STOP/ZAP!/STOP/WALL/XFER/STUN/XXXX</li>
					<li>Skills: CRACK/TRANCE/CRACK/GAZE</li>
				</ul>
			</li>
		</ul>

		<h5>Gilgamesh</h5>
		<ul>
			<li>Sprite Used: Garland</li>
			<li>Weakness: Time</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FAST/XFER/SLOW/WALL</li>
					<li>Skills: None</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FAST/XFER/SLO2/SABR/XXXX/SABR/SLO2/WALL</li>
					<li>Skills: None</li>
				</ul>
			</li>
		</ul>

		<h5>Ifrit</h5>
		<ul>
			<li>Sprite Used: Fire Elemental</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/STUN/FIRE/FIRE2</li>
					<li>Skills: HEAT/SCORCH/HEAT/FLASH</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FIRE3/XFER/FIR2/FIR3/WALL/FIR3/NUKE</li>
					<li>Skills: INFERNO/FLASH/BLAZE/NUCLEAR</li>
				</ul>
			</li>
		</ul>

		<h5>Leviathan</h5>
		<ul>
			<li>Sprite Used: Wyrm</li>
			<li>Weakness: Lightning</li>
			<li>Fiend 1
				<ul>
					<li>Spells: ICE/ICE2/ICE/STOP</li>
					<li>Skills: FROST/DAZZLE/STINGER/FLASH</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: ICE2/ICE2/ICE3/ICE3/ICE2/ICE2/XFER/ICE3</li>
					<li>Skills: FROST/SWIRL/BLIZZARD/SWIRL</li>
				</ul>
			</li>
		</ul>

		<h5>Medusa</h5>
		<ul>
			<li>Sprite Used: Kary</li>
			<li>Weakness: Poison</li>
			<li>Fiend 1
				<ul>
					<li>Spells: STUN/STOP/STUN/BRAK</li>
					<li>Skills: GAZE/GLANCE/GAZE/GLARE</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: STUN/STOP/XXXX/BRAK</li>
					<li>Skills: GLARE/GLANCE/GLARE/GAZE</li>
				</ul>
			</li>
		</ul>

		<h5>Odin</h5>
		<ul>
			<li>Sprite Used: Giant</li>
			<li>Weakness: Lightning</li>
			<li>Fiend 1
				<ul>
					<li>Spells: STUN/CUR2/FAST/SLOW</li>
					<li>Skills: Gaze/FLASH/FLASH/CRACK</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: STUN/CUR3/XXXX/SLO2/CUR3/STOP/SLOW/NUKE</li>
					<li>Skills: CRACK/Gaze/FLASH/DAZZLE</li>
				</ul>
			</li>
		</ul>

		<h5>Rubicante</h5>
		<ul>
			<li>Sprite Used: Fire Elemental</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/FIRE/FIRE/FIRE2</li>
					<li>Skills: HEAT/SCORCH/FLASH/DAZZLE</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FIR2/FIR3/NUKE/FIR2/FIR3/FIR3/NUKE</li>
					<li>Skills: SCORCH/HEAT/BLAZE/NUCLEAR</li>
				</ul>
			</li>
		</ul>

		<h5>Salamander</h5>
		<ul>
			<li>Sprite Used: Dragon</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: FIRE/DARK/FIRE/FIR2</li>
					<li>Skills: FLASH/HEAT/FLASH/HEAT</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: FIR2/FIR3/FIR3/NUKE/FIR2/FIR2/FIR3/DARK</li>
					<li>Skills: SORCH/BLAZE/HEAT/INFERNO</li>
				</ul>
			</li>
		</ul>

		<h5>Scarmiglione</h5>
		<ul>
			<li>Sprite Used: Bone</li>
			<li>Weakness: Fire</li>
			<li>Fiend 1
				<ul>
					<li>Spells: None</li>
					<li>Skills: SNORTING/GAZE/INK/CRACK</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: None</li>
					<li>Skills: CRACK/SNORTING/CRACK/SNORTING</li>
				</ul>
			</li>
		</ul>

		<h5>Scylla</h5>
		<ul>
			<li>Sprite Used: Kraken</li>
			<li>Weakness: Ice</li>
			<li>Fiend 1
				<ul>
					<li>Spells: LIT/LIT2/LIT/LIT2</li>
					<li>Skills: DAZZLE/FLASH/GLANCE/FLASH</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: LIT2/LIT2/LIT3/SLO2/LIT2/LIT2/LIT3/FAST</li>
					<li>Skills: THUNDER/DAZZLE/TORNADO/FLASH</li>
				</ul>
			</li>
		</ul>

		<h5>Shiva</h5>
		<ul>
			<li>Sprite Used: Kary</li>
			<li>Weakness: Fire</li>
			<li>Fiend 1
				<ul>
					<li>Spells: ICE/ICE/ICE/ICE2</li>
					<li>Skills: FROST/FLASH/GAZE/SNORTING</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: ICE2/ICE3/ICE2/ICE2/ICE3/ICE3/ICE2/BRAK</li>
					<li>Skills: FROST/FLASH/BLIZZARD/GAZE</li>
				</ul>
			</li>
		</ul>

		<h5>Titan</h5>
		<ul>
			<li>Sprite Used: Giant</li>
			<li>Weakness: Lightning</li>
			<li>Fiend 1
				<ul>
					<li>Spells: LIT/LIT/LIT/LIT</li>
					<li>Skills: DAZZLE/GAZE/DAZZLE/FLASH</li>
				</ul>
			</li>
			<li>Fiend 2:
				<ul>
					<li>Spells: LIT2/FAST/LIT3/SLO2/STOP/LIT3/LIT2/XFER</li>
					<li>Skills: SWIRL/SCORCH/DAZZLE/TORNADO</li>
				</ul>
			</li>
		</ul>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>
