@page "/ResBot"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>FFR Discord Race Bot</h2>
		<p>Although the FFR community traditionally races on SpeedRunsLive (SRL), not everyone wants to do that. SRL does live tracking and will put anyone on the FFHacks leaderboard, so if you don't want your stats tracked, or prefer to keep your business private, we have another solution: the FFR Discord Race Bot. To use it, go into #call-for-races on the Discord and type in:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?startrace <i>name</i> (with name being the name of the race you want to make)</p>
		</div>
		<p>Once you enter this command, a new race room will be opened for the race. Now all you have to is join it. Use either of these commands:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?join <i>name</i> (if you want to be in the race)</p>
			<p>?spectate <i>name</i> (if you want access to the rom to see how the racers are doing)</p>
		</div>
		<p>From there we have a host of commands you can use to customize your racing experience. If you're in #call-for-races:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?multi <i>name</i> (takes the name of a race room and posts a Multistream link for the current runners)</p>
		</div>
		<p>If you're in the race room:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?join or ?enter (this joins the race you are spectating)</p>
			<p>?unjoin or ?quit (this removes you from an unstarted race)</p>
			<p>?restream <i>url</i> (sets a runner's restream link, youtube or twitch)</p> 
			<p>?entrants or ?e (this lists the current entrants and their ready status)</p>
			<p>?ff1flags <i>flagstring</i> (returns a url for the live site)</p>
			<p>?ff1beta <i>flagstring</i> (returns a url for the beta site)</p>
			<p>?ff1alpha <i>flagstring</i> (returns a url for the alpha site)</p>
			<p>?ff1seed (returns a seed to use)</p>
			<p>?ready or ?r (this switches a runner to the ready state; once all are ready, a 10 second countdown begins)</p>
			<p>?unready or ?ur (this switches a runner to no longer ready)</p>
			<p>?time or ?t (this shows how long the race has been going so far)</p>
			<p>?done (this records a runner's finish time then posts their time;  if this is the last runner it posts the result then closes the race room in 5 minutes)</p>
			<p>?forfeit (this records a runner as forfeited; if this is the last runner it posts the result then closes the race room in 5 minutes)</p>
			<p>?undone or ?unforfeit (this re-adds you to the race after you ?done or ?forfeit, so long as the race is still going)</p>
			<p>?closerace or ?cr (this closes the raceroom, must be used by the person who used ?startrace, andcan only be used when a race is not running; meant to be used if a race is canceled and the room must be closed without running the race first)</p>
			<p>?startrace (can only be used when a race is not running; it is meant to be used if a race is canceled and the room must be closed without running the race first</p>
		</div>
		<p>Note that many of these commands are similar to the commands you'll use on the SRL IRC for racing, designed to maximize familiarity for our users.</p>

		<h5>Co-Op Commands</h5>
		<p>The FFR Bot can also handle Co-Op commands and, in fact, is the only way (currently) to run and track Co-Op FFR races. Use the following command in the race room to join a Co-Op match:</p>

		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?join id <i>team name &#64;players</i> or <i>?enter id team name &#64;players</i> (like the standard ?join, but with extra parameters; must be used by the team leader, i.e. the user of this command will be set as the leader, and the leader and all mentioned players will be added to a team with the name in quotes).</p>
		</div>
		<p>Note that all the players must have first used ?join to enter the race room before they can be added to a team. For here, with players in the co-op race room, you can also use the following commands:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?teamlist or ?tl (this shows the current teams)</p>
			<p>?teamadd <i>&#64;players</i> or ?ta <i>&#64;players</i> (this must be used by the team leader, i.e. the one who used the join command, and the mentioned players will be added to the team)</p>
			<p>?teamremove <i>&#64;players</i> or ?tr <i>&#64;players</i> (this must be used by the team leader. i.e. the one who used the join command, and the mentioned players will be added to the team)</p>
		</div>

		<h4>Other "Races" (Duckling, Challenge, and Async Seeds)</h4>
		<p>The FFR Bot is also capable of handling these "run on your own time" race-type seeds contributed by the community. In the appropriate channels, you can use the following commands:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>?submit <i>hh:mm:ss</i> (this will submit your time to the leaderboard, apply the appropriate role in discord showing you paricipated, unlock access to the spoilerchat/leaderboard channel, and send you a GG in the spoiler chat channel to let others know you've completed the challenge seed)</p>
			<p>?forfeit (apply the appropriate role in discord discord to unlock access to the spoilerchat/leaderboard channels)</p>
			<p>?spectate (this command is for those who have no intention of playing the seed themselves but want to have access to the spoilerchat/leaderboard channel)</p>
		</div>
		<p>Note that using any of the commands will lock you out from using the others.  So if you start the Challenge seed and decide to enter the ?forfeit command, you will ot be able to go back and submit a completion time should you decide to give it another go.</p>

		<h5>Admin Commands</h5>
		<p>These commands require the Admin role to use:</p>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>forcestart (this starts the race in the room its used in even if some people arent ready, unready people are still in the race)</p>
			<p>?forceclose (this closes the race room right away, can be used mid race, be very cautious)</p>
			<p>?forceend (this ends the race in the room its used in and any unfinished players are considered as a forfeited)</p>
			<p>?forceremove <i>&#64;players</i> (this removes all mentioned runners from the race, can be used before or during the race)</p>
			<p>?toggleraces (this toggles the ability to use the startrace command)</p>
		</div>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>
