@page "/ResCommentary"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>FFR Code of Conduct for Commentary</h2>
		<p>Commentary is what makes or breaks a good race restream. That’s just the nature of things! Fortunately, the technical aspect of commentary is relatively simple. Tracking is as simple as getting the web tracker link and watching/tracking from the restream.</p>
		<p>We always need people who want to commentate and we want you to get the tools you need to feel the best you can about commentating. One thing that’s very important as a commentator is finding your default style. Games Done Quick actually had a panel about this entire subject in 2018 (seriously, watch this video).</p>
		<p>It’s great to learn from a group of people who have commentated all sorts of runs and races. Some of you will be play-by-play sportscasters, some of you will be teachers, some of you will be smartasses, and some of you will mix a little from a couple genres!  This is all well and good as long as you are socially aware of what’s going on in your commentary and do the best you can to tell the story of the race.</p>
		<p>There’s some important points to pull from this, and the general standard of commentary for the channels we work on:</p>

		<ul class="spaced-list">
			<li>Commentary is <i>mild</i> PG-13.  Language can be relaxed and a loose tone is normal, but if swear words start dropping or other inappropriate comments occur (including but not limited to sexism, racism, homophobia, or transphobia), your time doing commentary will end abruptly.</li>
			<li>Commentary is a team effort!  Having a good back and forth is important, and there’s a lot of ways to attain that from a structural standpoint.
				<ul>
					<li>Play-by-play and color roles.  Much like the video notes, one person directs the eyes of the viewers while the other explains the details of why these things are important.  This is great for a newer/older commentary pair or as a basic structure to keep things flowing.  Sometimes people will shift between being play-by-play and color as the moments allow, and this is normal.  It is highly recommended that new commentators stick to this structure as it will help you ease into other styles and find your voice.</li>
					<li>I take two runners, you take two runners.  While this is great for tracking, it can also work for commentary.  This does require some effort to not have one person dominate the conversation, but reduces the energy of trying to track four screens.</li>
					<li>Freeform conversation is fine... if you have chemistry. This can really pull people in- the concept of two friends just chatting and bouncing back and forth is powerful but requires a high level of experience between the two commentators.</li>
				</ul>
			</li>
			<li>Commentary is fun.  You love the game, the viewers love the game or want to learn to love the game, so be relaxed and have fun with it.  You’ll talk over each other sometimes, you’ll have good days and bad, but just bring your energy and your joy and people will respond.</li>
			<li>Commentary should interact with chat.  Answer questions, acknowledge the chat, make them feel like part of the stream.  This is an excellent way to avoid dead air and downtime as runners retread old ground.</li>
			<li>Chemistry is hard, preparation is easy.  You aren’t going to have good chemistry on air with everyone.  You should get together a few minutes before a race to chat a bit and get to know each other as well as build a plan.  Going in cold can lead to issues in the commentary. We will try to pair as many people who have worked together well as possible, but that doesn’t mean you’ll always find yourself with someone you’ve got a history with.</li>
			<li>Ask questions.  I mean, you’re probably already asking questions about the game as it is, but never be afraid to get advice on how to get better with commentary.  If you don’t feel ready to volunteer, the team can help you feel more comfortable and ready. Our community loves to help everyone get better, be it in the game or in commentary.</li>
			<li>Take notes. The details of the race are sometimes hard to parse, and invariably in a long race, fans will want recaps. Good notes mean good recaps, and also helps when runners are retreading ground. Being able to quickly give a splash of info on where runners are and what they are about to achieve since someone else already did can be useful.</li>
			<li>Short list of things you shouldn’t do:
				<ul>
					<li>Don’t speak negatively of the game or the players. This seems simple but it can be easy to fall into. Even though the person running may do something different than you, that doesn’t make it the wrong call. It’s okay to consider the tools and tactics they have at hand, though, but stay positive. Try to frame things you disagree with through the idea of “I’m not sure about this” or “That’s a curious play” rather than something cruder.</li>
					<li>Don’t go off-topic into seeds you’ve played. Stick to analysis of what’s in front of you and keep conversation related to the current match. Likewise, don’t go off the deep end on something unrelated to FFR.</li>
					<li>Don’t overdo it on the memes or community terminology.  A little splash of color is good, and better when you’re explaining it (“While QUAK isn’t the ideal here, he can use it to bury Lich2 fairly quickly.” or “We joke about disrespecting Lich since he has the lowest HP total of all the fiends.”).  This helps pull people in, while too many memes will shut out newer players. FFr can be very meme heavy, but always direct back to the action and what’s happening in the moment.</li>
					<li>Don’t feed the trolls. In rare circumstances there will be negativity in chat and the mods will sort it out.</li>
				</ul>
			</li>
		</ul>

		<p>Here are some nuts and bolts tips on how to present yourself in the best way:</p>
		<ul>
			<li>Setup push-to-talk or a mute toggle in Discord to ensure no ambient noise is transmitted while you’re commentating.</li>
			<li>If you are selected for commentary, an admin will ping you in the restream channel to confirm. If your availability for a particular date changes and you have been selected to commentate or track, <i>please let an admin know immediately.</i></li>
			<li>On the day of the race, be sure to enter the Restream Discord channel approximately 10 minutes early. You’ll also want to join the SRL channel for the race. If you are tracking, be sure to ask your restreamer for the web tracker link.</li>
			<li>Load the Twitch stream of the restreamer. Thanks to the power of low latency, commentating and tracking off of the restream will allow for minimal delay in commentary as well as help prevent any potential item spoilers.</li>
			<li>Once the restreamer has given you the go ahead to start, give a brief intro as to who the participants of the match are, as well as maybe some matchup history and their current prowess. Sometimes you’ll have newer players that you can’t say a lot about, but that bit of color can really help guide the viewers. This is especially important for league matches- know what’s on the line for the runners and use it to set the stage for viewers.</li>
			<li>As racers are finishing, you’ll likely see the .done in the SRL channel before you see them finish on stream. Please don’t announce final times until they have defeated Chaos (or whoever the final boss is) on stream.</li>
			<li>When giving an outro, please inform the adoring public as to the time and location of the next upcoming scheduled FFr community race or event race. Thanking the channel that hosts us (RandoMania, SpeedGaming, RPG Limit Break, etc.) for their work in helping us is always nice as well. Also, don’t be afraid to wrap up shortly after the final runner finishes and has their interview time, if possible.</li>
		</ul>

		<p>Answers to questions and constructive criticism to commentary streams are always available on the Discord.</p>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>