@page "/ResCommentary"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>Code of Conduct for Commentary</h2>
		<p>Commentary for Final Fantasy Randomizer is a team effort; we aren't a community without you, and your work to help us staff our races isn't just appreciated, it's essential. Everything you, our volunteers, do helps us continue to provide entertaining races for fans of FFR.</p>
		<p>The FFR community does have standards for our broadcast team. They aren't overly onerous, but we do ask that anyone providing assistance on our commentary team -- commentary, tracking, or restream -- follow some very basic rules:</p>
		<ol>
			<li>Please keep language to a <em>very mild</em> PG-13. That means no cussing that would get George Carlin fined by the FCC, as well as no derogatory terms or slurs.</li>
			<li>In that same vein, no discussion of alcohol, drugs, or smoking in the commentary booth. Our broadcast partners have very strict rules about subject matter they will allow on air, and we as one of their affiliated communities, have to follow those subject matter standards.</li>
			<li>While in the commentary booth, keep the race about the race. Don't make the commentary about yourself and things going on in your life. You can relate what's going on in a race to your own experience in FFR, but only insofar as it helps to illustrate and illuminate a key point in the race going on. The race should be about the racers.</li>
			<li>FFR memes can be fun (everyone likes a good Team Steak/Team Tyro, or a amusing "Vorpal Sword Best Sword" debate), but don't let the memes dominate the conversation. Use them sparingly, and make sure you give a quick note about the meme to new viewers so they don't get lost. Memes can be fun, but they also have a long tail of history associated with them, and you don't want to alienate new viewers by overusing them.</li>
			<li>Do not deride the players on screen. While in the commentary booth you don't get to play favorites, and you certainly don't get to "talk smack" about one (or all) of the players on screen. You can comment on what they're doing, say how you would have handled things differently, but don't deride their decisions and make it sound like they're bad players.</li>
			<li>Finally, don't spoil the outcomes of races (either the one you're commentating or other races that might have just happened or are going on at the same time). With racers often playing with a delay in tournaments it's possible to know the outcome of a race before it's seen on air (and this is especially true in group races spilt across multiple broadcast channels); maintain the mystery until you get to watch it "live" so that everyone knows what's going on at the same time (and don't spoil the outcome of what's going on with other channels).</li>
		</ol>
		<p>All of these rules are there simply to keep the races light, fun, and well within the bounds of our broadcast standards. These rules encompass not only the times we are on a broadcast partner (like SpeedGaming or RPG Limit Break, to name just two), but also on the FFR Twitch Channel, in chat for races, and in the Racetime.gg race rooms.</p>

		<h3>Good Tips for Helping with a Race</h3>
		<p>On a race day, it's good to know that:</p>
		<ol>
			<li>The Racetime.gg race room will be opened 45 minutes before the race. One of the Race Leads will open the room, and then post an announcement, pinging not only the players but also all the commentary team members to let them know the room is ready.</li>
			<li>It is advised that commentary team members join the race room at least 30 minutes before the race. This will give everyone time to ensure the race is staffed and ready to go.</li>
			<li>Commentary team members will be granted access to the discord notes room and voice channel before the race.
				<ul>
					<li>In the case of SpeedGaming, their SG bot will ping commentary team members 10 minutes before the race is set to begin (and if a race is on the schedule before an FFR match, and that race runs long, the bot will ping the team as soon as that race is over, and the 10 minute window will begin <em>at that point</em>).</li>
					<li>For all other races, access to a broadcast notes room and broadcast booth voice channel will be granted to team members a few hours before the race is set to begin.</li>
					<li>For all races, please be ready to join the voice channel for your commentary 10 minutes before the race is set to start.</li>
				</ul>
			</li>
			<li>General procedure in a race room is for the players to have their streams up and ready 20 minutes before a race. A Race Lead will roll a seed for their race 10 minutes before their race is set to begin. If the players are on a delay, the race will begin <em>exactly on time</em> and then the broadcast will start once the stream delay is over (so, for example, a race with 10 minutes of delay that starts at 9:00 will see the runners begin at 9:00 and the commentary stream begin at 9:10 to account for the delay).</li>
			<li>Trackers, and the Restreamer, will keep their mics muted during the race. They are welcome to join in the restream channel's text chat and let commentators know things via text chat (and they will be keeping notes in the broadcast channel's text room), but they should not join in on the mic.</li>
			<li>Commentators are welcome to join in the text chat as well, and can read off comments and questions from chat (so long as they don't violate the above Code of Conduct). Engagement with chat is a good way to keep the viewers acting and interested in the race.</li>
			<li>When a runner finishes <em>on screen</em> they can be invited into the booth to chat about the race. If they decline, that's fine; don't make them feel guilty. If they come in, congratulate them (even if they lost). Make sure everyone has a chance to at least spend a minute or two chatting about the race before taking things to "Final Thoughts" and wrapping things up.</li>
		</ol>
		<p>Our goal is to keep a race fun and exciting. Good commentary is key to that. So long as you're having fun, and providing a bit of knowledge that helps inform about the race as it happens, you've done your job well.</p>
		<p>Even if you're new to commentary we invite you to come and give it a try; you'll likely be paired with an experienced pro until you've learned the ropes, so rely on them to get the feel for comms and to understand how the "patter" or commentary works. Like any skill, commentary gets better to more you practice it.</p>
		<p>We're happy you're interested in joining our commentary team. If you have any further questions, or even if you just want to jump in right now and start talking on air, come to the community discord and talk to the Race Leads. We're happy to assist you and get you in the races.</p>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>