@page "/ResEnemizer"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>Enemizer FAQ</h2>
		<p>Created by onefineday</p>

		<h5>So, what the flip is this "Enemizer" business, anyway?</h5>
		<p>Enemizer is split into two major features: Enemy generation, and Formation generation.  Enemy generation does exactly what you'd think it does - it creates a whole new set of random enemies for you to fight, with abilities and perks that are procedurally generated.  Boss enemies remain (mostly) the same, but everything else is different.  Formation generation creates new formations of enemies procedurally, using any valid combination of palettes and remaining within the constraints of the original game's programming.  If Enemy Generation is on, then Formation Generation is automatically turned on since it will be necessary to create new formations.  You can, however, turn on Formation Generation without Enemy Generation, if you like the original enemy set just fine but would rather see some new battles.</p>

		<h5>I've heard this causes the game to break.  What precautions do you take against that?</h5>
		<p>There have been some bugs in alpha testing, which have led me to make a few decisions.  Certain randomizer features will be disabled if Enemizer is on.  These features are:</p>
		<ul>
			<li>Formation Shuffle (this is superfluous anyway since Formation Generation is effectively an inter-zone shuffle)</li>
			<li>Trap Tile Shuffle (technically this could be something useful, but there are multiple steps I would need to take to make this compatible, or I would need to write a competing function, and I would rather have some consensus on this before I start writing a bunch of branching paths in the Trap Tile Shuffle function)</li>
			<li>Fun% Enemy Names and Fun% Palette Swap (Enemy Generation uses the added space that is also used in Fun% names, and Enemy Generation also generates new palettes.  Since palettes are necessary to the functioning on Formation Generation, I'd rather not mess with them)</li>
		</ul>
		<p>If there are other issues that arise, please let me know and I'll see what is causing the issue.  I believe I have resolved most of the obvious problems but there may be new ones that crop up from time to time.</p>

		<h5>So is there any method to how enemies are generated?</h5>
		<p>Enemies are generated on top of the original monster list (or the monster list provided by the ROM).  For most enemies, the stats of the monster are based on (A) the monster image chosen for that monster (all 52 images will provide different stats, and some monster types are just flat out stronger than others), (B) the level of the monster, based usually on where it is encountered in the vanilla game, and (C) bonuses applied to each monster, which are randomly determined (with a few traits, like Deathtouch and Stonetouch, being limited to the monster that has those traits in the base game).  The stats of Boss monsters and fiends are left completely unchanged, assuming your ROM has those monsters in the slot they would occupy in the vanilla ROM.</p>

		<h5>What are the bonuses an enemy may roll?</h5>
		<p>HP, Experience, Gold, and MDef base values will be whatever the enemy in that slot had originally.  Their strength, absorb, accuracy, and evasion are based on the enemy class primarily, and also the number of hits is determined by enemy class.</p>
		<p>There are global bonuses that will only occur for one enemy in every seed.  These are:</p>
		<ul>
			<li>Crawl multi-hit stun attack</li>
			<li>Sorceror Deathtouch</li>
			<li>Coctrice Stonetouch</li>
			<li>Mancat Resistances + Low MDef</li>
			<li>Nitemare Resistances</li>
		</ul>
		<p>Secondly, there are type bonuses which can roll once per monster group, that will be noted in the monster's name.  These are:</p>
		<ul>
			<li>Frost (denoted by "Fr"), Ice resistance and Fire weakness</li>
			<li>Red (denoted by "R."), Fire resistance and Ice weakness</li>
			<li>Sea (denoted by "Sea"), Lightning weakness and Fire/Earth resistance, plus Aquatic type monster flag is set</li>
			<li>Zombie (denoted by "Z."), monster gains all the resistances and weaknesses of an undead and the Undead type monster flag is set, and also gains stuntouch</li>
			<li>Were (denoted by "Wr"), monster becomes a Were type and will automatically acquire poisontouch</li>
			<li>Wizard (denoted by "Wz"), monster is guaranteed to have a spell list</li>
		</ul>
		<p>Thirdly, there are minor perks (and penalties) which can roll, which affect the monster's XP reward.  These are:</p>
		<ul>
			<li>Gain/Lose 10% from HP, Strength, or Absorb rating</li>
			<li>Gain low resistance (or cancel a weakness).  Low resistances are Earth, Lightning, Ice, and Fire.</li>
			<li>Gain low weakness (or cancel a resistance), the inverse of the above</li>
			<li>Gain high resistance.  High resistances are Status, Poison, Time, and Death.</li>
			<li>Gain high weaknesses, again same as the above.  High weakness/resist is slightly less valued than low weakness/resist in XP effects.</li>
			<li>Plus one hit, adds a melee hit</li>
			<li>Poisontouch</li>
			<li>Mutetouch</li>
			<li>Stuntouch or Sleeptouch</li>
		</ul>
		<p>These minor effects roll quite frequently, but not all type bonuses or minor bonuses/penalties are available to all monster classes.  Undead monster types, for example, will never gain or lose a weakness.  Any monster that gets a type bonus ("Fr" etc.) will not roll any minor perks/weaknesses.  All monsters can receive the perk of stat increase/decreas.</p>
		<p>Finally, every enemy (except boss enemies) will have a small variance in hp, exp, gold, and strength rating.  Additionally, any enemy with multiple hits will have their damage rating reduced by 1/15 per extra hit (with the effect per hit rounded down, so an enemy with 29 damage rating will only lose 1 strength per extra hit).  This effect on multi-hit enemies is intended to keep the attack strength of multihitters reasonable enough to account for their extra damage output.</p>
		<p>Any enemy with a script (excepting bosses) is automatically assigned the Mage flag, since all script enemies are spellcasters now.</p>

		<h5>How do you ensure enemies have a spell list?</h5>
		<p>They will be assigned the spell list of an enemy appropriate to that monster's level.</p>

		<h5>What happens to spell/skill lists?</h5>
		<p>Enemizer will also generate new spell lists.  Enemy skills are not altered (my preference would be to keep enemies limited to one or two skills, since the threat of the enemy pounding you repeatedly with blizzard is part of what makes skills an interesting mechanic, rather than mixing in something useless like GAZE or SNORTING with a strong skill).</p>
		<p>When generating spell lists, every spell is rated on a tier of 0-5, with 0 being a spell that will never be selected (all spells which are useless in battle or useless to the enemy at least), and 5 being reserved for FADE and NUKE.  Spells will only be replaced with a spell from the same tier, and all of the AoE spells are tier 3 or higher.  This will mean, however, that many enemies will utilize spells that no enemy would use in vanilla, like ALIT or TMPR.</p>
		<p>Because many enemies are guaranteed a spell list, you can expect to see a lot more magic, and generally more dangerous magic, than you would see in a standard script shuffle randomizer.  For this reason, I strongly recommend against using script shuffle when playing with Enemy Generator, but there is no reason why you can't do it if you really want to.</p>

		<h5>What does formation generation do?</h5>
		<p>Formation generation, as the name suggests, creates new formations within the constraints of the game's programming.  Therefore, enemies in a formation must share the same pattern table, there can only be two palettes for enemies in a formation, and each formation has an A-Side (which can have up to 4 unique enemies) and a B-side (which can only contain the first two selected enemies).  Aside from that, anything goes; however, to maintain some balance to the game, each formation is assigned a zone that corresponds to an experience level requirement, so early game formations tend to give low experience while late game formations can give much more.</p>
		<p>When rolling formations, the generator prioritizes placing enemies that haven't been placed yet, while trying to pick enemies that correspond to zones which need to be filled.  The result of this is that, generally, there is a reasonable distribution of enemy formations for all areas of the game, though there are usually only 3-4 encounters for each individual domain (and some domains are reproduced, for example the world map domains).</p>

		<h5>What about boss formations?</h5>
		<p>There are a number of formations which are set aside as special exemptions, which have special rules on how they are drawn.  These formations are drawn before the general formations.  The special formations are:</p>
		<ul>
			<li>Imp/Bum formation, which generates the designated noodle fight that appears in the area around Coneria.  The other side of this formation is a regular encounter.  This formation is never unrunnable and has a low surprise rating.</li>
			<li>Wizard, Eye and Zombie D formations.  The B-Side of these formations is a group of a single enemy selected for a particular zone, while the A-side is a generic encounter.  These formations are always unrunnable, and the B-Sides are placed on the appropriate trap tile (and are available as random encounters, too).</li>
			<li>Phantom, Garland, Astos, Warmech, Vampire, and Pirates.  The A-Side of these formation is always the boss battle, which appears in a fixed quantity (1 usually, 9 for the pirates).  The boss is placed in the third slot for enemies in the formation.  The B-Side of the formation contains two enemies that are compatible with the pattern table and the boss' palette, and appears as a random encounter somewhere in the world.  With the exception of the Pirates (which must be a 9-small), these formations are always 2 large-6 small formations.</li>
			<li>Fiends and Chaos, which are simply ignored by the formation generator altogether.  There are multiple assurances made so that these monsters do not appear in any encounter outside of the ones they belong in, in addition to any designated boss monster.</li>
		</ul>

		<h5>Is Garland supposed to be a dragon?</h5>
		<p>Yes, that is intended.  It gives the player information about which enemy types will NOT appear elsewhere in the seed, and I think that isn't too bad.  I could force Garland, WarMECH, etc. into their proper appearance, but it's kind of fun to guess what they will look like today.</p>

		<table style="width: 100%; text-align: left; border: 1px solid;">
			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #222222;">Enemy Type List</th>
				</tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">IMP</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Giant</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">SAUR</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WOLF</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>0</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GIANT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Giant</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">SAHAG:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>72 + exp / 40, max 100</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>High Resist, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">SHARK:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>0-8</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>72 + exp / 40, max 100</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>High Resist, High Weakness, Plus 1 Hit, Poisontouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BRUTE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">EYES:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average if exp &gt; 400, Very High otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>High Resist, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BONE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DOG:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>0-12</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">CRAWL:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">OGRE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Giant</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ASP:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-31</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BULL:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">CRAB:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">TROLL:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Regenerative</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GHOST:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>20% chance of Average, otherwise 0-8</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>Darkness if exp &lt; 150, Paralysis otherwise (Status Element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WORM:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>0-10 if exp &lt; 100, 10-20 if exp between 101-1200, 10-40 otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>0-60</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailments</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WIGHT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>20% chance of 1, 3 otherwise, exp &lt; 100 100% chance of 1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>damage</td><td>Low if 3 hits, Average if 1</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis if exp &gt; 80 (Status element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">EYE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Mage</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/Sleeptouch, Mutetouch. Guaranteed a spell script</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">LAMIA:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>50% chance of 1 hit, 6-10 hits otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Below Average if multi-hit, Average if single hit</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack Ailment</td><td>Paralysis (Status element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">PEDE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by deafult</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible perks</td><td>Low Resist, Low Weakness, High Weakness, Poisontouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">CAT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Poison (Poison element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Were</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">TIGER:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>20-100</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>8</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Poisontouch, Stun/Sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">VAMP:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis (Status element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Regenerative, Undead, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">EARTH (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">STORM (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>20</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Sleep (Lightning-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Fire, Death, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Time, Poison</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ICE (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Sleep (Ice-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FIRE (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DEATH (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Darkness (Death-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">CRONO (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>4-6</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis (Time-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Time, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning, Ice, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">VENOM (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Poison (Poison-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Regenerative, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DJINN (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Mute (Status-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Guaranteed a spell script</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FORCE (large elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GOYLE:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">EARTH D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Poison</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ELEC D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ICE D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Poison</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FIRE D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice, Poison</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DEATH D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis (Death-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead, Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">TIME D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>12</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Sleep (Time-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Time, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning, Ice, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GAS D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">MAGIC D:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Mute (Status-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Lightning, Ice, Fire, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Guaranteed a spell script</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DRAKE/DRAGON:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FLAN:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>33% chance of 0-12, 255 otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Resist all except Time and Weaknesses</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Guaranteed vulnerability to one of the following: Lightning, Ice, Fire, Fire+Ice, Fire+Lightning, Ice+Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">MANT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BUG:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Randomly chosen, can be anything except Confusion, Stone, or Death (Status-element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ANK:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">MUMMY:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Sleep (Status-element)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WYRM:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>72 + exp / 40, max 100</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BIRD:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>0-8</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>72</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">TYRO:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>20-40</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FISH:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>72</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">OCHO:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Poison (Poison-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GATOR:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>48</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Aquatic, Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>High Resist, High Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">HYDRA:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BOT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High if 1 hit, Above Average otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis if 2 hits (Status-elemental), none otherwise</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, Low Weakness, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">NAGA:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very Low</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Poison (Poison-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Mage</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness, Plus 1 Hit</td></tr>
				<tr style="vertical-align: top;"><td>Guaranteed a spell script</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">SHARD (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WIND (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>10</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Sleep (Lightning-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Fire, Death, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Time, Status</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">WATER (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">FLARE (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Hish</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Below Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire, Death, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">DOOM (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Darkness (Death-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Undead, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Ice, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">TIME (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-5</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Paralysis (Time-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Time, Poison Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning, Ice, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BANE (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Poison (Poison-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Regenerative, Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Time</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">MAGIC (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>Mute (Status-elemental)</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Lightning, Ice, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">AIR (small elemental):</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Low</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Special</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">BEAST:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuray</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Dragon</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Earth, Fire</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Ice</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weaknesss, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">SQUID:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-3</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Ice, Fire, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">KNIGHT:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-10</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weaknesss, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">GOLEM:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>7-60, if exp &gt; 4000 absorb = absorb * 2 + 30</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Lightning, Ice, Fire, Death, Poison Status. If Absorb &gt; 30 (tier less than 3) or Absorb &gt; 60 (tier greater than or equal to 3), remove one resist of Lightning, Ice, or Fire Weaknesses</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">RANGER:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1-2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weaknesss, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">PONY:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2-4</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-3</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Above Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weakness</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">ELF:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1-5</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Mage</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>None by default</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>Low Resist, High Resist, Low Weakness, High Weaknesss, Plus 1 Hit, Poisontouch, Stun/sleeptouch, Mutetouch. Guaranteed a spell script</td></tr>
			</div>

			<div>
				<tr style="vertical-align: top;">
					<th colspan="2" style="background-color: #444444;">MECH:</th>
				</tr>
				<tr style="vertical-align: top;"><td># of hits</td><td>2</td></tr>
				<tr style="vertical-align: top;"><td>Critrate</td><td>1</td></tr>
				<tr style="vertical-align: top;"><td>Damage</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Accuracy</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Absorb</td><td>Very High</td></tr>
				<tr style="vertical-align: top;"><td>Agility</td><td>Average</td></tr>
				<tr style="vertical-align: top;"><td>Attack ailment</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>Monster Type</td><td>Regenerative</td></tr>
				<tr style="vertical-align: top;"><td>Resistances</td><td>Ice, Fire, Death, Poison, Status</td></tr>
				<tr style="vertical-align: top;"><td>Weaknesses</td><td>Lightning</td></tr>
				<tr style="vertical-align: top;"><td>Eligible Perks</td><td>None</td></tr>
				<tr style="vertical-align: top;"><td>+12.5% exp for enemies of this type</td></tr>
			</div>
		</table>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>