@page "/ResFlags"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h3>2021</h3>

		<h4>Fall League 2021</h4>
		<h5>Open League</h5>
		<ul>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=gPNC-Lt0vM-ctnuBNDFx6pVWPkR2cGOpSn8j.E1rf13eHnW4AhsU4TfhbxE4TsICrr7w0T9sQhNwl3Fk30afSPxAHCJGD0q0x3RqhWhxod9p6-uHECCYJhxAoDTesCqK-yUGhxTwYOybJ-0rB">Free Enterprise Week</a></li>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=Agr7WgVRw1Am2NN1axt8vJfOzdTXEIsfpV82.9SSn.7DgWlKqgItDePOedJzRvUZ7wVEs4XH4RKaoRWSIDVx29K.hnpokn5GdHbUBCbuaEDjEG8ME4kIsaG5Dluc5Vu8rAtIOrTwYOybJ-0rB">Floaterless Classic Week</a></li>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=goYFgwBP3G37JV-w3I7viAx3jMti6MUMA0AGdnmBpfS3K.iiNknz1QQzpB.-FIw-bxf-REHn7K7ES4U9UenanBY3xdykfZExKSyK4TyYESOrC12A2Za9EZ-TIiMBN803kTyFOrTwYOybJ-0rB">Deep Dungeon Week</a></li>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=4ZtWFQ32fBkKaGg.E8zscKKKoMc2OWfCZq0CkNkE0ROL5S-VqzJKuDwgldJMIGR-frsM9uwqvHDgQVNEi8XHGCy.haM2KLN7XeaLE7E1B6CbMjVs.LBr1Tl8qyM5YSq16vPiA-kwYOybJ-0rB">Oops All Loose Week</a></li>
		</ul>

		<h5>Semi-Finals and Finals</h5>
		<ul>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=cZytcdZXQnLqCXHf-D8yoaTX6MCoyOzreB6h.9mZIxc-RXDr4hXNm.zvzw1HbD6JoFfxyVvlGxDbL8Yuu4Hu6GzZreDqC8T1h0qZf2Fg9rbDHF4ra6U29UrDKOFLj29zen7RrHpwYOybJ-0rB">Semi-Finals: Spoiler Week</a></li>
			<li><a href="https://4-2-2.finalfantasyrandomizer.com/?s=00000000&f=gAh7B3JIJsmK9hTlE8fog8W6nLMcCLfYUYYnt3h2vlMP9zE7mGA-RYLvtWaNaodRrvxONO7jxQo3iaS3B55M0CWCCTj3N1TyP7efRhTofSLhb2d1ekIlAEVy4gxO4D0elDeYN-kwYOybJ-0rB">Finals: Rally Week</a></li>
		</ul>
		
		<h4>Summer Co-Op 2021</h4>
		<ul>
			<li><a href="https://4-2-1.finalfantasyrandomizer.com/?s=00000000&f=YDjii32pZ659omHMkEiplvU1stK.Lfo9FDQxmVzy8v2B0TgotTHURrcaBBUS9mN6qK4-7aiUqbKM2FrpyJuSIb64ueHg2RwTWHzX0JVnoSgUhy7Bt4oM5P2CUnlE2JN6EHU1qUv1utPO11j">Play-in Races and Round of 16 &amp; 8</a></li>
			<li><a href="https://4-2-1.finalfantasyrandomizer.com/?s=00000000&f=YDAUbYLkZ659omHMkEiplvU1sRvRUt1nYrbGHS3Y6EtGCDhIZagBcWFyg-fpNSYwGRKq5v80fHrlMFJiaveROoyLt7R9GiUVMPwxoH49x7I7EcRfFkMbPQiG1MwzvPR6EHU1qUv1utPO11j">Semifinals &amp; Finals</a></li>
		</ul>

		<h4>Weekend at Zeno's Summer Mini-Event</h4>
		<ul>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=IiSL3KmMuQg4ZivW5bzNfdAwqQHrTfFLwDNp2dcDN9e.wfSDd1dYVdKioEBNczzuArZOz2Xivgg1lzGIjbvcJxAcask6GM96rA9bdsVMacoIAqwuiNIWWGbMHKf6myHiUAQsp90Ct.9-B">AelMarkin_'s Mystery Submission</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=81AA44B6&f=I1nUFX-Al5YF2AIvnawklJV5HYlPLWV9kpF3sdLZr0.mhlw-B77CEyEzkPC3uDucuLGi92evlftsznHuePyesx99rxDllIbWAzLET1-fS3Qp.nchE9edPUag16Pkvqyfzprsp90Ct.9-B">HaateXIII's Mystery Submission</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=chM2.psGlEsni8Os1ugG.vxpu434nWqUiPt73v7EpP753yQFXfItlnbuFgc8KO7k92cta.sUhsI1cH0dXGjHxvP-C14WednMDObi0YxSTa2T2JPyJMGqtJGoTZKmMhMvTAQsp90Ct.9-B">LordFizzlebeef's Mystery Submission</a></li>
			<li><a href="https://beta-975b0f5a.finalfantasyrandomizer.com/?s=DD2C2C2D&f=AgHNA3q0EpZEkS9EkIUsIMm7.sI-JY-aOaw91chhWhp0SSDEYYPjiCSMatfK1lrcsNFEdrsYbC0m390stKExQ38dBCPnDytndK4P9vilfypRQYDMBWqPTTIpo1RqEFo68GmIWniFoL1qXqi">Spellzapp's Mystery Submission</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=40c99ff9&f=wge.L06V3hlsze5e5gNtN7iH5RXIyONuAc9A8Lexl-rkdKsgFgLP.I7ZaEPmFDBHUK5bXQsizGG.3ynRhytuLpT1scUwq74UoyMcW9Qsn88k2sfETB.30O-SE">Zen0bian's Mystery Submission</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=574DAF85&f=EHLjJvVhyhNzoMk3QoHr7jfBvcBaSUYql.sczPBr2NngKzyJxaKj1cAtyUF8OzwhWEzIXOQQxDitf5odFFkorCD8CmjNFrynIxomcDaHgpU7XZ2KTiSd1HmoiZaY1NXbOEQsp90Ct.9-B">Bonus Race Mystery Submission</a></li>
		</ul>

		<h4>Summer 2021 Duck Derby</h4>
		<ul>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=QHNA2tCqKyyttu5qL0-AHb2S4yMk0mX0f77pgC.N8V2gK2SHSJWwzuwVB8TqMUeIwLYAj8CVWrPK4LCoxI--NGKMkTLB1D3.8OydbVgxuVZY5aU3No7QGmqCsdaqmyHiUAQsp90Ct.9-B">Coneria Circuit</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=QHID3FKdLSTYA2pURrt0BSNOgP8vaZMMwi6xpUcVupJ9iQTk6pxvNij8E4pv8S.ld6KNfPv-1Ojwu2J4GFi-KtpOJXCM0HED3hjW96M1cwvWEfd-9XcTRcpKPtzlmyHiUAQsp90Ct.9-B">Innersea Tour</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=QHNA2tSXqHIPYGU8ehrXyZcmOoIWYuWe.PXfvEXC-qG02kIq6J20BNnYKNgQAqQf7O7oEecSQSrqNAsGl-OFId6f3y4buh5kmSLXG6d-OzFn1AO0ZwnENzjKqupimyHiUAQsp90Ct.9-B">Melmond Ruins</a></li>
			<li><a href="https://4-2-0.finalfantasyrandomizer.com/?s=00000000&f=QHIDXwuefQoush8nIs9eowXluSOZ91snbqhsvaihZajM3Wx4S-IRgUR4LewcRC99QqWcBwV.awd76m9WG-XB47gxj3lfLLquWfxXpJSKp7NuX6CnA0mbPq4er5rimyHiUAQsp90Ct.9-B">Chaos’s Castle</a></li>
		</ul>

		<h4>Summer 2021 Duckling Bootcamp</h4>
		<ul>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=ADWUpVK2imhgt8GLzBf2yBoPiltAz4-L7s5MBZnHPehUnbSnidRJIuqV8RD.j3kAbhGV-LMK7X1-BuWAU0LFrc4A-YhgMf79Ynb6BDVrRFLzEdCCTB.30O-SE">Week 1: Beginner Preset</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=og0TphXasiZvebR.kwFxxbBxmOB0lIl9mShOHMohR6ugxfdxW0OB.iipXgxYUvzcb8ZR8xa--fcdvKb-lq7QwjlAuQ1kP3LffBfJu42UcNeBndCCTB.30O-SE">Week 1 Extra Credit: The Benefits of Being a Ninja</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=ECWUcC9extwVZOR3RTOlIgqUTbz7.hVIZB-C-kQqqXDSrqz3C-1c96eN14AQxtcYoMxqPEi1vpekeUkKGg92RPQDD6enLNfm.iVk35mKHwEFndCCTB.30O-SE">Week 2: A Touch Spicier</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=sfFjavOMjG8hWLthuSeQ8ud03pTQFp2glDzzxHeJDxEGM9WnlK7LW0d9GHvZDslvwlsO78eLFpgePJxHYXnaktVf36FidIm9mkbpOki6sGrqLdCCTB.30O-SE">Week 2 Extra Credit: Historical Walking Tour</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=ogEJH4WofzpisJgEE6Jcn6tBFjlJZFeo6BqvUWdUCt89ztDK46JVCf.bacmjGcDaa87qFA15IDEXEKPcHtTU5G5KazAGG69xJT.EUZlKnhkvEdCCTB.30O-SE">Week 3: All About Dem Black Belts</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=kwmNcJTm2F8cdvKhpMDvOijwKp.ByXX7-0c4US0qDGhFnUs5c5ZAxqngtYQR9Y7BReH3oaWUkXDAdQ0CBv9A8EWZzyDbMk-Og6wC78FhkAXS7dCCTB.30O-SE">Week 3 Extra Credit: Chaos Rampage (with Training Wheels)</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=gjwOsivvw-1CcP9trE0Ac3dQl77mJa1JkjgYiMRouMZeGOl6F-fUgv6aaY0TsT30ptAsJy5Ari6UhUtGW2fAPlDTO23GuxGrmXAAhY2wi70mtdCCTB.30O-SE">Week 4: 3's a Party</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=ATf-0lwD4snioOazKV3QzNcc.QyN7kRErKH5vriSAV-GINFJ98bmkzT-4Id8jTinuo8PyXxeHNFt3fwFREpuDJqxjp-QMcd08Qt-0NSOpTew0dCCTB.30O-SE">Week 4 Extra Credit: Mage Masher</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Q6iLWL3O2VD1PtZTfrn-QeH24S.PnRN9-1EGtK14xoJEJpMFY2FF4KXyQQRHwsi4Q.zynyOMpQoic4GoT8wYqpDG71Kyn9nTvwnWItqd2sX1tdCCTB.30O-SE">Week 5: Nones and Bonuses</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Qaeoo86D6xiqtAFEvXYOTHFukwTXjocX7nRb6PDxv2vQ2wuhFpd.bl3DFMiCS6Khe8OjqkYSXe4b.5aK2cWxT7CEhT2jrySuts5Kluf83sX1tdCCTB.30O-SE">Week 5 Extra Credit: Dangers on the Open Sea</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Iv77Fn7B1d6kSsfLGWzI1S1Iul2fbEesF6EL-NjndxZduiIi.3sKI7EDtX2DmkpKnB1XIwEf3LjIV2XYRFAKrGDlK07NUi9HxIfb2kOPp99NpdCCTB.30O-SE">Week 6: Closer to ST</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Au.9VtayJtRHDdi6oo-Yvr9fNxB2Fyu9.PxLljiJEkk5dJw8u.znIPZC08GVdevybE4jYMCWR845pnCJidgRMU6mcth9aflk5deQvrECeYbJvdCCTB.30O-SE">Week 6 Extra Credit: Revenge of the Lich</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Q6ihe68yReEVnGv9Q7b7Xwsie4075dTmg1wf9HvZkr3PhxkPQM4AfhJmL0SITVRwch0EwuX051x.jVKV5rwRtuynE9M445nTvwnWItqd2sX1tdCCTB.30O-SE">Week 7: Entrance/Floor Shuffle</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Iv7fLxUqjNKmVZKWwHD8sz3iHNMaGLhUSC6CtyuLnvOGPb6UKDjnz2hQHiqp6MM3oTaTYHuTOL1nvPgu6f1vSLs.JN8uQ9L1CxClW6ReEWxLAdCCTB.30O-SE">Week 7 Extra Credit: Work with What You Got</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=Qq81pym49Y-H9PSCR3AIVKlxmq6qIUzzutKc4Y-ml4-5h-eXwq3kgqoZcNw6gTE1uhB-L7p34oO8r3Kj3N-PELf7V1p4em9p5m44wtB11sX1tdCCTB.30O-SE">Week 8: ST Pods+</a></li>
			<li><a href="https://4-1-6.finalfantasyrandomizer.com/?s=00000000&f=QazIPx3Cdk0T6BGebv2SYF8c6aJJOP2loUVxGlzVJ5uPzusJxXuQed9fGxdBQnAaNTVtPPTHxMNJKoclsl0DJv-ZY68eCOd7Rt18AvHQ2sX1tdCCTB.30O-SE">Week 8 Extra Credit: ST Brackets</a></li>
		</ul>
	
		<h4>Spring Tournament 2021</h4>
		<ul>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=Q6FRrqm4Ajhn31PqUo-LAOBNtFuHCGiy.tF4oW6-VYqZePS8kIxHG6W9zJnu7oIKbC28sTkvJjG0rlqhIKJpm2BL1.XReaRMW7.BKjNp2jz5dnHdDYNofvS6E">Pods & Play-in Race Qualifiers</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=QaSZ3m.OpNbtT.3NdtmphJV0RctjIIRKcr0vraakZGsNJuqCCJ6Zo90aFG2-T11kUIdx20Plli1ID-oPvKLMFUKaQ7WuVcRMW7.BKjNp2jz5dnHdDYNofvS6E">Round of 64 &amp; 32</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=QazIPx3QaPcZTzuYy12GchXuLUBpzkpoyzs3.UmXsTz.twnItrOnqBdyphwH7rUX-OtExnWHMntsKtQCemsXBTijbw.QPCxduB8FakTE3jz5dnHdDYNofvS6E">Round of 16 &amp; 8</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=QazIPx3Cdk0T6BGebv2SYFQ5zKdIw0oOWCkBqHQudYqPtP4Syh4OCINrRgJ73RATGwPZhrdXVpfIvWl4g9JTfwcYg0msNGu1lRCaqlTE3jz5dnHdDYNofvS6E">Semifinals &amp; Finals</a></li>
		</ul>

		<h4>RandoMania Tournament of Hope 2021</h4>
		<ul>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=YQeub784ISYfq61Ys6YY3coyb8VbdZ6G3VTVYOihKyHkhZKYEbYeoN1L7UkDB7YzxU39rrkgVsOJLI6HEciMiZJIir!mqJD">Chaos Rampage Tournament Flags</a></li>
		</ul>

		<h4>Winter 2021 Duck Derby</h4>
		<ul>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=Av0px2aVm9JRW18fLJI5CyrQi925lkAzxzaNAZisZogB2XUkQSHCkOiazw3xmVazz95CPu.TAxfFV9zc3JwGOCV1r9Xy28D.AucC">Pravoka Square</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADLdunoG4Xr6a291PjlbVrezVO893q7hK0UOLcMbdAB9WjK90feBfqH.Ukpa1hqUa236yYTllBrInCWce8.EOCV1r9Xy28D.AucC">Garland's Castle</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=A5tdM4cbCC45BsmcXS6dCijRe8E4uiBZHjUXcBcbRU0Nh2fuXFGO2-4T9AYOANArpS38BXNgiPJhcwfxxpT3iQdVv9Xy28D.AucC">Ryukahn Ruins</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADLVRx8YxVmN02JANmkDSfbC6nboCP.jHtWuOJixJmm95IazmKDDDH4G6HxxyCd8No6lHWNfK-KwrNOnxSAFOCV1r9Xy28D.AucC">AMUT City</a></li>
		</ul>

		<h4>Winter 2021 Duckling Bootcamp</h4>
		<ul>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=wG2bUizuCP6b7eisHc9jzEF7pkoHN7LiEQjqhEyuZpVcyx4TFJLYVwkJtJbBCTzaYO2uMH7MhgoX0vOtIHQMiZJIir!mqJD">Week 1</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=wOgUpUqdrWUBS2rM5NprtEMBc2b!167oCjc8OXyhzY-IbZEum8Hhq2Y6QVZrH33Wq4YlZ9vBtURYE3Te42FNiZJIir!mqJD">Week 2</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=8Gqn04DcEXl5VwZtFRVf-X9PSMXG2FYECXNYJp-JD-RoZUX7J5LDCGiyu72IeEZlUFH7DxJcOqw0zvOtIHQMiZJIir!mqJD">Week 3</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=MPE92rHjBIRxoyRlFZ3R7euUczKYZ1jdgdBH7W4VlGcJaV4CGGv-W25Rkx1GYYX5Nz6a-Ggxy-7X2e6xjokxrZJIir!mqJD">Week 4</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=UH!ZfzetQdlQfwda7!BI2lO!UrSU-qc9lNNkNnic66IrQa7lGnepFV5M1wB1GnTBcaT3Td4pcfgb0vOtIHQMiZJIir!mqJD">Week 5: Land Navigation</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=wGBP-LWrL3BcsCa-52gAaCIJCXHicmFgFOGuBvIoIv2n8ZKYhjZleLmQZSqPbCfHJTpc3SROawVedBDmn6owrZJIir!mqJD">Week 6: Obstacle Course</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=Smq-nFYgAWQ1Hhsl1JIPeQ4vGSrNUI26ID!LaisqTc!GGXK7j2PPZStM9xPCwusBM9GaOSzv57gIa72zIHQMiZJIir!mqJD">Week 7</a></li>
			<li><a href="https://3-3-0.finalfantasyrandomizer.com/Randomize?s=00000000&f=ulYl5gmB-gL9T9Hc-8tGT7ITmW1a6ZAyuFfRi7vny92CWDe1DTgftWTGM45!qiw1hqKaRL4HIaaY1zOT4WuMiZJIir!mqJD">Week 8</a></li>
		</ul>

		<h3>2020</h3>
		<h4>SG Live 2020</h4>
		<ul>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADrmc4qtjffJb0OwaD5JysoCb8yh5titY3iHc87L59N6pLxZHmIPazoxHQVP4IVXqn.0QaOuSokGzunYKLSDOCV1r9Xy28D.AucC">Pods Stage</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=AvYDA-f9mgU1My.44TkRS5ApEKKUezQCFjcJpvhC6p3VeS9.nUNzLKbmvMYzJyECKVt6pGkHbbsrq3BNfKBFOCV1r9Xy28D.AucC">Brackets</a></li>
		</ul>

		<h4>Fall League 2020</h4>
		<h5>Open League</h5>
		<ul>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADroAeQixtkBc214FVDVeMUN1DtZ25bpzBimT3WqvxorG95gQv-MO2LNJroiYieo3o3RadjzWD2C70eWH..EOCV1r9Xy28D.AucC">"Classic"-style Flags</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=cjVIvvsyGMz2IQJrcoP.9SU6emjeY0PUzKVKTPWDV53VusJ6Vna8h.Zt029mX0s.ravOhtrcLm6QPesDCEMF9EI0r9Xy28D.AucC">Chaos Rush Triple Threat</a> (Run Three Seeds In a Row)</li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=o8pTEOxSnByCDgMP7wTf2JXSCxgLc-tvzRKbv1QdhgAOpvB7JsvtGhA0zy3C3qr4srErPjewDmEtSq5OrCBDn6oxr9Xy28D.AucC">Free Enterprise</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADH35olvMPjK4V4IT21aamfti3TcxO9ky88Gx--o9fUIkBrBQNVqfIVA88JykfnzGdNM.bROmHcmSHhY9xI5HxFyq9Xy28D.AucC">Shard Hunt</a></li>
		</ul>

		<h5>Semi-Finals and Finals</h5>
		<ul>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=AJmM9UZ8oDUuw3M95loHm10iPp6OSEljC5EqDUvRFzxocJKQnbTiKI2vnlHo-TK0tm3nvoTlGbcb-nu7WHTBkQfa9SYy28D.AucC">Entrance/Floor Shuffle</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=Aw-jfO3K9rHTcNNtMLoEAXzSAFlMFpna-R3.4yGkVLMab3zO9F3hjEvb18FY.thyrN9hIqIcMPUisuESycGNyp0OaCYy28D.AucC">Fizzle's Mystery Flags</a></li>
		</ul>

		<h4>Spring Tournament 2020</h4>
		<ul>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ADroEXq61IYginnBIpgQGNUoI6X5-ZZSJ-br1dGilxlxiYr1GaIR2zKl6wSNY-TC-46obi.zHGnYyNFeZ6CGOCV1r9Xy28D.AucC">Swiss Rounds</a></li>
			<li><a href="https://4-0-1.finalfantasyrandomizer.com/?s=00000000&f=ATjkqpM6qhkoN4nN43.8g.fGBgDuIfWUBwqlRGmtoOi6mGKsn.j4B0Kl6wSNY-TC-46obi.zHGnYyNFeZ6CGOCV1r9Xy28D.AucC">Brackets</a></li>
		</ul>
		
		<h3>2017</h3>
		<h4>Spring Tournament 2017 (Recreated)</h4>
		<ul>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=IXqE9S2.uSNGyWVtcsUTT6q1K.TJ-ZWSYp37j7zNuwFRA9df35K1crmvgRGQSvC-kw.W-sMRJyC4pXQrZogmOJ5zdonS.vZE0OnP06UHupNzilHdDYNofvS6E">Round 1</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=IXqE9S2ebNy.tXDx9tPOmkLagAkw.5Lnhq1ZWurRt8.NNCmPNUoH.53PwMDfNibNKJw6Wanhvlv8wC2LtVeoGr5zdonS.vZE0OnP06UHupNzilHdDYNofvS6E">Round 2</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=AgGBRT2evDu.oHwtYAzyZSy1DJfK3ekvmDwf.0mOUTyLh9gk9JUfXG.NWtTWTITXh5XwMJgOpz5LIlhpFItjY4QEDheUZB1XK6UJTlL1UclqK7LdDYNofvS6E">Round 3</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=AgGBRT2ezNtJscrmm7vho1E8ISP0dmd4CjWBY.ctLBztEiDY0SlnRxamU8jWc326dyVvKkC9qS4ozNMbk7hevATEDheUZB1XK6UJTlL1UclqK7LdDYNofvS6E">Round 4</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=AgGBRT2ezNVbXUEFNToeX.daIpvIUdAESeBHch6HBAJ3dm0IoMsC2xO0YdiVfNhg9EurezC9qS4ozNMbk7hevATEDheUZB1XK6UJTlL1UclqK7LdDYNofvS6E">Semi-Finals</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=AgGBRT2eLf9KVB2VxwsMhINhcmIl56TLUjqwRqtSenx-GpytyI5bUbgB3cs2cjqWjgLR3iMN6-fCd7G832EDAD.huioWXB1XK6UJTlL1UclqK7LdDYNofvS6E">Finals</a></li>
			<li><a href="https://4-1-5.finalfantasyrandomizer.com/?s=00000000&f=ATo.QT2eDnqBUqt45MTs2UkWfRA4XmUJXFflDPMRTFHxMxt2nBKAC2k6Hlrvrz5qGDucVkUczRlPFdVxy4tpdo1D3Nh9qWxUIgKO230MU880D7LdDYNofvS6E">Bonus Stream</a></li>
		</ul>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>
