@using Microsoft.AspNetCore.Components.Web
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager

@page "/ResImages"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<img src="images/@TargetImage" />
	</div>
</div>

@code {
	[Parameter] public string TargetImage { get; set; }

	protected override void OnInitialized()
	{
		//Flags.PropertyChanged += async (sender, args) => await SetQueryString();

		var uri = new Uri(NavigationManager.Uri);
		if (QueryHelpers.ParseQuery(uri.Query).TryGetValue("image", out var image))
		{
			TargetImage = image.Single();
		}
		else
		{
			TargetImage="";
		}
		StateHasChanged();
	}


}
