@page "/ResMisc"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>Additional Guidance</h2>
		<p>Here are various interesting things you might not know about Final Fantasy and the Randomizer:</p>

		<section id="interest">
			<h5>Interesting Basic Notes:</h5>
			<p>Vorpal is a good situational sword for high-evasion fiends, but is otherwise second-tier to Masa &gt; Xcal &gt; Katana &gt; Sun/Defense (this list is debatable, but semi-accurate).</p>
			<p>LAMP is practically useless.</p>
			<p>TYROs are high in EXP. Killing them can be good for levels, just be warned they they've often been known to roll high on their stats and can put up a bit of a fight for their delicious meat and EXP.</p>
		</section>

		<section id="ship">
			<h5>Ship Spawn Locations</h5>
			<p>When you find the SHIP it can spawn in different places around the world, generally at the dock "closest" to your current location:</p>
			<ul>
				<li>Coneria and Temple of Fiends: Port just outside of Coneria Castle &amp; Town</li>
				<li>Dwarf Cave: Port East of Dwarf Cave</li>
				<li>Matoya's Cave: Port South of Matoya &amp; Northeast of Coneria</li>
				<li>Pravoka &amp; Ice: Port just outside Pravoka Town</li>
				<li>Elfland Castle, Northwest Castle, Marsh Cave, and Volcano: Port just North of Elfland Castle &amp; Town</li>
			</ul>
		</section>

		<section id="caster">
			<h5>Spells from Caster Items</h5>
			<p>If you use these items <i>as items</i> in combat, you'll get these cool, unlimited-use spell effects:</p>
			<ul>
				<li>Light Axe - HRM2</li>
				<li>Heal Staff - HEAL</li>
				<li>Mage Staff - FIR2</li>
				<li>Defense - RUSE</li>
				<li>Wizard Staff - CONF</li>
				<li>Thor Hammer - LIT2</li>
				<li>Bane Sword - BANE</li>
				<li>White Shirt - INV2</li>
				<li>Black Shirt - ICE2</li>
				<li>Heal Helmet - HEAL</li>
				<li>Zeus Gauntlet - LIT2</li>
				<li>Power Gauntlet - SABR</li>
			</ul>
		</section>

		<section id="break">
			<h5>Class/Weapon Level "Break Points"</h5>
			<p>At the following clases and levels, these weapons will gain extra melee hits:</p>
			<ul>
				<li>Fighter/Knight:
					<ul>
						<li>Masamune: 13/24/35</li>
						<li>Xcalibur: 18/29</li>
						<li>Defense: 18/29</li>
						<li>Vorpal: 22/32</li>
					</ul>
				</li>
				<li>Thief/Ninja (and Thief/Ninja with Fixes):
					<ul>
						<li>Coral: (20/28/36/44)</li>
						<li>Masamune: 22/38 (20/28/36/44)</li>
						<li>Katana: 13/29/37/45 (15/23/31/39/47)</li>
						<li>Defense: 13/29</li>
						<li>Vorpal: 18/34/50 (18/26/34/42/50)</li>
					</ul>
				</li>
				<li>Red Wizard:
					<ul>
						<li>Masamune: 21/37</li>
						<li>Vorpal: 17/33</li>
						<li>Defense: 12/28</li>
					</ul>
				</li>
				<li>BB Unarmed: 21/32/42</li>
			</ul>
			<p>Note that these levels are with Thief/Ninja fixes both off (and on). Blursed Classes and Blursed Gear will affect these numbers.</p>
		</section>

		<section id="noweak">
			<h5>Enemies Not Weak to XCAL</h5>
			<p>Comprehensive list of enemies that are not weak to XCALBER:</p>
			<ul>
				<li>WOLF and GrWOLF</li>
				<li>MADPONY</li>
				<li>PIRATE and KYZOKU</li>
				<li>CRAWL</li>
				<li>HYENA</li>
				<li>SCORPION</li>
				<li>BULL</li>
				<li>WORM and Sand W</li>
				<li>MEDUSA</li>
				<li>PEDE and GrPEDE</li>
				<li>TIGER and Saber T</li>
				<li>SPIDER and ARACHNID</li>
				<li>MANTICOR and SPHINX</li>
				<li>R.ANKLYO and ANKYLO</li>
				<li>COCTRICE</li>
				<li>R.CARIBE</li>
				<li>NAOCHO</li>
				<li>SORCERER</li>
				<li>BADMAN</li>
				<li>GARLAND</li>
				<li>ASTOS</li>
				<li>CHAOS</li>
			</ul>
		</section>

		<section id="runnable">
			<h5>Runnable Vanilla Spike Tiles:</h5>
			<ul>
				<li>Gargoyles (Temple of Fiends)</li>
				<li>Images (Northwest Castle)</li>
				<li>Mummies (Northwest Castle)</li>
				<li>Cobras (Marsh)</li>
				<li>Giants (Earth)</li>
				<li>Giants and Iguanas (Earth)</li>
				<li>GrOgre, WzOogre, and Hyena (Earth)</li>
				<li>Sphinx (Earth)</li>
				<li>Grey W (Volcano)</li>
				<li>Agama (Volcano)</li>
				<li>Red D (Volcano)</li>
				<li>Mages (Ice)</li>
				<li>All Undead (Ice)</li>
				<li>Frost D (Ice)</li>
				<li>FrWolves (Ice)</li>
				<li>MudGols (Ordeals)</li>
				<li>Nitemares (Ordeals)</li>
				<li>WzMummies (Waterfall &amp; Sea)</li>
				<li>Seafood Buffet (Sea)</li>
				<li>GrSharks (Sea)</li>
			</ul>
		</section>

		<section id="exp">
			<h5>Enemy High-Value Experience List</h5>
			<p>Key: Enemy Name, low EXP value - high EXP value (number of variant packs)</p>
			<ul>
				<li>3-4 Worms: 13032 - 17376 (2)</li>
				<li>1-2 Nagas &amp; 3-6 Waters: 8241 - 16482 (5)</li>
				<li>2-4 Gas Ds: 8136 - 16272 (3)</li>
				<li>1-2 IronGOLs: 6717 - 13434 (2)</li>
				<li>1-2 GrSharks &amp; 1-2 BigEyes: 5952 - 11904 (4)</li>
				<li>1-2 ZombieDs &amp; 1-3 WzVamps: 4716 - 11817  (6)</li>
				<li>3-6 Waters: 5886 - 11772 (4)</li>
				<li>2-4 RedDs: 5808 - 11616 (3)</li>
				<li>5-9 Badmen: 6315 - 11367 (5)</li>
				<li>2-3 Eyes: 6450 - 9675 (2)</li>
			</ul>
		</section>

		<section id="tofrweak">
			<h5>ToFR Fiend Weaknesses</h5>
			<ul>
				<li>vs. Lich 2:
					<ul>
						<li>SLP2 and SLO2 have 32.3% success rates (65/201)</li>
						<li>STOP has a 28.4% success rate (57/201)</li>
						<li>QAKE has a 24.4% success rate (49/201)</li>
						<li>ZAP! has a 20.4% success rate (41/201)</li>
					</ul>
				</li>
				<li>vs. Kary 2:
					<ul>
						<li>SLP2, MUTE, SLOW, SLO2, HOLD, and CONF have 14.9% success rates (30/201)</li>
						<li>STOP has a 7.0% success rate (14/201)</li>
						<li>QAKE has a 3.0% success rate (6/201)</li>
						<li>STUN, BLND, and XXXX will all work if HP &lt; 300</li>
					</ul>
				</li>
				<li>vs. Kraken 2:
					<ul>
						<li>SLP2, MUTE, SLOW, SLO2, HOLD, CONF, and BRAK have 6.5% success rates (13/201)</li>
						<li>STUN, BLND, and XXXX will all work if HP &lt; 300</li>
					</ul>
				</li>
				<li>vs. Tiamat 2:
					<ul>
						<li>SLP2, MUTE, SLOW, SLO2, HOLD, CONF, and BRAK have 6.5% success rates (13/201)</li>
						<li>STUN, BLND, and XXXX will all work if HP &lt; 300</li>
					</ul>
				</li>
			</ul>
			<p>Community member Artea also came up with a <a href="https://docs.google.com/spreadsheets/d/1Q2UOCDgXPTaKfJr7zd9u_eXYmDZE1KU67xx_TKZIkkc/edit#gid=854036279">list of the odds of every spell hitting every enemy</a> of the game. Very useful, and super detailed.</p>
		</section>

		<section id="tofrskills">
			<h5>ToFR Fiend Skills and Spells Pool</h5>
			<h6>Skills</h6>
			<ul>
				<li>Nuclears x4 (from Warmech)</li>
				<li>Inks x4 (from Kraken2)</li>
				<li>Plus: Thunder, Poison, Blizzard, Blaze, Crack, Inferno, Swirl, and Tornado</li>
			</ul>
			<p>Two boss scripts won’t have skills since Lich 2 and Kary 2 don’t have skills.</p>

			<h6>Spells</h6>
			<ul>
				<li>Nuke x3 (two from Lich, one from Chaos)</li>
				<li>Zap! x2 (two from Lich)</li>
				<li>Stop x2 (two from Lich)</li>
				<li>XXXX x2 (two from Lich)</li>
				<li>Fir3 x5 (four from Kary, one from Chaos)</li>
				<li>Rub x2 (two from Kary)</li>
				<li>Stun x2 (two from Kary)</li>
				<li>Lit2 x10 (eight from Kraken2, one from Tia2, one from Chaos)</li>
				<li>Fir2 x2 (two from Tia2)</li>
				<li>Ice2 x3(two from Tia2, one from Chaos)</li>
				<li>Bane x2 (two from Tia2)</li>
				<li>Plus Ice3, Lit3, Slo2, Cur4, and Fast</li>

			</ul>
			<p>One final boss won’t have a spells list thanks to Warmech’s lack of spells.</p>
		</section>

		<section id="colors">
			<h5>Town Shuffle Colors</h5>
			<p>When using Town Shuffle, the towns are colored to the location they've moved to:</p>
			<ul>
				<li>Blue is Pravoka entrance. (pirates and water)</li>
				<li>Green is Crescent Lake. (massive forest)</li>
				<li>Pink is Elfland. (elves like pink, apparently)</li>
				<li>Red is Melmond. (scorched earth)</li>
				<li>Soft Blue is Onrac. (major ocean port with subamrine dock)</li>
				<li>Brown is Gaia. (land locked)</li>
				<li>Purple is Lefein. (to match the color of the locals garments)</li>
			</ul>
		</section>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>
