@page "/Resources"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>New Player Guides</h2>
		<ul>
			<li><a href="https://docs.google.com/document/d/1HrAugvd0M_NUt3Vj7atWqLPFc03HDq2atSx4PXBFzrE/edit#">MoMo's Mega Mogwai Power New Player Guide</a> (Created by MoistMogwai)</li>
			<li><a href="http://groggy.dog/ffr/">The Magitek Factory: A Final Fantasy Resource for Beginners</a> (Created by groggydog)</li>
			<li><a href="https://www.youtube.com/playlist?list=PLoJk16xU6Hb2_FRdUn92yEKw8PtbCPyV7">FFR Tutorial Workshops [YouTube]</a></li>
			<li><a href="http://mikesrpgcenter.com/ffantasy/walkthrough.html">Walkthrough of Final Fantasy</a></li>
			<li><a href="http://mikesrpgcenter.com/ffantasy/index.html">Maps and Information about Final Fantasy</a></li>
			<li><a href="https://www.youtube.com/playlist?list=PLoJk16xU6Hb2_FRdUn92yEKw8PtbCPyV7">Veteran Walkthrough [YouTube Playlist]</a> (Contributed by ShadowWalker)</li>
			<li><a href="http://ffr.philes.net/">Randomizer Guide</a></li>
			<li><a href="https://guides.gamercorner.net/ff/">Game Corner Guides:</a>
				<ul>
					<li><a href="https://guides.gamercorner.net/ff/weapons/">Info on Weapons</a></li>
					<li><a href="https://guides.gamercorner.net/ff/armors/">Info on Armors</a></li>
					<li><a href="https://guides.gamercorner.net/ff/monsters/">Info on Monster</a></li>
					<li><a href="https://guides.gamercorner.net/ff/spells/">Info on Spells</a></li>
				</ul>
			</li>
			<li><a href="https://docs.google.com/spreadsheets/d/1h6cXhTptC0TBtuk7a8mUSzy724r0Aq5uCSCQ1RmM9Qo/edit#gid=1003123647">Character Growth Per Level</a></li>
			<li><a href="https://docs.google.com/spreadsheets/d/12fehTD4CPehaN5IXG8PKH7ZabtsGGqMXFFKZHivd6Ow/edit#gid=0">Spell Permissions Guide</a></li>
			<li><a href="https://gamefaqs.gamespot.com/ps/582598-final-fantasy/faqs/57009">Game Mechanics Guide</a> (Created by AstralEsper)</li>
			<li><a href="/ResEncounters">An Explanation of the Final Fantasy Encounter Table</a></li>
			<li><a href="ResImages?image=guides/coneria_safe_tiles.png">Coneria Safe Tiles [PNG]</a></li>
			<li><a href="ResImages?image=guides/marsh_map.png">Marsh Bottom Exploration Map [PNG]</a></li>
			<li><a href="http://www.fforigins.com/ff1/maps/enemymap/index.html">Enemy Encounter Zones</a> (Each zone also lists what enemies are found there)</li>
			<li><a href="https://docs.google.com/document/d/1TDhjzeUpmqaUN9TiDVSaTtp6v0GSxCCeMiYvP49i_2w/edit">Enemy Spike Tile Locations</a> (Contributed by Aelmarkin)</li>
			<li><a href="https://clips.twitch.tv/SincereSparklingFoxBloodTrail">Hall of Giants Spike Tile Explanation [Twitch]</a> (Contributed by Falconic_FF)</li>
			<li><a href="https://docs.google.com/document/d/16iwUVMbaCX3e4iLChKVtoGWxq4x432DfQejmdi-zFMw/edit">"Take Fights As You Go" List</a> (Contributed by Thunderclaude)</li>
			<li><a href="ResImages?image=guides/magic_shop_guide.png">Magic Shop Randomization Options [PNG]</a> (Created by Tarnin)</li>
			<li><a href="https://docs.google.com/spreadsheets/d/1Q2UOCDgXPTaKfJr7zd9u_eXYmDZE1KU67xx_TKZIkkc/edit#gid=854036279">List of Enemies and Spell Weaknesses</a> (Created by Artea)</li>
			<li><a href="https://docs.google.com/document/d/1b2P1ih3cYo3eLTFLM84UYRcsGLHMDCY_vMevf-GmgCo/edit#heading=h.2evh8yi10jwg">Blursed Classes Guide</a></li>
			<li><a href="/ResMisc">Additional Guidance</a></li>
		</ul>

		<h2>Trackers</h2>
		<ul>
			<li><a href="https://emotracker.net/">Emotracker: Multi-Rando Tracker</a> (Great for just about any randomizer you could play, requires local install, then FF1R package)</li>
			<li><a href="https://docs.google.com/document/d/1DWKrsDH-jj1GRZvPWKcH9-DX4QXsGOCoxBUKXUevmC0/edit">Emotracker: FF1R Package Installation Instructions</a> (Package and Instructions by jat2980)</li>
			<li><a href="https://devonfae.github.io/fftracker/">Item and NPC Tracker</a> (Created by seelie fae)</li>
			<li><a href="https://bdjeffyp.github.io/ffr-tracker/">Item and NPC Tracker</a> (Created by bdjeffyp)</li>
			<li><a href="https://docs.google.com/spreadsheets/d/11WNdLTcW66d2N2nTra5VMU7-9x4J_yA06RvjtXSoDTA/edit#gid=0">Simple Location Tracker with Points of Interest</a> (Created by Aelmarkin)</li>
			<li><a href="http://www.ffr.philes.net/trackers/FFR_ES_tracker_2.1.html">Entrance and Floor Tracker</a> (Created by MeridianBC)</li>
		</ul>

		<h2>Sprite Resources</h2>
		<ul>
			<li><a href="http://www.groggy.dog/ffr_sprites/">Final Fantasy Randomizer Sprite Compendium</a> (Maintained by Groggydog, hosted on the Magitek Factory</li>
		</ul>

		<h2>Archived Resources</h2>
		<ul>
			<li><a href="https://splitpunched.github.io/a-slab/?flags=HACBAQAF7FFAHJ%21fPANUeee%21AeN%21%21%21AAAAAB">Item, People, and Location Tracker</a> (Created by splitpunched, not compatible with current versions of the randomizer)</li>
		</ul>

		<h2>Community Guides</h2>
		<ul>
			<li><a href="/ResBot">FFR Discord Race Bot</a></li>
			<li><a href="https://www.youtube.com/watch?v=XlVlivUAMZs">FFR Co-Op Setup Guide [YouTube]</a></li>
			<li><a href="/ResEnemizer">Enemizer FAQ</a> (Created by onefineday)</li>
			<li><a href="/ResSpellcrafter">Spellcrafter FAQ</a> (Created by onefineday)</li>
		</ul>

		<h2>Commentary Crew Resources</h2>
		<ul>
			<li><a href="https://docs.google.com/spreadsheets/d/10qmqmIjxj5BR7N-Bj4eC4GG-48YdEyUpW_HLihre6Ko/edit#gid=190460629">Player Bios</a></li>
			<li><a href="https://docs.google.com/document/d/1RLZmd7yObGK17h07dNRPPFPSv7PCIP54coSSY4t6Oyo/">Trinton's Simple Guide to Tracking FFR</a></li>
			<li>Hosting with RandoMania:
				<ul>
					<li><a href="https://docs.google.com/document/d/1v35q303VsqkzP1hBeU6LMuydRmF4XypXW62nalVCC5g/edit">General Randomania Commentary Guidelines</a></li>
					<li><a href="http://race.randomania.net/">Race Scheduling</a></li>
					<li><a href="http://support.randomania.net/">Support Submission</a> (Commentary, restreaming, tracking)</li>
					<li><a href="http://randomania.net/calendar/">Calendar of Events</a></li>
				</ul>
			</li>
			<li><a href="https://tinyurl.com/rm-streamguide">Restreaming Guide for Randomania</a></li>
			<li><a href="https://mega.nz/#!JGx2QSrL!OXRHuE6bjJ_5LTF46q-migp6tYLBCIr1sgpgo0LVOpw">Final Fantasy Soundtrack Pack</a> (Good for restreams or just to have in the background while playing)</li>
			<li><a href="http://142.166.18.108/static/autotracker.html?team1=9999&team2=9999">Co-Op Race Auto-tracker</a> (Developed by MeridianBC, make sure to change the numbers in the url to match the co-op team numbers found in BizHawk)</li>
		</ul>

		<h2>Development Guides</h2>
		<ul>
			<li><a href="https://www.tutorialspoint.com/csharp/index.htm">C# Guide for Beginners</a></li>
		</ul>

		<h2>Fun Things:</h2>
		<ul>
			<li><a href="https://github.com/BrianCumminger/FFR-Coop/releases/tag/0.13">FFR Co-Op Patch (v0.13)</a> (Created by Meridia, requires BizHawk to use)</li>
			<li><a href="http://www.romhacking.net/hacks/3815/">Valkyries of Light (v0.4)</a> (Graphic Patch for FF1 Rom, Created by Taralyn)</li>
			<li><a href="https://hmsjayne.com/">HMS Jayne: A Final Fantasy Dawn of Souls GBA Randomizer</a></li>
		</ul>

	</div>
</div>
