@page "/ResResourcePack"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Resource Packs</h1>

		<p>Starting in version 4.3, FFR supports loading
		<i>resource packs</i>.  These are loaded with the
		"Import Resource Pack" button on the <b>Presets</b>
		tab.</p>

		<p> A resource pack is a zip file containing various
		assets that the randomizer will load into the ROM.  The
		currently supported assets are listed here.  Every
		file is optional.</p>

		<p>A fully worked example resource pack is "Dracula's
		Curse" used in the <a href="https://www.youtube.com/watch?v=ULM83NeLBFM">2021 Halloween exhibition race</a>: <a
		href="/resource-pack-reference/draculas_curse_ffr_resource_pack.zip" download>draculas_curse_ffr_resource_pack.zip</a>.</p>

		<p>Note: when providing custom graphics, they must be compatible with the
		technical limitations of the NES hardware.  Each
		section will summarize the restrictions the apply to each specific kind of graphic
		import.  For detailed discussion about the NES hardware, you can
		read about <a
		href="https://wiki.nesdev.org/w/index.php?title=PPU_pattern_tables">Pattern
		tables</a>, <a
		href="https://wiki.nesdev.org/w/index.php?title=PPU_nametables">Nametables</a>,
		<a
		href="https://wiki.nesdev.org/w/index.php?title=PPU_attribute_tables">Attribute
		tables</a> and <a
		href="https://wiki.nesdev.org/w/index.php?title=PPU_palettes">Palettes</a>.</p>

		<p>When discussing graphics, "tiles" are squares on a
		8x8 grid. "metatiles" are squares on a 16x16 grid.  A
		"palette" is 3 colors + black.</p>

		<h2>battle_backdrops.png</h2>

		<p>The location backdrops displayed at the top of the
		battle screen.  There are 16 locations. Each backdrop
		is 32x32 and they must be stacked vertically.  In
		game, backdrops are logically split into two 16x32
		columns, which are repeated across the top in a 1221
		pattern.  Backdrops can only use a single palette, but
		each backdrop can have a different palette.</p>

		<p>The order of the locations is: Grass,
		Marsh Cave, Cave, Water, Forest, ToF, Desert, Marsh,
		Earth Cave, Castle, River, Tower, Sea Shrine, Ice
		Cave, Volcano, Waterfall.</p>

		<h2>bridge.txt</h2>

		<p>The text displayed when crossing the bridge for the
		first time.  Monospace ASCII text.  Each page is 8
		lines of 16 characters.  Total text size should be no
		greater than 300 bytes.</p>

		<h2>chaos.png</h2>

		<p>Chaos battle graphic.  Size is 112x96.  You can use
		two palattes for Chaos, but you can only use one
		palette within any given metatile (16x16 grid square).
		At least 58 of the tiles must be empty (all
		black).  <a href="/ResImages?image=resource-pack-reference/chaos.png" download>Reference image for Chaos.</a></p>

		<h2>dialogue.txt</h2>

		<p>NPC dialogue.  Monospace ASCII text.  There are 256
		dialog entries.  Format is dialog id in hexadecimal,
		followed by a dashed separator on the same line,
		followed by up to six lines of text with a maximum
		width of 24 characters.  The total size of this file
		should be less than 1385 bytes.  Example of Bikke's
		dialogue:</p>

<pre style="color: white">
9 ----------------
Okay, you got me.
Take my SHIP.
</pre>

<p>However, since this is a randomizer, he's probably going to give you
something else.  For quest NPCs, replace the item name with "#"
(maximum name length is 8 characters, be sure to leave enough room):</p>

<pre style="color: white">
9 ----------------
Okay, you got me.
Take this.

Received #
</pre>

<a href="/resource-pack-reference/dialogue.txt" download>Reference dialogue.</a><br>
<br>

		<h2>fiends.png</h2>

		<p>Fiend battle graphics.  All four fiends together
		laid out in a square, Total size is 128x128.  Left to
		right, top to bottom: Lich, Kary, Kraken, Tiamat.
		Each fiend is 64x64.  Each fiend gets two palettes,
		however you can only use one palette within any given
		metatile.  Lich and Kary share a pattern table, so
		between the two of them at least 58 of the tiles must
		be empty (all black).  The same applies Kraken and
		Tiamat.  <a href="/ResImages?image=resource-pack-reference/fiends.png" download>Reference image for fiends.</a></p>

		<h2>flags.json</h2>
		<p>FFR flags in json format to be loaded at the same time that the resource pack is loaded.</p>

		<h2>gear_icons.png</h2> <p>Gear icons (the ones
		displayed in text, next to the name).  8x8 images
		lined up horizontally, white on black.
		<a href="/ResImages?image=resource-pack-reference/gear_icons.png" download>Reference image for gear icons.</a></p>

		<h2>heroes.png</h2>

		<p>Character battle and mapmap graphics.  See "Load
		custom player sprites" tooltip (Fun%) for character
		import details details.</p>

		<h2>intro.txt</h2>
		<p>Opening blue screen text.  Monospace ASCII text.  Up to 22 lines, 32 characters wide.</p>

		<h2>maptiles.png</h2>

		<p>Tiles graphics for the overworld.  256x128.  Each
		map tile is a 16x16 metatile, laid out 16x8 for a
		total of 128 map tiles.  Each map tile has its own
		palette, but there can only be a total of four
		distinct palettes among all map tiles.  In addition,
		there can only be 245 distinct 8x8 tiles.  Since each
		map tile consists of four 8x8 tiles, this means the
		some 8x8 tiles must be reused within map tiles.
		<a href="/ResImages?image=resource-pack-reference/maptiles.png" download>Reference image for overworld maptiles.</a></p>

		<h2>overworld.json</h2>

		<p>Overworld map that will be loaded at the same time
		that the resource pack is loaded, in the json format
		produced by the "export map" button on the
		"Overworld" tab.</p>

		<h2>towntiles.png</h2>

		<p>Tile graphics for towns.  Same size and
		restrictions apply as for maptiles.png, except with
		the further limitation that the town graphics can only
		have 128 distinct 8x8 tiles.  (However, towns have a
		lot of duplication, e.g. each door is a different map
		tile, but usually share the same graphic tiles).
		<a href="/ResImages?image=resource-pack-reference/towntiles.png" download>Reference image for town map tiles.</a></p>

		<h2>weapons.png</h2>

		<p>In-battle graphics when the character swings a
		weapon.  Each weapon is a single 16x16 image lined up
		horizontally.  Weapons must be white and two shades of
		grey, as they are re-colored in game.  <a
		href="/ResImages?image=resource-pack-reference/weapons.png" download>Reference
		image for weapons.</a></p>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>
