@page "/ResSpellcrafter"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
		<h1>FFR Community Resources</h1>

		<h2>Spellcrafter Alpha FAQ</h2>
		<h5>Q: So what is this, exactly?</h5>
		<p>Spellcrafter generates a whole new spellbook for the game, with spells appropriate to the level where they are generated.  This allows for a lot of strategic decisions, and a more fair randomization of magic that takes into account game balance.  The Spellcrafter is compatible with all existing randomizer features and accounts for both item magic and enemy spell lists, replacing each enemy spell with a spell of similar strength (judged by the same standards Enemizer uses to gauge enemy spells).</p>

		<h5>What does "mix spellbooks" do?</h5>
		<p>Mixing spellbooks allows for white spells to appear in black magic, and vice versa.  The exceptions are EXIT and WARP, which will always appear in white or black magic respectively, in order to preserve some game balance by allowing each school of magic a teleportation spell.</p>

		<h5>What do the numbers next to spells mean?</h5>
		<p>If Magic Level Shuffle is off, the numbers mean roughly what you would expect them to mean: ICE2 is stronger than ICE, ICE3 is stronger than ICE2, and so on.  If Magic Level Shuffle is on, then all spells display the spell tier those spells originally landed on before the shuffle, so the player will be able to judge that spell's strength and knows how many other spells of that tier remain in the rest of the world.</p>

		<h5>What do the spell names mean?</h5>
		<p>Here goes...</p>

		<h6>Damage Spells</h6>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>METO/MET - Earth AoE damage<br />
			LIT - Lightning AoE damage, or level 1-2 single target<br />
			ICE - Ice AoE damage, or level 1-2 single target<br />
			FIRE/FIR - Fire AoE damage, or level 1-2 single target<br />
			NECR/NEC - Death AoE damage<br />
			TIME/TIM - Time AoE damage<br />
			GAS - Poison AoE damage<br />
			PAIN - Status-element AoE damage<br />
			FADE/FAD - Level 3-5 AoE non-elemental damage, white magic<br />
			HOLY/HLY - Level 6+ AoE or single-target non-elemental damage, white magic<br />
			BOMB/BOM - Level 3-5 AoE non-elemental damage, black magic<br />
			NUKE/NUK - Level 6+ AoE or single-target non-elemental damage, black magic<br />
			ROCK/ROK - Earth single-target damage<br />
			BOLT/BLT - Lightning single target-damage, Level 3+<br />
			SNOW/SNO - Ice single-target damage, Level 3+<br />
			BURN/BRN - Fire single-target damage, Level 3+<br />
			ROT - Death single-target damage<br />
			RASP/RSP - Time single-target damage<br />
			BIO - Poison single-target damage<br />
			HURT/HRT - Status-element single target damage<br />
			WORD/WRD - Non-elemental single target damage, white magic, Levels 1-5<br />
			MG.M/M.M - Non-elemental single target damage, black magic, Levels 1-5<br />
			DIA - Damage Undead</p>
		</div>

		<h6>Status Effects</h6>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>CONF/CNF - Confusion spell (can be single target or AoE)<br />
			CHRM/CHM - Confusion spell with some extra effect<br />
			MUTE/MUT - Silencing spell<br />
			DARK/DRK - All Darkness-inflicting spells (standard and HP &lt; 300)<br />
			HOLD/HLD - Status-element paralysis<br />
			STOP/STP - Time-element paralysis<br />
			HALT/HLT - Non-elemental paralysis<br />
			TNGL/TGL - Earth-elemental paralysis<br />
			SLEP/SLP - All Sleep-inflicting spells (standard and HP &lt; 300)<br />
			CRYO/CRY - Ice-elmental stoning<br />
			BRAK/BRK - Poison-elemental stoning<br />
			QAKE/QAK - Earth-elemental death<br />
			VOLT/VLT - Lightning-elemental death<br />
			RUB - Death-elemental... well, death<br />
			ZAP!/ZAP - Time-elmental death<br />
			BANE/BAN - Poison-elemental death<br />
			DOOM/DOM - Non-elemental death<br />
			SLOW/SLO - All slowing spells<br />
			FEAR/FEA - Morale-reducing spells</p>
		</div>

		<h6>Defensive Spells</h6>
		<div style="margin-left: 40px; font-family: consolas, courier, verdana;">
			<p>HEAL/HEL - AoE healing<br />
			CURE/CUR - Single-target healing<br />
			VOX - All silence-curing spells (these spells also cure confusion, sleep, and paralysis)<br />
			PURE/PUR - All poison-curing spells (these spells also cure darkness and paralysis)<br />
			GARD/GRD - Self-cast armor up<br />
			FOG - Single or Multi target armor up<br />
			WALL/WAL - Resist all elements<br />
			ALIT/ALT - Resist lightning<br />
			AICE/AIC - Resist ice<br />
			AFIR/AFR - Resist fire<br />
			APSN/APS - Resist poison<br />
			ASTA/AST - Resist status-element<br />
			AMAG/AMG - Resist multiple elements, may be multi or single target depending on how many elements are resisted<br />
			QUIK/QIK - Double number of hits, self-cast<br />
			FAST/FST - Double number of hits, single or multi-target (only level 8 FAST will be multi-target)<br />
			SABR/SBR - Self-cast attack up<br />
			TMPR/TMP - Single or Multi target attack up<br />
			LOCK/LOK - Evade down<br />
			RUSE/RUS - Self-cast evade up<br />
			INVS/INV - Single or Multi target evade up<br />
			XFER/XFR - Remove resistances<br />
			MUDL/MDL - Power word confusion, HP &lt; 300 inflicts status (this is always status-elemental)<br />
			AVOX/AVX - Power word silence, HP &lt; 300 inflicts status (this is always TIME-elemental, so it works on undead too)<br />
			STUN/STU - Power word paralysis (this is always status-elemental)<br />
			CRAK/CRK - Power word kill, earth-elemental (this is multitarget and only occurs at level 8)<br />
			XXXX/XXX - Power word kill, death-elemental<br />
			KILL/KIL - Power word kill, non-elemental and works on EVERYTHING (this only occurs at level 8)</p>
		</div>

		<h5>What are some of the rules of spell creation?</h5>
		<p>This is another big one and there are a lot of considerations, but here are some of the important ones:</p>
		<ul>
			<li>Fire, Ice, Lit, Fir2, Ice2, and Lit2 are all guaranteed to exist.  Fire will exist in the first slot of black magic, Ice and Lit will be somewhere in the first two levels, and Fir/Ice/Lit2 will all be somewhere in levels 3 and 4.</li>
			<li>A RUSE spell will always exist</li>
			<li>A SABR spell will always exist</li>
			<li>A FAST or QUIK spell will always exist</li>
			<li>Every spell with an out of battle effect will always exist in its original form, or something close to it.  With the exception of WARP or EXIT, these spells will never be placed higher than they were in the original game, and can appear at a much lower position.</li>
			<li>CURE, HEAL, and DIA spells are stronger than their vanilla counterparts, in and out of battle</li>
			<li>Most damage spells are slightly stronger than their original versions, but Time and Non-Elemental spells are weaker</li>
			<li>Status-element damage spells are only available to White Mages, and White Mages can only use status-element or non-elemental spells</li>
			<li>All white magic damage spells have 75% of the strength of black magic spells, unless spellbooks have been mixed</li>
			<li>WARP will always be in black magic, and EXIT will always be in white magic</li>
		</ul>

		<h5>Q: What about permissions?</h5>
		<p>Characters in (base) spellcrafter can find themselves unable to learn variants of spells they can learn in the vanilla game. This is a combination of blocked slots and blocked spells, as chosen by the spellcrafter system itself. If you'd prefer to be able to tell, at a glance, what spells a character can use, we recommend you turn on "Retain Permissions" when activating spellcrafter, which will defeault all classes to the same learnable spell slots they'd have in the vanilla game (much as the base randomizer does for each class).</p>
		<p>If you do use the permissions set out in base spellcrafter, here are some general rules:</p>
		<ul>
			<li>Black Mage: Has permissions for all black magic between levels 1 and 6</li>
			<li>Black Wizard: Has all black magic</li>
			<li>White Mage: Has permissions for all white magic between levels 1 and 6</li>
			<li>White Wizard: Has all white magic</li>
			<li>Red Mage: Has permissions for all white and black magic between levels 1 and 4, but many spells may be blocked</li>
			<li>Red Wizard: Has permissions for all white and black magic between levels 1 and 7, but many spells may be blocked</li>
			<li>Knight: Has permissions for all white magic between levels 1 and 3, although the occasional slot may be blocked</li>
			<li>Ninja: Has permissions for all black magic between levels 1 and 4</li>
		</ul>

		<h5>Q: What does a "ROK2 Axe" do?</h5>
		<p>Item magic uses the same function Item Magic Randomization uses to assign item names, and all items are necessarily reassigned by Spellcrafter.  However, instead of just randomly assigning spells, Spellcrafter restricts the selection of spells that can appear on items and guarantees that some items will always have particular spells.  For example, the Defense Sword will always cast RUSE or an equivalent spell, the Power Gauntlet will always cast SABR, the Heal Helmet will always cast HEAL, and FIR2/LIT2/ICE2 will always be placed on appropriate items.  The remaining items can draw from a limited pool of spells for random effects, and are restricted from any truly powerful spells like NUKE or HOLY.</p>

		<ul>
			<li>Back to <a href="/Resources">Resources</a></li>
		</ul>
	</div>
</div>