@page "/WhatsNew"
<div class="content px-4 tinted">
	<div class="nes-container is-dark col-xs-12">
        <h1><a href="https://4-9-3.finalfantasyrandomizer.com">Version 4.9.3</a></h1>
        <h2>New Features</h2>
        <ul>
            <li>Canal & bridge sprite support for resource packs</li>
            <li>Castle & dungeon tileset support for resource packs</li>
            <li>Added proc gen Sky 5f bridge</li>
            <li>Added an experimental curated encounter table</li>
            <li>Negative harmony music fun%</li>
            <li>New overworld map options Sarda's Forest & Hiking Trail to Airship</li>
        </ul>
        <h2>Updates</h2>
        <ul>
            <li>Added tetron gravestone epitaph</li>
            <li>Use palm-tree tile for PUB sign in tavern</li>
            <li>Various preset updates</li>
        </ul>
        <h2>Bug Fixes</h2>
        <ul>
            <li>Bugfix for Weaponizer and Accessible Spell Names</li>
            <li>Bugfix for resource pack towntile import</li>
            <li>Bugfix for fun enemy names</li>
            <li>Bugfix for spell obfuscation</li>
        </ul>
        <h2>Changes</h2>
        <ul>
            <li>Reorganized fun% tab</li>
            <li>Repeated heal potion use moved from experimental to adjustments</li>
        </ul>
        <h1><a href="https://4-9-2.finalfantasyrandomizer.com">Version 4.9.2</a></h1>
        <h2>Bug Fixes</h2>
        <ul>
            <li>Fixed an issue where the alternate airship theme was written to the CHAOS battle music slot.</li>
        </ul>
        <h1><a href="https://4-9-1.finalfantasyrandomizer.com">Version 4.9.1</a></h1>
        <h2>Bug Fixes</h2>
        <ul>
            <li>Fixed a graphical glitch on trapped floor tiles when opened chests were enabled.</li>
        </ul>
        <h1><a href="https://4-9-0.finalfantasyrandomizer.com">Version 4.9.0</a></h1>
        <h2>New Features</h2>
        <ul>
            <li>Add more Fiend tile setups for Short ToFR.</li>
            <li>Added TriState Flag Output.</li>
            <li>Add Adjust RedMage Hit%.</li>
            <li>Lefein Shortcut added.</li>
            <li>Fountain Fun% added.</li>
			<li>Magic Stores Menuing QoL added.</li>
			<li>Resource Packs can support new NPC sprites.</li>
            <li>Treasure Chests have a different appearance once they have been opened.</li>
        </ul>
        <h2>Updates</h2>
        <ul>
            <li>Epitaphs for FFR community.</li>
            <li>Free Airship + Free Ship now compatible with Airboat.</li>
            <li>New Alt Fiends including Winner's Circle option.</li>
            <li>Double Thief Hit% replaced with a dropdown menue.</li>
            <li>Stream Safe Music now replaces intro music with a new track.</li>
            <li>More options for Trap Tile Pool.</li>
            <li>Improved accuracy of the Trapped Chests quantity.</li>
        </ul>
        <h2>Bugfixes</h2>
        <ul>
            <li>Fix True RNG conflict with Transmoog.</li>
            <li>Fix LiftOff not getting called in logic when AIRBOAT + FREEAIRSHIP + FREESHIP.</li>
            <li>Fix Custom Map domain import bug.</li>
            <li>Fix Relocate Chest tile validation bug.</li>
            <li>NoOverworld Fixes.</li>
            <li>Fix Deep Dungeon Archipelago bugs.</li>
            <li>Fix Sanity npc requirements overwriting tile requirement.</li>
            <li>Fix infinite loop in shop shuffling.</li>
            <li>Fix Short ToFR + No Fiends stair loop.</li>
            <li>Removed dupluicate Crystal from KeyItems list.</li>
        </ul>
        <h2>Changes</h2>
        <ul>
            <li>FLOATER renamed to AIRBOAT when Airboat is on.</li>
            <li>Proc Gen Waterfall removed.</li>
        </ul>
        <h1><a href="https://4-8-6.finalfantasyrandomizer.com">Version 4.8.6</a></h1>
		<h2>Updates</h2>
		<ul>
			<li>Winter Tournament 2025 Presets.</li>
			<li>Print Classes Blursings in generation window.</li>
			<li>Show Archipelago player name box on the side window.</li>
		</ul>
		<h2>Bugfixes</h2>
		<ul>
			<li>Fix mapgen seed not updating flags correctly.</li>
			<li>Fix some Spell blursings getting applied before new Spell Permissions.</li>
		</ul>
		<h1><a href="https://4-8-5.finalfantasyrandomizer.com">Version 4.8.5</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Add Vehicles to Player Sprite Sheets.</li>
			<li>Add Encounter Tables uses True Rng.</li>
			<li>Add Increased Enemy Regeneration.</li>
			<li>Add New Team Steak sprites.</li>
			<li>Resources packs can import enemy sprites.</li>
			<li>Poison SFX and Airship SFX preferences.</li>
		</ul>
		<h2>Updates</h2>
		<ul>
			<li>Alt Fiends balance changes.</li>
			<li>New Alt Fiends.</li>
		</ul>
		<h2>Bugfixes</h2>
		<ul>
			<li>Fix party flags being reseted when using presets.</li>
			<li>Fix Alt Chaos Music flag.</li>
			<li>Fix SetRng hard reset bug.</li>
			<li>Fix Start With Key Item adding an extra blessing.</li>
			<li>Fix Desert of Death.</li>
			<li>Fix Game Overs being tracked correctly when Save on Death is enabled.</li>
		</ul>
		<h1><a href="https://4-8-4.finalfantasyrandomizer.com">Version 4.8.4</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Stream Safe Music flag</li>
		</ul>
		<h2>Updates</h2>
		<ul>
			<li>Add more food options to Titan's Snack.</li>
			<li>Add more custom music.</li>
		</ul>
		<h2>Bugfixes</h2>
		<ul>
			<li>Fix Extended Spoilers not showing the correct items.</li>
			<li>Fix Life in Battle with Spellcrafter.</li>
			<li>Fix in battle MDef blursings raising MDef permanently.</li>
			<li>Fix Deep Dungeon's formations.</li>
		</ul>
		<h1><a href="https://4-8-3.finalfantasyrandomizer.com">Version 4.8.3</a></h1>
		<h2>Bugfixes</h2>
		<ul>
			<li>Fix double sliders.</li>
		</ul>
		<h1><a href="https://4-8-2.finalfantasyrandomizer.com">Version 4.8.2</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>New music - replace all music with new tracks.</li>
		</ul>
		<h2>Changes</h2>
		<ul>
			<li>Shuffle lava tiles now uses the new method that 'add damage tiles' uses for more natural patterns.</li>
			<li>Buy multiple from store now stops at the maximum amount you can carry.</li>
			<li>Innate magic guarantees life spell</li>
			<li>Resource pack weapon sprites are now more flexible.</li>
			<li>Resource pack battle backdrops now give a useful error message if image is incorrect size.</li>
			<li>Both INT and MDEF are now displayed on status screen.</li>
			<li>Updated lodging use text when saving disabled.</li>
		</ul>
		<h2>Bugfixes</h2>
		<ul>
			<li>Bugfix: NOverworld freezing due to interaction with previous bug fix.</li>
			<li>Bugfix: Party select all flags.</li>
			<li>Bugfix: Weapon blursings using wrong flag.</li>
			<li>Bugfix: Spell maluses duplicating bonuses.</li>
			<li>Bugfix: Minimap music restored.</li>
			<li>Bugfix: Logic crash related to Titan's Tunnel</li>
			<li>Bugfix: Mapman leader palette bug when using custom sprites.</li>
			<li>Bugfix: Lich's Revenge logic bug.</li>
			<li>Bugfix: Importing gear icons from resource packs.</li>
			<li>Bugfix: Resource pack map tiles loading incorrectly.</li>
			<li>Bugfix: All Party flags not loading properly from flagstring.</li>
			<li>Bugfix: Overworld validation not taking docks into account.</li>
			<li>Bugfix: SetRNG interaction with 0 encounter rate.</li>
			<li>Bugfix: Menu color wrong on first startup on some emulators.</li>
		</ul>
		<h1><a href="https://4-8-1.finalfantasyrandomizer.com">Version 4.8.1</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Remove boss scripts</li>
			<li>Add damage tiles to all maps</li>
		</ul>
		<h2>Fixes/Changes</h2>
		<ul>
			<li>Archipelago YAMLs now mark incentivized locations as priority.</li>
			<li>Sprite importer will warn if image is not properly sized.</li>
			<li>Bugfix: occasional orb sprite corruption.</li>
			<li>Bugfix: Legendary shop door misplacement on flipped map.</li>
			<li>Bugfix: Vampire not attacking the correct town.</li>
			<li>Bugfix: Extended open progression map error.</li>
			<li>Bugfix: Boss music breaking Set RNG.</li>
			<li>Bugfix: Extended comsumables breaking Set RNG.</li>
			<li>Bugfix: Rare chime shuffle + titan's tunnel softlock with entrance shuffle.</li>
			<li>Bugfix: Shop class permissions sometimes displaying incorrectly.</li>
			<li>Bugfix: Very rare infinite loop shuffling item shops.</li>
		</ul>
		<h1><a href="https://4-8-0.finalfantasyrandomizer.com">Version 4.8.0</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Flame and Ice Armors prevent damage from ice and lava tiles.</li>
			<li>Additional Alt Fiends from Final Fantasy 1, 2, 3, 4, 5 and 6.</li>
			<li>Pink Mage, Black Knight and White Ninja feature (Red Mage, Knight and Ninja can learn spells from the opposite school).</li>
			<li>Auto Targeting for Spell & Melee Attacks.</li>
			<li>Intelligence Affect Spells.</li>
			<li>Reorder Spells in Magic Menu.</li>
			<li>Adjust Poison Damage.</li>
			<li>Classes Blursings:
			<ul>
				<li>Additional Classes Bonuses & Maluses.</li>
				<li>Rebalanced distribution.</li>
			</ul>
			</li>
			<li>Additional Titan Food options.</li>
			<li>Repeat Heal Potions Use.</li>
			<li>Alt Final Battle Music.</li>
		</ul>
		<h2>Misc</h2>
		<ul>
			<li>Various bugfixes.</li>
			<li>Various backend upgrades.</li>
		</ul>
		<h1><a href="https://4-7-9.finalfantasyrandomizer.com">Version 4.7.10</a></h1>
		<ul>
            <li>Bugfix: Shop slot update index was off by 1.</li>
            <li>Archipelago: Improved location names.</li>
            <li>Super secret stuff.</li>
        </ul>
        <h1><a href="https://4-7-9.finalfantasyrandomizer.com">Version 4.7.9</a></h1>
        <ul>
            <li>Bugfix: Corrected an issue with the Shop Item that would make Deep Dungeon and Improved Vanilla flags crash at generation.</li>
        </ul>
        <h1><a href="https://4-7-8.finalfantasyrandomizer.com">Version 4.7.8</a></h1>
		<ul>
			<li>Adjust Trapped Chests encounters to follow Set RNG when both features are enabled.</li>
			<li>Prevent use of Open Chests in Order when Archipelago is enabled.</li>
			<li>Bugfix: Corrected an issue where Relocate Chests could try and fail to place a chest in a room with no floor space.</li>
			<li>Archipelago: Corrected an issue where the Shop Incentive item was not being handled properly for certain AP flagsets.</li>
			<li>Minor project cleanup to reduce site bandwidth.</li>
		</ul>
		<h1><a href="https://4-7-7.finalfantasyrandomizer.com">Version 4.7.7</a></h1>
		<ul>
			<li>Bugfix: Corrected an issue where the Robot NPC was not being placed correctly in Generated Waterfall.</li>
		</ul>
		<h1><a href="https://4-7-6.finalfantasyrandomizer.com">Version 4.7.6</a></h1>
		<ul>
			<li>Experimental Feature: Generated Earth Cave.</li>
			<li>Add "Free Rod" flag to Treasures and Freebies.</li>
		</ul>
		<h1><a href="https://4-7-5.finalfantasyrandomizer.com">Version 4.7.5</a></h1>
		<ul>
			<li>Bugfix: Corrected a crash caused by flagsets with NPC Recruits and Tavern Mode.</li>
			<li>Update UI: Shard Hunt can be selected independent of Orbs Required slider status.</li>
			<li>Update Presets: Winter Tournament 2024.</li>
		</ul>
		<h1><a href="https://4-7-4.finalfantasyrandomizer.com">Version 4.7.4</a></h1>
		<ul>
			<li>Archipelago: Fix player name resetting bug.</li>
		</ul>
		<h1><a href="https://4-7-3.finalfantasyrandomizer.com">Version 4.7.3</a></h1>
		<ul>
			<li>Add "Mid ToFR" option for Final Dungeon.</li>
			<li>Transmooglifier: Armor blessings will always allow the recipient to equip said armor.</li>
			<li>Bugfix: Corrected an issue where poisoned party members could be awarded incorrect EXP from chests.</li>
			<li>Archipelago: Include permalink in YAML per community feedback.</li>
			<li>Archipelago: Fix Shop Item Bug.</li>
			<li>Archipelago: Restrict player name to 16 characters to prevent connection issues.</li>
			<li>Corrected various seed generation issues.</li>
		</ul>
		<h1><a href="https://4-7-2.finalfantasyrandomizer.com">Version 4.7.2</a></h1>
		<ul>
			<li>Adds Spoilers file support when generating randomized ROMs via the Command Line Interface.</li>
			<li>NPC Hints flag is now properly disabled in the UI when Archipelago is active.</li>
			<li>Bugfix: Corrected an issue where Random Shard Names Fun% setting was changing the seed.</li>
			<li>Bugfix: Corrected an interaction where some Class Blessings would be applied repeatedly when reviving in Tavern Mode.</li>
			<li>Bugfix: Corrected Deep Dungeon encounter rate for Floor 51; was previously no encounters.</li>
			<li>Bugfix: Corrected chest weight values for "Deep Dungeon - Progressive" mode in Temple of Fiends; was previously awarding high value treasure too early.</li>
			<li>Minor exceptions handling and site page adjustments.</li>
		</ul>

		<h1><a href="https://4-7-1.finalfantasyrandomizer.com">Version 4.7.1</a></h1>
		<ul>
			<li>Adds Lockpicking support to Transmooglifier.</li>
			<li>Bugfix: Corrected an issue with Party Draft character selection when Class Blursings, Transmooglifier, or Chaos Mode was enabled.</li>
			<li>Bugfix: Corrected Black Belt absorb and damage in Transmooglifier.</li>
			<li>Update Presets: Trance is Status element is ON.</li>
		</ul>

		<h1><a href="https://4-7-0.finalfantasyrandomizer.com">Version 4.7.0</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Shorter ROM filename when downloading a randomized ROM.</li>
			<li>Introducing "<a href="https://4-7-0.finalfantasyrandomizer.com/RomInfo">/RomInfo</a>" - Instead of needing to provide a seed, flagstring, URL, and/or filename, simply use /RomInfo to analyze your ROM file. It will display version/seed/flag details players can then copy and paste for development when reporting bugs.</li>
			<li>Transmooglifier, a new option for Class Randomization:
			<ul>
				<li>Generates six custom classes from a set of 26 possibilities, such as Geomancer and Juggler.</li>
				<li>Each class will have semi-randomized spell permissions, stats, equipment, etc. appropriate for that class type.</li>
				<li>Each class features a new custom sprite.</li>
				<li>Sub-option for forcing a balanced set of classes (e.g. ensuring there is at least one Heavy Armor class).</li>
				<li>Sub-option for rebalancing weapons to provide more viable end-game options for the various classes.</li>
			</ul>
			</li>
			<li>Experimental Feature: Airboat, where the Floater allows the Ship to transform into the Airship and land in water.</li>
			<li>Experimental Feature: Set RNG, which makes RNG more consistent (e.g. bosses have the same RNG) within a given seed.</li>
			<li>Improved Lock Respond Rate. The game's Respond Rate is now controlled by a UI slider, and can no longer be changed by fast inputs during quick resets.</li>
			<li>Shard Hunt now defaults to SHARD naming. Randomized Shard names (WEDGE, ORBLT) is now a Fun% option.</li>
			<li>"Equip Shields" Class Blessing nows grants permission to equip Buckler and ProCape.</li>
		</ul>
		<h2>Bugfixes</h2>
		<ul>
			<li>Procedurally Generated Overworld: Airship floater area now has grass in its corners, preventing an uncommon soft-lock scenario where you could take off from a region but never land there again.</li>
			<li>NPC Hint Givers will now correctly advise players of item locations (via the Sanity2 item placement algorithm).</li>
			<li>Fixed an interaction to prevent "Sky Maze" option if Deep Dungeon is enabled.</li>
			<li>Fixed a bug where "Orbs Required" could corrupt the site URL flagstring.</li>
			<li>Fixed a bug where Bat Spoilers was causing a different seed hash to display for players using Fun Enemy Names.</li>
			<li>Minor code cleanup and UI adjustments.</li>
		</ul>

		<h1><a href="https://4-6-4.finalfantasyrandomizer.com">Version 4.6.4</a></h1>
        <ul>
            <li>Winter Tournament Presets updated.</li>
			<li>Fixed a bug where "hurt" class blessings could be canceled or transfered to other party members.</li>
        </ul>

        <h1><a href="https://4-6-3.finalfantasyrandomizer.com">Version 4.6.3</a></h1>
        <ul>
            <li>Winter Tournament Presets added.</li>
			<li>Fixed a bug where recruitable NPCs were not beeing flipped correctly when Flip Dungeons Vertically is enabled.</li>
        </ul>


        <h1><a href="https://4-6-2.finalfantasyrandomizer.com">Version 4.6.2</a></h1>
        <ul>
            <li>Fixed "Relocate Chests" not working for Sea Shrine.</li>
			<li>Fixed a bug with Promo Armor maluses preventing a character from equipping Ribbons/Bracelets/ProRings.</li>
            <li>Fixed bonus starting gold blursings giving you twice as much gold as intended.</li>
            <li>Fixed Alt-Fiend Shiva accidentally being weak against Ice instead of Fire.</li>
            <li>No Ribbon and No Masa maluses now won't appear when those items are banned.</li>
        </ul>

        <h1><a href="https://4-6-1.finalfantasyrandomizer.com">Version 4.6.1</a></h1>
        <h2>General & Features</h2>
        <ul>
			<li>Upgraded .net to 6.0, which should noticeably increase site performance.</li>
            <li>"Highway to Ordeals" Map Edit flag, connecting Lefein to Mirage to Ordeals.</li>
            <li>Incentive flag to require Ship+Canal are placed before the Floater.</li>
            <li>Unrunnable Formation Count has been converted into a slider, allowing for more precise adjustment and allowing for random ranges.</li>
            <li>New Adjustable Tile Damage (lava) slider, letting you set tile damage 0-10 or randomized in a range.</li>
            <li>"Innate Magic" blursing sub-flag provides sets of spells that are given at Tier-8 (regardless of the actual tiers of the spells, which can still be learned at their normal level), come with 2MP, and can be given to melee classes:
                <ul>
                    <li>"Tele Magic" gives WARP & EXIT</li>
                    <li>"Buff Magic" gives TMPR, FAST, & INV2</li>
                    <li>"Self Magic" gives RUSE & SABR (melee only)</li>
                    <li>"Heal Magic" gives CUR3, HEL2, & LIFE; "Heal+ Magic" gives CUR4, HEL3, & LIFE</li>
                    <li>"Elem Magic" gives ICE2, FIR2, & LIT2; "Elem+ Magic" gives ICE3, FIR3, & LIT3</li>
                    <li>"Doom Magic" gives three random spells that cause instant death/stone</li>
                    <li>"Clean Magic" gives three random status ailment cures (which can include LIFE or LIF2)</li>
                    <li>"Nuke Magic" gives NUKE (rare & spellcasters only)</li>
                </ul>
            </li>
            <li>Other New Blursings:
                <ul>
                    <li>+All Shields and +All Gauntlets/All Helmets Blessings</li>
                    <li>-No Masamune Malus</li>
                    <li>+/-Gold buffed and made to scale with the flagset's Starting Gold</li>
                    <li>+Promo Sage and +Promo Fighter Armor Blessings</li>
                    <li>Starting spell bonuses are now always given at Tier-8 (regardless of the actual tiers of the spells, which can still be learned at their normal level) and come with 2MP.</li>
                    <li>+More starting spell possibilities: CUR3, HEL2, LOCK/LOK2</li>
                    <li>-More removed spell possibilities: CUR3, HEL3, INV2, WALL, LOCK/LOK2, FIR3/LIT3/ICE3</li>
                    <li>-No Knight Armor Malus</li>
                    <li>-Ninja gets Red Wizard Armor Malus</li>
                    <li>+Hurt Undead, +Hurt Dragon type-slaying Blessings</li>
                </ul>
            </li>
            <li>"Flip Dungeons Vertically" flag.</li>
            <li>"Balanced Rude" Touch Pool option for those that like things spicier (but still mostly reasonable).</li>
            <li>"Shuffle Chime Access" flag.</li>
            <li>"Life in Battle" can now be set to only work for LIFE1 and not LIFE2.</li>
            <li>WarMECH Mode can now also be set to "Random" or "All".</li>
            <li>Class-specific XP can now be adjusted down (to as low as 50%) as well as up.</li>
            <li>New Shallow/Deep incentive areas for Volcano.</li>
			<li>Shuffle Chime Access flag to change wich location is chime-required.</li>
        </ul>
        <h2>Bugfixes & Tweaks</h2>
        <ul>
            <li>Fixed: Death & Stone Touch effects were never generating with Randomized Status Effects.</li>
            <li>Changed Tourney-safe Restrictions to allow more visual modifications.</li>
            <li>Fixes & tweaks for Blursings: Addressed language-specific crashes; Thor Master & CatClaw Ace now let you equip those weapons pre-promotion; spell blursings no longer show what tier level they are; bigger Agility boosts; removed some do-nothing blursings for specific cases/classes; removed confusing starting DARK/LAMP maluses; promo-specific blursings no longer available if you cannot promote; starting INV2 instead of INVS; removed RUSE from possible starting spells; "Hunter" renamed "Hurt All"; fixed Shirts + Armor Crafter.</li>
            <li>Bugfixes for Proc-gen Overworld relating to Titan's Tunnel, Bridge placement, and more.</li>
            <li>Proc-gen Overworld now more likely to require early progression items: Bridge, Ruby, or Canal.</li>
            <li>Adjusted equipment tiers: Opal Gauntlets/Helm Legendary->Rare; Power Guantlet Rare->Legendary; Power Rod Common->Rare.</li>
            <li>Fixed E/F Shuffle not randomizing some connections properly.</li>
            <li>Armor Crafter: Fixed Black Shirt using the wrong spell pool.</li>
            <li>Weaponizer & Armor Crafter: Fixed WALL not being included in defensive spell pools.</li>
            <li>"Gating" incentive location terminology cleanup.</li>
            <li>NOverworld fixes for Archipelago & Key Item Blessings.</li>
            <li>Fixed a few bugs concerning Item Magic Pools and Starting Caster Equipment.</li>
            <li>Removed 4F Sky from "Swap Stair Locations" (4F Sky already has its own setting).</li>
            <li>Ribbon now only included in Legendary Armor Shop pool once instead of three times.</li>
            <li>Fixed rare case where a "Forced" party member could result in starting with a promoted character (without any promotions checked).</li>
            <li>Archipelago moved from Experimental Tab to Goals Tab.</li>
            <li>"Clinics Don't Cost Money" & "Clinics Heal All Statuses" combined into one "Improved Clinics" flag, and moved from Experimental Tab to Shop Tab.</li>
            <li>Consolidated Adjustments Tab (fewer checkboxes); Misc. clarity fixes (better tooltips, graying out incompatible flags, etc.)</li>
        </ul>

        <h1><a href="https://4-5-4.finalfantasyrandomizer.com">Version 4.5.4</a></h1>
        <ul>
			<li>Bugfixes for Starting Gold & Lockpicking Class Blursings.</li>
            <li>Bugfixes for Armor Crafter Power Gauntlet & Weaponizer Chroma/XCalber.</li>
            <li>"Wood Adept" Blursing nerfed to give +120 Evasion instead of max.</li>
            <li>"Cleaner Blursed Names" QoL flag (makes equipment names easier to read, primarily for Weaponizer/Armor Crafter).</li>
            <li>New 7.7% Per Item Progressive Scaling option (to offer something between 5% and 10%).</li>
            <li>"Fight Bahamut" now also makes their minions hostile, and they block off the treasure if "Bahamut's Hoard" is active.</li>
            <li>WarMech settings now compatible with Deep Dungeon.</li>
            <li>Legendary White Magic Shops will no longer have PURE or SOFT as possibilities in most cases.</li>
            <li>Weaponizer tweaks: Mid-tier elemental bonuses are more common than strongest & weakest; a few new element combinations & names.</li>
            <li>Various text/tooltip cleanup and additions.</li>
        </ul>

		<h1><a href="https://4-5-2.finalfantasyrandomizer.com">Version 4.5.2</a></h1>
		<h2>General</h2>
		<ul>
			<li>Relocate Chests & Trap Tiles flag.</li>
			<li>Swap Stair Locations flag.</li>
			<li>Experimental: Open Chests In Order flag.</li>
			<li>Bridge to Lefein & River to Melmond map flags; Bridge Incentive.</li>
			<li>New Class Blursings; Moved Resist Blursings into the main Blursing set; Key Item Blursing flag.</li>
			<li>Starting Gold flag.</li>
			<li>Formations: Tiered Shuffle Rarity.</li>
			<li>MP Charges Restore on Max MP flag.</li>
			<li>Earlier High-Tier Magic Charges flag.</li>
			<li>Move ToF Bats flag.</li>
			<li>Experimental: Clinics Heal All Statuses & Clinics Don't Cost Money flags.</li>
			<li>Randomized Treasures: Use a proportional list instead of weighted odds; include Deep Dungeon's item generation algorithm.</li>
			<li>Resources Pack: Added support for spellbook import.</li>
			<li>Shuffle Pravoka Shops flag.</li>
			<li>'Half' option for Script & Touch multipliers.</li>
			<li>Reduced Luck flag.</li>
		</ul>

		<h2>Interface</h2>
		<ul>
			<li>Resources section changed to Wiki section.</li>
			<li>New Window when generating a ROM to make it more clear that it is still processing.</li>
			<li>Tabs' layout cleanup and update.</li>
			<li>~100 Tooltip edits for more detailed explanations, clarity, and consistency.</li>
			<li>Streamlined XP/Gold Scaling, so the flat bonus is now the actual amount gained. ("2.5x + 100" gives the same XP/Gold that "2.5x + 250" used to.)</li>
		</ul>

		<h2>Bug Fixes & Balance</h2>
		<ul>
			<li>Non-incentive guaranteed Defense/Offense item no longer plays fanfare.</li>
			<li>Tiered Magic Shuffle - TMPR no longer weighted higher.</li>
			<li>Slightly buffed BLACK New Consumable.</li>
			<li>Improved Tier-1 Spells (FIRE, ICE, LIT, HARM) now sets them to exactly the power of Tier-3 Spells but all single-target (incl. HARM1).</li>
			<li>Formally added the "Tournament" Item Magic Pool as "Curated".</li>
		</ul>

		<h2>Quality of Life</h2>
		<ul>
			<li>Uninterrupted Music tweaks the Chest SFX to keep music playing.</li>
			<li>Lock Respond Rate to keep it maxed.</li>
			<li>Disable Damage Tile SFX to make lava less annoying.</li>
			<li>Bland Site flag.</li>
		</ul>

		<h1><a href="https://4-4-0.finalfantasyrandomizer.com">Version 4.4.0</a></h1>
		<h2>General</h2>
		<ul>
			<li>New Presets added.</li>
			<li>Power Staff can be incentivized.</li>
			<li>Late Loose flag to push loose items farther in the game.</li>
			<li>Mermaid Prison flag to lock all the doors on the Mermaids' floor in Sea Shrine.</li>
			<li>Improve Fire/Lit/Ice Spells flag.</li>
			<li>Guaranteed Defense Item flag to select what defense spell to give to the Power Staff.</li>
			<li>Guaranteed Power Item flag to select what strength spell to give to the Power Gauntlet.</li>
			<li>Ribbon flag to distribute Ribbons' protection to other pieces of gear.</li>
			<li>TRANCE Is Status Element flag.</li>
		</ul>

		<h2>Enemies</h2>
		<ul>
			<li>Prevent consecutive Nukes flag to stop Fiends from having two NUKE or NUCLEAR on after the other in their skill/spell lists.</li>
			<li>No Empty Scripts flag to prevent enemies from rolling a script with no spells or skills.</li>
			<li>Script Count flag to set the number of scripts in the game.</li>
			<li>Touch Attack Count flag to set the number of enemies with touch attack.</li>
			<li>Script Count flag to set the number of scripts in the game.</li>
			<li>Buffed Astos flag.</li>
			<li>Unsafe Astos subflag to allow/disallow Astos from disguising itself as the Princess or the King.</li>			
		</ul>

		<h1><a href="https://4-3-2.finalfantasyrandomizer.com">Version 4.3.2</a></h1>
		<ul>
			<li>Updated <a href="/ResFlags">Archived flags and presets</a> page.</li>
			<li>Updated "What's New" for changes in 4.3.1 and 4.3.2.</li>
		</ul>

		<h1><a href="https://4-3-1.finalfantasyrandomizer.com">Version 4.3.1</a></h1>
		<p>This is a bugfix release.</p>
		<ul>
			<li>Fix class malus "can't use bracelets" to be compatible with Armorcrafter</li>
			<li>Fix ship location logic bug that could sometimes result in the canal being placed outside the inner sea.</li>
			<li>Fix issues with older flag JSONs (such as presets) that contain "SanityCheckerV2: false".</li>
			<li>Fix Monster in a Box to work with Deep Dungeon</li>
			<li>Disable Hint NPCs when Deep Dungeon is enabled</li>
		</ul>

		<h1><a href="https://4-3-0.finalfantasyrandomizer.com">Version 4.3.0</a></h1>
		<h2>Overworld</h2>
		<ul>
			<li>New options to procedurally generate completely new overworld maps for infinite new adventures!</li>
			<li>New overworld map generator: Standard procgen generates maps in the style of the original game</li>
			<li>New overworld map generator: Desert of Death creates a deadly desert</li>
			<li>New overworld map generator: Lost Woods creates an endless forest</li>
			<li>Procedurally generated maps can be exported and re-imported</li>
			<li>Option for overworld desert and marsh tiles to deal damage</li>
			<li>Option to enable damage tiles to kill (can even end the game!)</li>
			<li>Option to disable minimap</li>
		</ul>

		<h2>Dungeons</h2>
		<ul>
			<li>Deep Dungeon: now displays the current floor number on the start menu</li>
			<li>Deep Dungeon: option for progressive tilesets (tilesets relate to how deep you are) instead of being totally random</li>
			<li>Deep Dungeon: option to choose for where you find TAIL in relation to Bahamut</li>
			<li>Deep Dungeon: option to gate access to shortcuts with fiend orbs instead of NPCs that require specific items</li>
			<li>Deep Dungeon: new dungeon floor style</li>
			<li>Deep Dungeon: fixed direction of stair tiles</li>
			<li>Deep Dungeon: Final floor is now the final ToFR floor.  If short ToFR is enabled, it will be the short ToFR floor.</li>
		</ul>

		<h2>Graphics & resources</h2>
		<ul>
			<li>New <a href="/ResResourcePack">Resource Pack</a> feature enabling you to replace a variety of game assets.</li>
		</ul>

		<h2>Other new options and changes</h2>
		<ul>
			<li>New option: all enemies have death touch</li>
			<li>New option: Individual Class XP Scaling</li>
			<li>Option for White Mage HARM spells to do damage to all monsters (extra damage to undead)</li>
			<li>New class blursing: natural resistences (e.g. automatic fire resistance)</li>
			<li>New option to cap the maximum level below 50</li>
			<li>Option to make DARK effect much more effective.</li>
			<li>Alternate new consumables: RFRSH/FLARE/BLACK/GUARD and QUICK/HIGH/WIZRD/CLOAK.</li>
			<li>Quality of life option to render magic powers and weaknesses using icons instead of text</li>
			<li>Make "Can't hold" message red for greater visibility</li>
			<li>Additional options to control what kind of monster formations are put into trapped chests</li>
			<li>Alternate Key Items placement algorithms</li>
			<li>New Item Magic shuffling options</li>
			<li>New option: Reduce the number of required orbs</li>
			<li><a href="https://archipelago.gg/">Archipelago</a> support</li>
		</ul>

		<h1><a href="https://4-2-2.finalfantasyrandomizer.com">Version 4.2.2</a></h1>
		<h2>Maps and overworld</h2>
		<ul>
			<li>Alt Overworld Maps: 3 ProcGen Overworld Maps Preview -- Channel#125, Epic Quest, Archipelago</li>
			<li>Alt Overworld Maps: Compatible with E/F Shuffle</li>
			<li>Experimental Item Placement Flags: Spread Loose Placement, Forward Loose Placement and Loose Npc Balance</li>
			<li>No Overworld: Compatible with E/F Shuffle</li>
			<li>New Adjustements Flag: Quick Minimap Load</li>
		</ul>
		<h2>Gear</h2>
		<ul>
			<li>No Item Magic: Remove all spellcasting abilities from gear</li>
			<li>Experimental: Armor Crafter</li>
		</ul>
		<h2>Fun% and Quality of Life</h2>
		<ul>
			<li>Split Fun% into Fun% and Quality of Life tabs</li>
			<li>New QoL Flag: Renounce InfoChest</li>
		</ul>

		<h1><a href="https://4-2-1.finalfantasyrandomizer.com">Version 4.2.1</a></h1>
		<ul>
			<li>Exp Chests: Chests can give out experience points</li>
			<li>New Starting Equipement Options: Random Type Weapon and Starter Pack</li>
			<li>Gear Info: Include Class Permissions</li>
			<li>New Alt Final Boss: The Sahagin Wagon (Kraken 1, Kraken 2, 2-4 R. Sahags and 2-4 WzSahags)</li>
			<li>New Alt Final Boss: Snake Pit (Tiamat 1, Tiamat 2, 1-6 Asps and 1-6 Cobras)</li>
		</ul>

		<h1><a href="https://4-2-0.finalfantasyrandomizer.com">Version 4.2.0</a></h1>
		<h2>Maps and overworld</h2>
		<ul>
			<li>Faster boat -- increase sailing speed of the SHIP to match the AIRSHIP</li>
			<li>Map edit: Lefein dock & Gaia mountain pass -- provides access to the Lefein region and Gaia by ship</li>
			<li>Map edit: Dragon's Hoard -- moves all the Cardia islands chests to the Bahamut's room</li>
			<li>Map edit: Hall of Dragons -- adds encounters to the hallway leading to Bahamut's floor</li>
			<li>Map edit: Enable encounters on the Chaos floor</li>
			<li>Remove floater -- remove floater from the game</li>

			<li>
				Sanity Checker v2 -- the sanity checker is the
				component that ensures that items are placed so
				that the game is can always be completed.  The new "v2"
				sanity checker allows for alternate maps with much
				more drastic map customization than was possible
				previously, such as "No Overworld".
			</li>

			<li>
				No Overworld -- alternate map option that removes the
				overworld entirely, instead directly linking towns and
				dungeons with a new system of staircases and portals.
			</li>
		</ul>

		<h2>Gear and Items</h2>
		<ul>
			<li>
				Equipment and Magic info -- press select
				while on the magic screen, or in EQUIP mode on the
				weapon or armor screen to get extra information
				about the selected item or spell.
			</li>

			<li>Chestinfo -- show gear stats when opening a chest containing weapon or armor</li>

			<li>Weaponizer -- randomly generate a new set of weapons, with their own stats, special powers, and spellcasting abilities.</li>

			<li>New consumables -- add phoenix down, blast, smoke and full-cure potions to the game</li>

			<li>Start with free equipment</li>

			<li>Exclusive legendary shops -- make it so legendary gear can only be acquired from legendary shops</li>

			<li>
				Opening chests containing the incentive item
				plays the fanfare, even if it is equipment rather
				than a key item.
			</li>

			<li>Xcalber can now be incentivized, or banned</li>

			<li>Exclude gold from scaling -- don't scale treasure chest or enemy gold rewards based on prices or XP scaling.</li>

			<li>Can scale prices down to 0</li>
		</ul>

		<h2>Enemies</h2>
		<ul>
			<li>Hidden Chaos (Chaos in a random treasure chest)</li>
			<li>Mark which chests contain Monster in a Box</li>
			<li>Many new options for controlling which chests are protected by Monster in a Box</li>
			<li>Spoiler bats -- Sky Warrior bats in Temple of Fiends give hints about the stats of the fiend refights and Chaos.</li>
			<li>Obfuscate enemies -- turn every enemy into an Imp</li>
			<li>Buff Bahamut -- when "fight Bahamut" is enabled, make him more powerful</li>
		</ul>

		<h2>Party and classes</h2>
		<ul>
			<li>Can enable dead characters to gain XP</li>
			<li>Thief lockpicking -- once reaching a certain level, a party with a thief can automatically open keylocked doors.</li>
			<li>Thief starting agility -- can now choose between 80, 100, 120</li>
			<li>Set character maximum level lower than 50</li>
		</ul>

		<h2>Other new options and changes</h2>
		<ul>

			<li>
				Load custom player sprites.  See
				the <a href="http://www.groggy.dog/ffr_sprites/">
					Final
					Fantasy Randomizer Sprite Compendium
				</a> for sprite
				sheets you can use and information on making your
				own.
			</li>

			<li>
				Accessible spell names -- Fun% option to rename
				some spells to be easier to distinguish
			</li>

			<li>Spell name obfuscation -- make spell names inaccessible instead</li>

			<li>
				Tabs have been reordered and flags reorganized a
				bit to be in a more logical order.
			</li>

			<li>
				Permalinks -- when visiting the front page, you
				are automatically redirected the site for the latest
				version.  URLs containing seeds and flagsets will
				include the version in the domain name, so they can
				be safely shared, bookmarked or archived, and will
				no longer become invalid when a new version of FFR
				is published.
			</li>

			<li>
				Short ToFR now maintain the requirement to have
				the LUTE and KEY to get to Chaos.  These can be
				removed with the Free Lute and Unlocked ToFR
				flags.
			</li>

			<li>
				Crop friendly mode, changes the background color
				of the start and party select screens so it is
				easier for the restreamer to identify screen
				boundaries when cropping for a race.
			</li>

			<li>
				Disable spell flash and disable tile flicker
				Fun% flags are now enabled by default.  They can be
				unchecked unless "Tournament Safe ROM" is enabled.
			</li>

			<li>
				When "Tournament Safe ROM" is enabled, always
				enables "Disable Damage Tile Flicker", "Disable
				Spell Cast Flash" and "Crop Friendly" flags.
			</li>

			<li>
				Can opt-in to "Slow Screen Wipes", "Slow Battle
				Messages" and "Slow Map Move".  This enables players
				who experience motion sickness from the "speed
				hacks" to run seeds where "speed hacks" are enabled.
			</li>

			<li>The "Blind seed" option is now called "Hide flags".</li>

			<li>
				When "Generate Spoiler Log" is enabled, it will
				be downloaded as a text file instead of appearing in
				the browser console
			</li>

			<li>
				The enemizer enemy "BUM" has been renamed to the
				more tasteful "CHAMP".
			</li>
		</ul>

		<h1><a href="https://4-1-6.finalfantasyrandomizer.com">Version 4.1.6</a></h1>
		<ul>
			<li>Bugfix so that spellcasting blessings don't override spellcasting maluses.</li>
		</ul>

		<h1><a href="https://4-1-5.finalfantasyrandomizer.com">Version 4.1.5</a></h1>
		<h1><a href="https://4-1-4.finalfantasyrandomizer.com">Version 4.1.4</a></h1>
		<h1><a href="https://4-1-3.finalfantasyrandomizer.com">Version 4.1.3</a></h1>
		<h1><a href="https://4-1-2.finalfantasyrandomizer.com">Version 4.1.2</a></h1>

		<ul>
			<li>Spring Tournament 2021 announcements & updates to presets</li>
		</ul>

		<h1><a href="https://4-1-1.finalfantasyrandomizer.com">Version 4.1.1</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Gaia Shortcut</li>
			<li>Add Coneria to Town Shuffle</li>
			<li>Add ToFR Exit</li>
			<li>Include Lute Plate in Short ToFR</li>
			<li>Melmondish Hospitality</li>
			<li>Vampire Attacks Random Town</li>
			<li>Bahamut Cardia Dock</li>
			<li>Extensive Hint Flag</li>
			<li>Shop Reduction</li>
			<li>Legendary Shops</li>
			<li>Consumable Treasure Stack Size</li>
			<li>More Consumable Chests</li>
			<li>Magic Shop Locations: Paired Shuffle</li>
			<li>Nones Gain XP</li>
			<li>Turn Shelters into Ethers</li>
			<li>Deep Dungeon</li>
			<li>Alternate Fiends</li>
			<li>Fight Bahamut</li>
			<li>Random Incentive Location Selection</li>
			<li>No Loose Items in Incentivized Dungeons</li>
			<li>Chance to Run</li>
			<li>Starting Levels</li>
			<li>Thief Agility Buff</li>
			<li>Fun%: Titan Snack</li>
		</ul>

		<h1><a href="https://4-0-1.finalfantasyrandomizer.com">Version 4.0.1</a></h1>
		<h2>New Content</h2>
		<ul>
			<li>Change Log</li>
			<li>Resources Section</li>
		</ul>

		<h1><a href="https://4-0-0.finalfantasyrandomizer.com">Version 4.0.0</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>New Site Layout Released</li>
			<li>Blind Seed</li>
			<li>Unrunnable Formations (Drop Down)</li>
			<li>Trapped Chests</li>
			<li>Trapped Chests: WarMECH, Guardian of the Masamune</li>
			<li>Trapped Chests: Trapped Shards</li>
			<li>Scary Imps</li>
			<li>Randomly Flip Dungeons Floors</li>
			<li>Incentivize Random Chest In Location</li>
			<li>Incentivize Random Chest In Location: Include Mirage and TFC</li>
			<li>Free Lute</li>
			<li>Guaranteed Masamune</li>
			<li>Send Masamune Home</li>
			<li>No Masamune</li>
			<li>Price Scaling (Double-Slider)</li>
			<li>Starting Item Sets (Drop Down)</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Improved Weapon Type Bonus Values</li>
			<li>Removed Everything Unrunnable</li>
			<li>Removed Everything Runnable</li>
			<li>Removed Enemy Formations Unrunnable</li>
			<li>Removed NPC Hint Givers: Randomized in Dungeons</li>
			<li>Removed Linear MP Growth</li>
			<li>Removed v2 Placement</li>
		</ul>


		<h1><a href="https://3-3-0.finalfantasyrandomizer.com">Version 3.3.0</a></h1>
		<h2>New Features</h2>
		<ul>
			<li>Short ToFR: Preserve All Fiend Refights</li>
			<li>All Weapons Cast Magic</li>
			<li>All Weapons Cast Magic: Balanced Shuffle</li>
			<li>Power Word Threshold</li>
			<li>Everything Runnable</li>
			<li>Remove Trap Tiles</li>
			<li>Lich's Revenge</li>
			<li>Free Canoe</li>
			<li>Shop Info</li>
			<li>Pacifist Bosses</li>
			<li>Evade Cap Value (Drop Down)</li>
		</ul>

		<h1>Version 3.2.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>Magic Levels: Tiered Shuffle</li>
			<li>Magic: Mixed Spellbooks</li>
			<li>Swole Pirates</li>
			<li>Enemy Skills &amp; Spells: Tiered Shuffle</li>
			<li>Map Edits: Dwarves and Northwest Passage (Seperate Option)</li>
			<li>Map Edits: Ryukahn Airship Dock (Option)</li>
			<li>Incentivize Katana</li>
			<li>Early King</li>
			<li>Buy Ten (Legacy Flag)</li>
			<li>Battle Magic Menu Wrap Around</li>
			<li>Remove Tail</li>
			<li>Characters Gated by Fiends</li>
			<li>Characters Gated by NPC Key Items</li>
			<li>Gated Characters: Forced Characters</li>
			<li>Gated Characters: Allow Duplicates</li>
			<li>Gated Characters: Allow Promoted Classes</li>
			<li>Boss and Enemy Stats: Double-Sliders</li>
			<li>Boss and ENemy Stats: Seperate HP from Pool</li>
			<li>Party Composition: Allow Promoted Classes</li>
			<li>Save Game When Game Over</li>
			<li>Save Game When Game Over: Dragon Warrior Mode</li>
			<li>Shuffle Astos</li>
			<li>Buff Healing Spells</li>
			<li>NPC Hint Givers: Villagers</li>
			<li>NPC Hint Givers: In Dungeons</li>
			<li>NPC Hint Givers: RNG Dungeon Placement</li>
			<li>NPC Hint Givers: Useless Hints</li>
			<li>Blursed Weapons: Exclude Masamune</li>
			<li>Blursed Weapons and Armor: Double-Sliders</li>
			<li>Balanced Item Magic Shuffle</li>
			<li>Party Draft</li>
			<li>Party Draft: Pool Size</li>
			<li>Party Draft: Include Promoted Classes</li>
			<li>Enable Random Promotions</li>
			<li>Enable Random Promotions: Include Base Classes</li>
			<li>Enable Random Promotions: Class Spoilers</li>
			<li>Linear MP Growth</li>
			<li>Blursed Classes</li>
			<li>Blursed Classes: Chaos Mode</li>
			<li>Magic Charges for Classes (Sliders)</li>
			<li>Lock Hit Mode (Drop Down)</li>
			<li>Allow Unsafe Start Area</li>
			<li>Earlier Ruby</li>
			<li>Guaranteed Ruse Item</li>
			<li>Disable Stun Touch</li>
			<li>Disable Spell Cast Flashing (Fun %)</li>
			<li>Multi-Instrumentalist Sara (Fun %)</li>
			<li>Hurray Dwarf Fate (Fun %)</li>
			<li>Renounce Autosort (Fun %)</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Removed Rebalance Spells</li>
			<li>Removed Enemy Scale Factor</li>
			<li>Removed Boss Scale Factor</li>
			<li>Removed Boss and Enemy HP Clamps</li>
		</ul>

		<h1>Version 3.1.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>ShardCount ShardCount</li>
			<li>Magic Shop Location Shuffle</li>
			<li>Fix Missing Battle RNG Entry</li>
			<li>Shuffle Enemy Scripts: Bosses Only</li>
			<li>Shuffle Eenemy Skills: Bosses Only</li>
			<li>Open Progression: Northern Docks</li>
			<li>Incentivize Vorpal</li>
			<li>Black Blet Crit Rate</li>
			<li>Weapon Crit Rate</li>
			<li>Weapon Bonuses</li>
			<li>Inventory Autosort</li>
			<li>Recruitment Mode: Replace Only Nones</li>
			<li>Randomize Enemies: Enemizer</li>
			<li>World Wealth WorldWealth</li>
			<li>Generate New Spellbook (Spellcrafter)</li>
			<li>Spellcrafter: Mix Spellbooks</li>
			<li>Spellcrafter: Retain Permissions</li>
			<li>All Spell Levels for Knight and Ninja</li>
			<li>Free Tail</li>
			<li>Random Weapon Bonus (Blursed)</li>
			<li>Random Armor Bonus (Blursed)</li>
			<li>Mapman Slot (Fun %)</li>
		</ul>

		<h1>Version 3.0.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>New Site Layout Released</li>
			<li>Spoilers Log</li>
			<li>Rebalance Spells</li>
			<li>Everything Unrunnable</li>
			<li>Unrunnables Strike First and Surprise</li>
			<li>Random Status Attacks</li>
			<li>Lefeinish Hospitality</li>
			<li>Entrance Shuffle: Allow Deep Towns</li>
			<li>EntrancesShuffle: Includes Dead Ends</li>
			<li>EntrancesShuffle: Entrances Mixed with Towns</li>
			<li>Incentivize Main Items</li>
			<li>Incentivize Canoe Item</li>
			<li>Incentivize Floater</li>
			<li>Incentivize Ship and Canal</li>
			<li>Classic Item Placement (v2 Placement)</li>
			<li>Incentivize Titans Trove</li>
			<li>Better Trap Chests</li>
			<li>Free Ship</li>
			<li>Houses Fill HP</li>
			<li>NPC Guillotine</li>
			<li>Fix Hit Chance Cap</li>
			<li>Tavern Recruitment Mode</li>
			<li>Taverns: Hire Only Option</li>
			<li>Generated Waterfall</li>
			<li>Generated Earth 1</li>
			<li>Generated Earth 2</li>
			<li>Shuffle the Original Fiends</li>
			<li>Disable Overworld Saving</li>
			<li>Disable Inn Saving</li>
			<li>Randomize Formations (Enemizer)</li>
			<li>Improved Thief Hit Rate</li>
			<li>Magic Defense Options (Drop Down)</li>
			<li>Menu Color (Fun %)</li>
		</ul>

		<h1>Version 2.6.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>Better Trap Treasure</li>
		</ul>

		<h1>Version 2.5.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>None Class</li>
			<li>Party Composition</li>
			<li>Random Shops</li>
			<li>Enemy Formations Frequency (Drop Down)</li>
			<li>Randomized Treasures (Total Randomization)</li>
			<li>Shuffle Objective NPCs</li>
			<li>Disable Damage Tile Flicker</li>
			<li>Three Battle Palettes (Fun %)</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Fix a bug where the Mystic Key could have been placed in the first two chests of the Temple of Fiends Revisited.</li>
		</ul>

		<h1>Version 2.4.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>Entrance Shuffle</li>
			<li>Encounter Rate (Sliders)</li>
			<li>Trap Tile Shuffle</li>
			<li>Extended Open Progression</li>
			<li>Shortened Temple of Fiends Revisited (Short ToFR)</li>
			<li>Zozo Melmond</li>
			<li>Static EXP Distribution</li>
			<li>Confused Old Men</li>
			<li>Critical Hit Count</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>The venerable Enable Buy 10 Convenience now includes the Caravan!</li>
			<li>Speed Hacks now accelerates the lineup screen when shuffling party members.</li>
			<li>Scale Boss Stats now operates independently of the rest of the monsters.</li>
			<li>Include Morale is now explicit for enemy stat scaling. Uncheck this to force vanilla morale.</li>
		</ul>

		<h1>Version 2.3.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>WarMECH Mode (Drop Down)</li>
			<li>EXP/Gold Progressive Scaling</li>
		</ul>

		<h1>Version 2.2.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>Treasure Hunt (Shards)</li>
			<li>Surprise (Alternate) Final Boss</li>
			<li>Improved Turn Order Randomization</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Enable Dash is now reversed. Running is the default speed now; holding B will slow to half pace.</li>
			<li>Change Unrunnable RUN -> WAIT now defaults to enabled.</li>
		</ul>

		<h1>Version 2.1.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>Unrunnable Formations Shuffle</li>
			<li>Change Unrunnable RUN to WAIT</li>
			<li>Surprise Bonus Shuffle</li>
			<li>Enemy Formation Frequency Shuffle</li>
			<li>Random Weapon and Armor</li>
			<li>Allow Unsafe Pirates</li>
			<li>Force Default Starting GP</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Speed Hacks are now even faster than before in battles.</li>
			<li>The SHIP will now appear in the nearest <b>Inner Sea</b> dock (but never a river) to where it is found.</li>
			<li>Chaos Rush now unlocks all doors in ToFR and provides the LUTE immediately as well.</li>
			<li>Black Belt Absorb Bug Fixed. Black Belt and Master absorb will now always be equal to level if no armor is equipped.</li>
			<li>Enemy AoE Spells on all enemies now also hit the caster.</li>
			<li>Enemy Elemental Resistences Bug Fixed. XFER will now work, and AFIR when cast by enemies will work.</li>
			<li>Ribbon Text Fixed to play nicely with modders editing the ribbon text. Though it may seem strange, ensure when modding the ribbon text to keep its length to 8 characters.</li>
			<li>Start screen displays full flags and seed info (was briefly broken by 2.0 changes to flags)</li>
			<li>Credits Updates</li>
		</ul>

		<h1>Version 2.0.0</h1>
		<h2>New Features</h2>
		<ul>
			<li>NPC Shuffle</li>
			<li>Incentivized Locations</li>
			<li>Incentivized Main NPCs</li>
			<li>Incentivized Fetch Quest NPCs</li>
			<li>Incentivized Items</li>
			<li>Incentivized Quest Items</li>
			<li>Map Edits (Keyless ToFR, Titans Trove, and Open Progression</li>
			<li>Free Airship</li>
			<li>Free Orbs</li>
			<li>Easy Mode</li>
		</ul>

		<h2>Minor Upgrades and Bug-Fixes</h2>
		<ul>
			<li>Castle Ordeals has moved to the Maps tab and renamed to Castle Ordeals Pillars</li>
			<li>Early Bridge was renamed Free Bridge</li>
			<li>Early Rod and Early Canoe have been renamed to Early Sarda Item and Early Sage Item</li>
		</ul>

		<h2>Known Issues</h2>
		<ul>
			<li>A0 HEALs: This can happen with any consumable item but most commonly comes up with HEAL. If you have 99 HEALs from shopping and you open a chest with one inside it will increment it to 100 but the inventory can't display that so it shows A0, A1, A2, etc.</li>
			<li>Bridge Scene on the Canal: This is not an error in the randomizer but actually the original game behavior if you walk over the Canal before walking over the Bridge. That just wasn't possible without the map tweaks and you had no reason to try it unless you had the Canoe.</li>
			<li>Duplicate Item in Shop: In some flagsets the Caravan Item Slot isn't incentivized or the randomizer runs out of incentive items to put there and it picks a random HEAL or HOUSE instead. Since the Shop shuffle also mixes things up before the item placement, a duplicate item can remain after everything is placed.</li>
		</ul>

		<h1>Version 1.0 (and Before)</h1>
		<p>The log of all changes to previous iterations of the Randomizer were lost when the 2,000 year time loop was reset.</p>

	</div>
</div>

